wsdl/SiuiEInvoiceWS.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:intf="http://webservices.utils.svapnt.siveco.ro"
                  xmlns:apachesoap="http://xml.apache.org/xml-soap"
                  xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/"
                  xmlns:xsd="http://www.w3.org/2001/XMLSchema"
                  xmlns:tns1="http://exceptions.webservices.utils.svapnt.siveco.ro"
                  xmlns:impl="http://webservices.utils.svapnt.siveco.ro"
                  targetNamespace="http://webservices.utils.svapnt.siveco.ro"
                  xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
	<wsdl:types>
		<xsd:schema xmlns="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" targetNamespace="http://webservices.utils.svapnt.siveco.ro">
			<xsd:import namespace="http://exceptions.webservices.utils.svapnt.siveco.ro" />
			<xsd:element name="sendEInvoice">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="invoiceFile" type="xsd:string" />
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="sendEInvoiceResponse">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="sendEInvoiceReturn" type="xsd:long" />
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="fault" type="tns1:RaportariException" />
			<xsd:element name="cancelEInvoice">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="serialCode" type="xsd:string" />
						<xsd:element name="serialNumber" type="xsd:string" />
						<xsd:element name="providerFiscalCode" type="xsd:string" />
						<xsd:element name="cancellationDate" type="xsd:dateTime" />
						<xsd:element name="cancellationReason" type="xsd:string" />
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="cancelEInvoiceResponse">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="cancelEInvoiceReturn" type="xsd:int" />
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="getEInvoiceClearingNote">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="serialCode" type="xsd:string" />
						<xsd:element name="serialNumber" type="xsd:string" />
						<xsd:element name="providerFiscalCode" type="xsd:string" />
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="getEInvoiceClearingNoteResponse">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element maxOccurs="unbounded" name="getEInvoiceClearingNoteReturn" type="xsd:string" />
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="getEInvoice">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="serialCode" type="xsd:string" />
						<xsd:element name="serialNumber" type="xsd:string" />
						<xsd:element name="providerFiscalCode" type="xsd:string" />
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="getEInvoiceResponse">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element maxOccurs="unbounded" name="getEInvoiceReturn" type="xsd:string" />
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="getEInvoiceId">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="serialCode" type="xsd:string" />
						<xsd:element name="serialNumber" type="xsd:string" />
						<xsd:element name="providerFiscalCode" type="xsd:string" />
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="getEInvoiceIdResponse">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element maxOccurs="unbounded" name="getEInvoiceIdReturn" type="xsd:string" />
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
		</xsd:schema>
		<xsd:schema xmlns="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" targetNamespace="http://exceptions.webservices.utils.svapnt.siveco.ro">
			<xsd:complexType name="RaportariException">
				<xsd:sequence>
					<xsd:element name="errorCode" type="xsd:int" />
					<xsd:element name="message" nillable="true" type="xsd:string" />
				</xsd:sequence>
			</xsd:complexType>
		</xsd:schema>
	</wsdl:types>
	<wsdl:message name="RaportariException">
		<wsdl:part element="impl:fault" name="fault" />
	</wsdl:message>
	<wsdl:message name="getEInvoiceClearingNoteResponse">
		<wsdl:part element="impl:getEInvoiceClearingNoteResponse" name="parameters" />
	</wsdl:message>
	<wsdl:message name="cancelEInvoiceResponse">
		<wsdl:part element="impl:cancelEInvoiceResponse" name="parameters" />
	</wsdl:message>
	<wsdl:message name="cancelEInvoiceRequest">
		<wsdl:part element="impl:cancelEInvoice" name="parameters" />
	</wsdl:message>
	<wsdl:message name="sendEInvoiceRequest">
		<wsdl:part element="impl:sendEInvoice" name="parameters" />
	</wsdl:message>
	<wsdl:message name="getEInvoiceIdResponse">
		<wsdl:part element="impl:getEInvoiceIdResponse" name="parameters" />
	</wsdl:message>
	<wsdl:message name="getEInvoiceRequest">
		<wsdl:part element="impl:getEInvoice" name="parameters" />
	</wsdl:message>
	<wsdl:message name="getEInvoiceIdRequest">
		<wsdl:part element="impl:getEInvoiceId" name="parameters" />
	</wsdl:message>
	<wsdl:message name="getEInvoiceResponse">
		<wsdl:part element="impl:getEInvoiceResponse" name="parameters" />
	</wsdl:message>
	<wsdl:message name="sendEInvoiceResponse">
		<wsdl:part element="impl:sendEInvoiceResponse" name="parameters" />
	</wsdl:message>
	<wsdl:message name="getEInvoiceClearingNoteRequest">
		<wsdl:part element="impl:getEInvoiceClearingNote" name="parameters" />
	</wsdl:message>
	<wsdl:portType name="SiuiEInvoiceWS">
		<wsdl:operation name="sendEInvoice">
			<wsdl:input message="impl:sendEInvoiceRequest" name="sendEInvoiceRequest" />
			<wsdl:output message="impl:sendEInvoiceResponse" name="sendEInvoiceResponse" />
			<wsdl:fault message="impl:RaportariException" name="RaportariException" />
		</wsdl:operation>
		<wsdl:operation name="cancelEInvoice">
			<wsdl:input message="impl:cancelEInvoiceRequest" name="cancelEInvoiceRequest" />
			<wsdl:output message="impl:cancelEInvoiceResponse" name="cancelEInvoiceResponse" />
			<wsdl:fault message="impl:RaportariException" name="RaportariException" />
		</wsdl:operation>
		<wsdl:operation name="getEInvoiceClearingNote">
			<wsdl:input message="impl:getEInvoiceClearingNoteRequest" name="getEInvoiceClearingNoteRequest" />
			<wsdl:output message="impl:getEInvoiceClearingNoteResponse" name="getEInvoiceClearingNoteResponse" />
			<wsdl:fault message="impl:RaportariException" name="RaportariException" />
		</wsdl:operation>
		<wsdl:operation name="getEInvoice">
			<wsdl:input message="impl:getEInvoiceRequest" name="getEInvoiceRequest" />
			<wsdl:output message="impl:getEInvoiceResponse" name="getEInvoiceResponse" />
			<wsdl:fault message="impl:RaportariException" name="RaportariException" />
		</wsdl:operation>
		<wsdl:operation name="getEInvoiceId">
			<wsdl:input message="impl:getEInvoiceIdRequest" name="getEInvoiceIdRequest" />
			<wsdl:output message="impl:getEInvoiceIdResponse" name="getEInvoiceIdResponse" />
			<wsdl:fault message="impl:RaportariException" name="RaportariException" />
		</wsdl:operation>
	</wsdl:portType>
	<wsdl:binding name="SiuiEInvoiceWSSoapBinding" type="impl:SiuiEInvoiceWS">
		<wsdlsoap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http" />
		<wsdl:operation name="sendEInvoice">
			<wsdlsoap:operation soapAction="" />
			<wsdl:input name="sendEInvoiceRequest">
				<wsdlsoap:body use="literal" />
			</wsdl:input>
			<wsdl:output name="sendEInvoiceResponse">
				<wsdlsoap:body use="literal" />
			</wsdl:output>
			<wsdl:fault name="RaportariException">
				<wsdlsoap:fault name="RaportariException" use="literal" />
			</wsdl:fault>
		</wsdl:operation>
		<wsdl:operation name="cancelEInvoice">
			<wsdlsoap:operation soapAction="" />
			<wsdl:input name="cancelEInvoiceRequest">
				<wsdlsoap:body use="literal" />
			</wsdl:input>
			<wsdl:output name="cancelEInvoiceResponse">
				<wsdlsoap:body use="literal" />
			</wsdl:output>
			<wsdl:fault name="RaportariException">
				<wsdlsoap:fault name="RaportariException" use="literal" />
			</wsdl:fault>
		</wsdl:operation>
		<wsdl:operation name="getEInvoiceClearingNote">
			<wsdlsoap:operation soapAction="" />
			<wsdl:input name="getEInvoiceClearingNoteRequest">
				<wsdlsoap:body use="literal" />
			</wsdl:input>
			<wsdl:output name="getEInvoiceClearingNoteResponse">
				<wsdlsoap:body use="literal" />
			</wsdl:output>
			<wsdl:fault name="RaportariException">
				<wsdlsoap:fault name="RaportariException" use="literal" />
			</wsdl:fault>
		</wsdl:operation>
		<wsdl:operation name="getEInvoice">
			<wsdlsoap:operation soapAction="" />
			<wsdl:input name="getEInvoiceRequest">
				<wsdlsoap:body use="literal" />
			</wsdl:input>
			<wsdl:output name="getEInvoiceResponse">
				<wsdlsoap:body use="literal" />
			</wsdl:output>
			<wsdl:fault name="RaportariException">
				<wsdlsoap:fault name="RaportariException" use="literal" />
			</wsdl:fault>
		</wsdl:operation>
		<wsdl:operation name="getEInvoiceId">
			<wsdlsoap:operation soapAction="" />
			<wsdl:input name="getEInvoiceIdRequest">
				<wsdlsoap:body use="literal" />
			</wsdl:input>
			<wsdl:output name="getEInvoiceIdResponse">
				<wsdlsoap:body use="literal" />
			</wsdl:output>
			<wsdl:fault name="RaportariException">
				<wsdlsoap:fault name="RaportariException" use="literal" />
			</wsdl:fault>
		</wsdl:operation>
	</wsdl:binding>
	<wsdl:service name="SiuiEInvoiceWSService">
		<wsdl:port binding="impl:SiuiEInvoiceWSSoapBinding" name="SiuiEInvoiceWS">
			<wsdlsoap:address location="https://testsiui.siui.ro/svapntws/services/SiuiEInvoiceWS" />
		</wsdl:port>
	</wsdl:service>
</wsdl:definitions>
