xsd/prescriere/HospitalRegisterPERequest.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema targetNamespace="http://www.cnas.ro/pel/1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns="http://www.cnas.ro/pel/1.0" elementFormDefault="qualified" id="HospitalRegisterPERequest">
	<xs:annotation>
		<xs:documentation xml:lang="ro">Structura unei cereri de validare pentru reţete eliberate în farmacie (prescripţie electronică)</xs:documentation>
	</xs:annotation>
	<xs:include schemaLocation="CommonReportingTypesPE.xsd"/>
	<xs:element name="request">
		<xs:annotation>
			<xs:documentation xml:lang="ro">Cerere de validare pentru reţete eliberate de farmacii cu circuit deschis</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:complexContent>
				<xs:extension base="requestContractType">
					<xs:sequence>
						<xs:element name="hospitalPrescription">
							<xs:annotation>
								<xs:documentation xml:lang="ro">Colecţie reţete eliberate</xs:documentation>
							</xs:annotation>
							<xs:complexType>
								<xs:complexContent>
									<xs:extension base="prescriptionType">
										<xs:sequence>
											<xs:element name="hospRegDrug" minOccurs="0" maxOccurs="unbounded">
												<xs:annotation>
													<xs:documentation xml:lang="ro">Colecţie medicamente eliberate pe reţetă </xs:documentation>
												</xs:annotation>
												<xs:complexType>
													<xs:complexContent>
														<xs:extension base="prescriptionDrugType">
															<xs:attribute name="issuedQuantity" type="xs:double" use="required">
																<xs:annotation>
																	<xs:documentation xml:lang="ro">Cantitatea eliberata de UT</xs:documentation>
																</xs:annotation>
															</xs:attribute>
															<xs:attribute name="retailPrice" type="xs:double" use="optional">
																<xs:annotation>
																	<xs:documentation xml:lang="ro">Preţul cu amănuntul total</xs:documentation>
																</xs:annotation>
															</xs:attribute>
															<xs:attribute name="invoiceNoCas" use="optional">
																<xs:annotation>
																	<xs:documentation xml:lang="ro">Seria si numarul facturii catre casa de asigurari de sanatate</xs:documentation>
																</xs:annotation>
																<xs:simpleType>
																	<xs:restriction base="xs:string">
																		<xs:maxLength value="20"/>
																	</xs:restriction>
																</xs:simpleType>
															</xs:attribute>
															<xs:attribute name="invoiceDateCas" type="xs:date" use="optional">
																<xs:annotation>
																	<xs:documentation xml:lang="ro">Data facturii catre casa de asigurari de sanatate</xs:documentation>
																</xs:annotation>
															</xs:attribute>
															<xs:attribute name="dayDose" type="xs:double" use="optional">
																<xs:annotation>
																	<xs:documentation xml:lang="ro">Doza zilnica</xs:documentation>
																</xs:annotation>
															</xs:attribute>
															<xs:attribute name="invoiceNoPurchase" use="optional">
																<xs:annotation>
																	<xs:documentation xml:lang="ro">Seria si numarul facturii de achizitie</xs:documentation>
																</xs:annotation>
																<xs:simpleType>
																	<xs:restriction base="xs:string">
																		<xs:maxLength value="20"/>
																	</xs:restriction>
																</xs:simpleType>
															</xs:attribute>
															<xs:attribute name="invoiceDatePurchase" type="xs:date" use="optional">
																<xs:annotation>
																	<xs:documentation xml:lang="ro">Data facturii de achizitie</xs:documentation>
																</xs:annotation>
															</xs:attribute>
															<xs:attribute name="uicPurchase" use="optional">
																<xs:annotation>
																	<xs:documentation xml:lang="ro">Codul unic de identificare al furnizorului de pe factura de achizitie</xs:documentation>
																</xs:annotation>
																<xs:simpleType>
																	<xs:restriction base="xs:string">
																		<xs:maxLength value="20"/>
																	</xs:restriction>
																</xs:simpleType>
															</xs:attribute>
															<xs:attribute name="drugsGroupNo" use="optional">
																<xs:annotation>
																	<xs:documentation xml:lang="ro">Numarul lotului de medicamente</xs:documentation>
																</xs:annotation>
																<xs:simpleType>
																	<xs:restriction base="xs:string">
																		<xs:maxLength value="40"/>
																	</xs:restriction>
																</xs:simpleType>
															</xs:attribute>
															<xs:attribute name="drugsGroupDate" type="xs:date" use="optional">
																<xs:annotation>
																	<xs:documentation xml:lang="ro">Data lotului de medicamente</xs:documentation>
																</xs:annotation>
															</xs:attribute>
															<xs:attribute name="quantityUTPurchase" type="xs:double" use="optional">
																<xs:annotation>
																	<xs:documentation xml:lang="ro">Cantitate de UT facturata</xs:documentation>
																</xs:annotation>
															</xs:attribute>
															<xs:attribute name="vatPercent" type="xs:double" use="optional">
																<xs:annotation>
																	<xs:documentation xml:lang="ro">TVA</xs:documentation>
																</xs:annotation>
															</xs:attribute>
															<xs:attribute name="valueTVA" type="xs:double" use="optional">
																<xs:annotation>
																	<xs:documentation xml:lang="ro">Valoare TVA</xs:documentation>
																</xs:annotation>
															</xs:attribute>
															<xs:attribute name="valueWithoutTVA" type="xs:double" use="optional">
																<xs:annotation>
																	<xs:documentation xml:lang="ro">Valoare fara TVA</xs:documentation>
																</xs:annotation>
															</xs:attribute>
															<xs:attribute name="valueTotal" type="xs:double" use="optional">
																<xs:annotation>
																	<xs:documentation xml:lang="ro">Valoare totala factura</xs:documentation>
																</xs:annotation>
															</xs:attribute>
															<xs:attribute name="priceUT" type="xs:double" use="optional">
																<xs:annotation>
																	<xs:documentation xml:lang="ro">Pret unitar</xs:documentation>
																</xs:annotation>
															</xs:attribute>
															<xs:attribute name="issuedByIdentifier" type="xs:string" use="optional">
																<xs:annotation>
																	<xs:documentation xml:lang="ro">Campul se completeaza in caz de eliberare partiala si reprezinta identificatorul farmaciei care a eliberat medicamentul (providerCode_workPlace)</xs:documentation>
																</xs:annotation>
															</xs:attribute>
															<xs:attribute name="fractionNo" type="xs:integer" use="optional">
																<xs:annotation>
																	<xs:documentation xml:lang="ro">Numarul care identifica a cata farmacie care elibereaza o reteta este cea curenta</xs:documentation>
																</xs:annotation>
															</xs:attribute>
															<xs:attribute name="nhpCategory" use="optional">
																<xs:annotation>
																	<xs:documentation xml:lang="ro">Categoria programului naţional de sănătate</xs:documentation>
																</xs:annotation>
																<xs:simpleType>
																	<xs:restriction base="xs:string">
																		<xs:maxLength value="20"/>
																	</xs:restriction>
																</xs:simpleType>
															</xs:attribute>
														</xs:extension>
													</xs:complexContent>
												</xs:complexType>
											</xs:element>
										</xs:sequence>
										<xs:attribute name="signature" type="xs:base64Binary" use="optional">
											<xs:annotation>
												<xs:documentation xml:lang="ro">
													Semnătura digitală a pacientului in format Base64, utilizând certificatul de pe card.
													Se completează numai dacă este completat şi numărul de card şi cuprinde atributele "personCID|cardNo|issueDate|series/no".
													Dacă este completat câmpul authorizedPersonCid, atributele devin: "authorizedPersonCid|cardNo|issueDate|series/no".
												</xs:documentation>
											</xs:annotation>
										</xs:attribute>
										<xs:attribute name="signHash" type="xs:hexBinary" use="optional">
											<xs:annotation>
												<xs:documentation xml:lang="ro">Nu se mai foloseşte!</xs:documentation>
											</xs:annotation>
										</xs:attribute>
										<xs:attribute name="authorizedPersonCid" use="optional">
											<xs:annotation>
												<xs:documentation xml:lang="ro">Codul de identificare a persoanei imputernicite</xs:documentation>
											</xs:annotation>
											<xs:simpleType>
												<xs:restriction base="xs:string">
													<xs:maxLength value="20"/>
												</xs:restriction>
											</xs:simpleType>
										</xs:attribute>
										<xs:attribute name="issueDate" type="xs:date" use="required">
											<xs:annotation>
												<xs:documentation xml:lang="ro">Data eliberarii retetei</xs:documentation>
											</xs:annotation>
										</xs:attribute>
										<xs:attribute name="isReleased" type="xs:boolean" use="optional">
											<xs:annotation>
												<xs:documentation xml:lang="ro">Flag care indica daca eliberarea a fost finalizata; in functie de acest flag se poate sterge/sau nu reteta de la farmacie</xs:documentation>
											</xs:annotation>
										</xs:attribute>
										<xs:attribute name="fractionNo" type="xs:integer" use="required">
											<xs:annotation>
												<xs:documentation xml:lang="ro">Numarul care identifica a cata farmacie care elibereaza o reteta este cea curenta</xs:documentation>
											</xs:annotation>
										</xs:attribute>
										<xs:attribute name="physicianSpeciality" use="optional">
											<xs:annotation>
												<xs:documentation xml:lang="ro">Codul specialităţii medicului prescriptor</xs:documentation>
											</xs:annotation>
											<xs:simpleType>
												<xs:restriction base="xs:string">
													<xs:maxLength value="20"/>
												</xs:restriction>
											</xs:simpleType>
										</xs:attribute>
									</xs:extension>
								</xs:complexContent>
							</xs:complexType>
						</xs:element>
					</xs:sequence>
				</xs:extension>
			</xs:complexContent>
		</xs:complexType>
	</xs:element>
</xs:schema>
