xsd/raportare/Feedback_Ambulante.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema targetNamespace="http://www.cnas.ro/siui/2.0" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns="http://www.cnas.ro/siui/2.0" elementFormDefault="qualified" id="Feedback_Ambulante">
    <xs:element name="report">
        <xs:annotation>
            <xs:documentation xml:lang="ro">Răspuns la raportarea de servicii de asistenţă medicală de urgentă</xs:documentation>
        </xs:annotation>
        <xs:complexType>
            <xs:sequence>
                <xs:element name="emergServices" minOccurs="0">
                    <xs:annotation>
                        <xs:documentation xml:lang="en">Emergency services</xs:documentation>
                        <xs:documentation xml:lang="ro">Lista de servicii de urgenţă</xs:documentation>
                    </xs:annotation>
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="emergService" minOccurs="0" maxOccurs="unbounded">
                                <xs:annotation>
                                    <xs:documentation xml:lang="ro">Serviciu de urgenţă validat</xs:documentation>
                                </xs:annotation>
                                <xs:complexType>
                                    <xs:sequence>
                                        <xs:element name="errors" minOccurs="0">
                                            <xs:annotation>
                                                <xs:documentation xml:lang="en">Report processing errors</xs:documentation>
                                                <xs:documentation xml:lang="ro">Erori aparute la procesarea raportarii</xs:documentation>
                                            </xs:annotation>
                                            <xs:complexType>
                                                <xs:sequence>
                                                    <xs:element name="error" minOccurs="0" maxOccurs="unbounded">
                                                        <xs:annotation>
                                                            <xs:documentation xml:lang="ro">Definitia unei erori de raportare (poate conţine comentariul operatorului)</xs:documentation>
                                                        </xs:annotation>
                                                        <xs:complexType mixed="true">
                                                            <xs:attribute name="code" type="xs:string" use="required">
                                                                <xs:annotation>
                                                                    <xs:documentation xml:lang="en">Error code</xs:documentation>
                                                                    <xs:documentation xml:lang="ro">Codul de eroare</xs:documentation>
                                                                </xs:annotation>
                                                            </xs:attribute>
                                                            <xs:attribute name="errorType" use="optional">
                                                                <xs:annotation>
                                                                    <xs:documentation xml:lang="ro">Tip de eroare in functie de severitate.</xs:documentation>
                                                                </xs:annotation>
                                                                <xs:simpleType>
                                                                    <xs:restriction base="xs:unsignedInt">
                                                                        <xs:enumeration value="0">
                                                                            <xs:annotation>
                                                                                <xs:documentation xml:lang="ro">Avertizare</xs:documentation>
                                                                            </xs:annotation>
                                                                        </xs:enumeration>
                                                                        <xs:enumeration value="1">
                                                                            <xs:annotation>
                                                                                <xs:documentation xml:lang="ro">Eroare</xs:documentation>
                                                                            </xs:annotation>
                                                                        </xs:enumeration>
                                                                    </xs:restriction>
                                                                </xs:simpleType>
                                                            </xs:attribute>
                                                        </xs:complexType>
                                                    </xs:element>
                                                </xs:sequence>
                                            </xs:complexType>
                                        </xs:element>
                                    </xs:sequence>
                                    <xs:attribute name="AppID" type="xs:string" use="required">
                                        <xs:annotation>
                                            <xs:documentation xml:lang="en">Unique application identifier of the emergency service</xs:documentation>
                                            <xs:documentation xml:lang="ro">Identificator unic in aplicatie al serviciului de urgenta raportat</xs:documentation>
                                        </xs:annotation>
                                    </xs:attribute>
                                    <xs:attribute name="state" type="xs:boolean" use="required">
                                        <xs:annotation>
                                            <xs:documentation xml:lang="en">State of the emergency service</xs:documentation>
                                            <xs:documentation xml:lang="ro">Starea serviciului de urgenta raportat (validat/nevalidat)</xs:documentation>
                                        </xs:annotation>
                                    </xs:attribute>
                                </xs:complexType>
                            </xs:element>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
                <xs:element name="transServices" minOccurs="0">
                    <xs:annotation>
                        <xs:documentation xml:lang="ro">Lista serviciilor validate de sistem</xs:documentation>
                    </xs:annotation>
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="transAutoServices" minOccurs="0">
                                <xs:annotation>
                                    <xs:documentation xml:lang="ro">Lista serviciilor de transport auto</xs:documentation>
                                </xs:annotation>
                                <xs:complexType>
                                    <xs:sequence>
                                        <xs:element name="transAutoService" minOccurs="0" maxOccurs="unbounded">
                                            <xs:annotation>
                                                <xs:documentation xml:lang="ro">Serviciu de transport auto validat</xs:documentation>
                                            </xs:annotation>
                                            <xs:complexType>
                                                <xs:sequence>
                                                    <xs:element name="errors" minOccurs="0">
                                                        <xs:annotation>
                                                            <xs:documentation xml:lang="ro">Lista erorilor detectate de sistem</xs:documentation>
                                                        </xs:annotation>
                                                        <xs:complexType>
                                                            <xs:sequence>
                                                                <xs:element name="error" minOccurs="0" maxOccurs="unbounded">
                                                                    <xs:annotation>
                                                                        <xs:documentation xml:lang="ro">Eroare detectată de sistem (poate conţine comentariul operatorului)</xs:documentation>
                                                                    </xs:annotation>
                                                                    <xs:complexType mixed="true">
                                                                        <xs:attribute name="code" type="xs:string" use="required">
                                                                            <xs:annotation>
                                                                                <xs:documentation xml:lang="ro">Codul de eroare</xs:documentation>
                                                                            </xs:annotation>
                                                                        </xs:attribute>
                                                                        <xs:attribute name="errorType" use="optional">
                                                                            <xs:annotation>
                                                                                <xs:documentation xml:lang="ro">Tip de eroare in functie de severitate.</xs:documentation>
                                                                            </xs:annotation>
                                                                            <xs:simpleType>
                                                                                <xs:restriction base="xs:unsignedInt">
                                                                                    <xs:enumeration value="0">
                                                                                        <xs:annotation>
                                                                                            <xs:documentation xml:lang="ro">Avertizare</xs:documentation>
                                                                                        </xs:annotation>
                                                                                    </xs:enumeration>
                                                                                    <xs:enumeration value="1">
                                                                                        <xs:annotation>
                                                                                            <xs:documentation xml:lang="ro">Eroare</xs:documentation>
                                                                                        </xs:annotation>
                                                                                    </xs:enumeration>
                                                                                </xs:restriction>
                                                                            </xs:simpleType>
                                                                        </xs:attribute>
                                                                    </xs:complexType>
                                                                </xs:element>
                                                            </xs:sequence>
                                                        </xs:complexType>
                                                    </xs:element>
                                                </xs:sequence>
                                                <xs:attribute name="AppID" type="xs:string" use="required">
                                                    <xs:annotation>
                                                        <xs:documentation xml:lang="ro">Identificatorul unic al înregistrării</xs:documentation>
                                                    </xs:annotation>
                                                </xs:attribute>
                                                <xs:attribute name="state" type="xs:boolean" use="required">
                                                    <xs:annotation>
                                                        <xs:documentation xml:lang="ro">Indică dacă înregistrarea raportată a fost validată sau nu</xs:documentation>
                                                    </xs:annotation>
                                                </xs:attribute>
                                            </xs:complexType>
                                        </xs:element>
                                    </xs:sequence>
                                </xs:complexType>
                            </xs:element>
                            <xs:element name="transWaterServices" minOccurs="0">
                                <xs:annotation>
                                    <xs:documentation xml:lang="ro">Lista serviciilor de transport naval</xs:documentation>
                                </xs:annotation>
                                <xs:complexType>
                                    <xs:sequence>
                                        <xs:element name="transWaterService" minOccurs="0" maxOccurs="unbounded">
                                            <xs:annotation>
                                                <xs:documentation xml:lang="ro">Sserviciu de transport auto validat</xs:documentation>
                                            </xs:annotation>
                                            <xs:complexType>
                                                <xs:sequence>
                                                    <xs:element name="errors" minOccurs="0">
                                                        <xs:annotation>
                                                            <xs:documentation xml:lang="ro">Lista de erori detectate de sistem</xs:documentation>
                                                        </xs:annotation>
                                                        <xs:complexType>
                                                            <xs:sequence>
                                                                <xs:element name="error" minOccurs="0" maxOccurs="unbounded">
                                                                    <xs:annotation>
                                                                        <xs:documentation xml:lang="ro">Eroare detectată de sistem (poate conţine comentariile operatorului)</xs:documentation>
                                                                    </xs:annotation>
                                                                    <xs:complexType mixed="true">
                                                                        <xs:attribute name="code" type="xs:string" use="required">
                                                                            <xs:annotation>
                                                                                <xs:documentation xml:lang="ro">Codul de eroare</xs:documentation>
                                                                            </xs:annotation>
                                                                        </xs:attribute>
                                                                        <xs:attribute name="errorType" use="optional">
                                                                            <xs:annotation>
                                                                                <xs:documentation xml:lang="ro">Tip de eroare in functie de severitate.</xs:documentation>
                                                                            </xs:annotation>
                                                                            <xs:simpleType>
                                                                                <xs:restriction base="xs:unsignedInt">
                                                                                    <xs:enumeration value="0">
                                                                                        <xs:annotation>
                                                                                            <xs:documentation xml:lang="ro">Avertizare</xs:documentation>
                                                                                        </xs:annotation>
                                                                                    </xs:enumeration>
                                                                                    <xs:enumeration value="1">
                                                                                        <xs:annotation>
                                                                                            <xs:documentation xml:lang="ro">Eroare</xs:documentation>
                                                                                        </xs:annotation>
                                                                                    </xs:enumeration>
                                                                                </xs:restriction>
                                                                            </xs:simpleType>
                                                                        </xs:attribute>
                                                                    </xs:complexType>
                                                                </xs:element>
                                                            </xs:sequence>
                                                        </xs:complexType>
                                                    </xs:element>
                                                </xs:sequence>
                                                <xs:attribute name="AppID" type="xs:string" use="required">
                                                    <xs:annotation>
                                                        <xs:documentation xml:lang="ro">Identificatorul unic al înregistrării</xs:documentation>
                                                    </xs:annotation>
                                                </xs:attribute>
                                                <xs:attribute name="state" type="xs:boolean" use="required">
                                                    <xs:annotation>
                                                        <xs:documentation xml:lang="ro">Indică dacă înregistrarea raportată a fost validată sau nu</xs:documentation>
                                                    </xs:annotation>
                                                </xs:attribute>
                                            </xs:complexType>
                                        </xs:element>
                                    </xs:sequence>
                                </xs:complexType>
                            </xs:element>
                            <xs:element name="transAirServices" minOccurs="0">
                                <xs:annotation>
                                    <xs:documentation xml:lang="ro">Lista serviciilor de transport aerian</xs:documentation>
                                </xs:annotation>
                                <xs:complexType>
                                    <xs:sequence>
                                        <xs:element name="transAirService" minOccurs="0" maxOccurs="unbounded">
                                            <xs:annotation>
                                                <xs:documentation xml:lang="ro">Serviciu de transport aerian validat</xs:documentation>
                                            </xs:annotation>
                                            <xs:complexType>
                                                <xs:sequence>
                                                    <xs:element name="errors" minOccurs="0">
                                                        <xs:annotation>
                                                            <xs:documentation xml:lang="ro">Lista erorilor detectate de sistem</xs:documentation>
                                                        </xs:annotation>
                                                        <xs:complexType>
                                                            <xs:sequence>
                                                                <xs:element name="error" minOccurs="0" maxOccurs="unbounded">
                                                                    <xs:annotation>
                                                                        <xs:documentation xml:lang="ro">Eroare detectată (poate conţine comentariul operatorului)</xs:documentation>
                                                                    </xs:annotation>
                                                                    <xs:complexType mixed="true">
                                                                        <xs:attribute name="code" type="xs:string" use="required">
                                                                            <xs:annotation>
                                                                                <xs:documentation xml:lang="ro">Codul de eroare</xs:documentation>
                                                                            </xs:annotation>
                                                                        </xs:attribute>
                                                                        <xs:attribute name="errorType" use="optional">
                                                                            <xs:annotation>
                                                                                <xs:documentation xml:lang="ro">Tip de eroare in functie de severitate.</xs:documentation>
                                                                            </xs:annotation>
                                                                            <xs:simpleType>
                                                                                <xs:restriction base="xs:unsignedInt">
                                                                                    <xs:enumeration value="0">
                                                                                        <xs:annotation>
                                                                                            <xs:documentation xml:lang="ro">Avertizare</xs:documentation>
                                                                                        </xs:annotation>
                                                                                    </xs:enumeration>
                                                                                    <xs:enumeration value="1">
                                                                                        <xs:annotation>
                                                                                            <xs:documentation xml:lang="ro">Eroare</xs:documentation>
                                                                                        </xs:annotation>
                                                                                    </xs:enumeration>
                                                                                </xs:restriction>
                                                                            </xs:simpleType>
                                                                        </xs:attribute>
                                                                    </xs:complexType>
                                                                </xs:element>
                                                            </xs:sequence>
                                                        </xs:complexType>
                                                    </xs:element>
                                                </xs:sequence>
                                                <xs:attribute name="AppID" type="xs:string" use="required">
                                                    <xs:annotation>
                                                        <xs:documentation xml:lang="ro">Identificatorul unic al înregistrării</xs:documentation>
                                                    </xs:annotation>
                                                </xs:attribute>
                                                <xs:attribute name="state" type="xs:boolean" use="required">
                                                    <xs:annotation>
                                                        <xs:documentation xml:lang="ro">Indică dacă înregistrarea raportată a fost validată sau nu</xs:documentation>
                                                    </xs:annotation>
                                                </xs:attribute>
                                            </xs:complexType>
                                        </xs:element>
                                    </xs:sequence>
                                </xs:complexType>
                            </xs:element>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
            </xs:sequence>
            <xs:attribute name="AppID" type="xs:string" use="required">
                <xs:annotation>
                    <xs:documentation xml:lang="ro">Identificatorul unic al înregistrării</xs:documentation>
                </xs:annotation>
            </xs:attribute>
        </xs:complexType>
    </xs:element>
</xs:schema>
