xsd/raportare/Feedback_RECA_RECS.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema targetNamespace="http://www.cnas.ro/siui/2.0" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns="http://www.cnas.ro/siui/2.0" elementFormDefault="qualified" id="Feedback_RECA_RECS">
    <xs:element name="report">
        <xs:annotation>
            <xs:documentation xml:lang="ro">Răspuns la raportarea furnizorilor de servicii de recuperare în sanatorii</xs:documentation>
        </xs:annotation>
        <xs:complexType>
            <xs:sequence>
                <xs:choice>
                    <xs:element name="recoveryAmbServices">
                        <xs:annotation>
                            <xs:documentation xml:lang="ro">Lista serviciilor de recuperare ambulatorii</xs:documentation>
                        </xs:annotation>
                        <xs:complexType>
                            <xs:sequence>
                                <xs:element name="recoveryAmbService" minOccurs="0" maxOccurs="unbounded">
                                    <xs:annotation>
                                        <xs:documentation xml:lang="ro">Serviciu raportat</xs:documentation>
                                    </xs:annotation>
                                    <xs:complexType>
                                        <xs:sequence>
                                            <xs:element name="errors" minOccurs="0">
                                                <xs:annotation>
                                                    <xs:documentation xml:lang="ro">Lista erorilor raportate de SIUI</xs:documentation>
                                                </xs:annotation>
                                                <xs:complexType>
                                                    <xs:sequence>
                                                        <xs:element name="error" minOccurs="0" maxOccurs="unbounded">
                                                            <xs:annotation>
                                                                <xs:documentation xml:lang="ro">Descriere eroare (conţine text înclus)</xs:documentation>
                                                            </xs:annotation>
                                                            <xs:complexType mixed="true">
                                                                <xs:attribute name="code" type="xs:string" use="required">
                                                                    <xs:annotation>
                                                                        <xs:documentation xml:lang="ro">Codul erorii (valoare din nomenclatorul de erori)</xs:documentation>
                                                                    </xs:annotation>
                                                                </xs:attribute>
                                                                <xs:attribute name="errorType" use="optional">
                                                                    <xs:annotation>
                                                                        <xs:documentation xml:lang="ro">Tip de eroare in functie de severitate.</xs:documentation>
                                                                    </xs:annotation>
                                                                    <xs:simpleType>
                                                                        <xs:restriction base="xs:unsignedInt">
                                                                            <xs:enumeration value="0">
                                                                                <xs:annotation>
                                                                                    <xs:documentation xml:lang="ro">Averizare</xs:documentation>
                                                                                </xs:annotation>
                                                                            </xs:enumeration>
                                                                            <xs:enumeration value="1">
                                                                                <xs:annotation>
                                                                                    <xs:documentation xml:lang="ro">Eroare</xs:documentation>
                                                                                </xs:annotation>
                                                                            </xs:enumeration>
                                                                        </xs:restriction>
                                                                    </xs:simpleType>
                                                                </xs:attribute>
                                                            </xs:complexType>
                                                        </xs:element>
                                                    </xs:sequence>
                                                </xs:complexType>
                                            </xs:element>
                                            <xs:element name="services" minOccurs="0">
                                                <xs:annotation>
                                                    <xs:documentation xml:lang="ro">Colecţie de servicii</xs:documentation>
                                                </xs:annotation>
                                                <xs:complexType>
                                                    <xs:sequence>
                                                        <xs:element name="service" maxOccurs="unbounded">
                                                            <xs:annotation>
                                                                <xs:documentation xml:lang="ro">Serviciu</xs:documentation>
                                                            </xs:annotation>
                                                            <xs:complexType>
                                                                <xs:sequence>
                                                                    <xs:element name="errors" minOccurs="0">
                                                                        <xs:annotation>
                                                                            <xs:documentation xml:lang="ro">Lista erorilor raportate de SIUI</xs:documentation>
                                                                        </xs:annotation>
                                                                        <xs:complexType>
                                                                            <xs:sequence>
                                                                                <xs:element name="error" minOccurs="0" maxOccurs="unbounded">
                                                                                    <xs:annotation>
                                                                                        <xs:documentation xml:lang="ro">Descriere eroare (conţine text înclus)</xs:documentation>
                                                                                    </xs:annotation>
                                                                                    <xs:complexType mixed="true">
                                                                                        <xs:attribute name="code" type="xs:string" use="required">
                                                                                            <xs:annotation>
                                                                                                <xs:documentation xml:lang="ro">Codul erorii (valoare din nomenclatorul de erori)</xs:documentation>
                                                                                            </xs:annotation>
                                                                                        </xs:attribute>
                                                                                        <xs:attribute name="errorType" use="optional">
                                                                                            <xs:annotation>
                                                                                                <xs:documentation xml:lang="ro">Tip de eroare in functie de severitate.</xs:documentation>
                                                                                            </xs:annotation>
                                                                                            <xs:simpleType>
                                                                                                <xs:restriction base="xs:unsignedInt">
                                                                                                    <xs:enumeration value="0">
                                                                                                        <xs:annotation>
                                                                                                            <xs:documentation xml:lang="ro">Avertizare</xs:documentation>
                                                                                                        </xs:annotation>
                                                                                                    </xs:enumeration>
                                                                                                    <xs:enumeration value="1">
                                                                                                        <xs:annotation>
                                                                                                            <xs:documentation xml:lang="ro">Eroare</xs:documentation>
                                                                                                        </xs:annotation>
                                                                                                    </xs:enumeration>
                                                                                                </xs:restriction>
                                                                                            </xs:simpleType>
                                                                                        </xs:attribute>
                                                                                    </xs:complexType>
                                                                                </xs:element>
                                                                            </xs:sequence>
                                                                        </xs:complexType>
                                                                    </xs:element>
                                                                    <xs:element name="dailyCure" minOccurs="0" maxOccurs="unbounded">
                                                                        <xs:annotation>
                                                                            <xs:documentation xml:lang="ro">Sedinte cura</xs:documentation>
                                                                        </xs:annotation>
                                                                        <xs:complexType>
                                                                            <xs:sequence>
                                                                                <xs:element name="errors" minOccurs="0">
                                                                                    <xs:annotation>
                                                                                        <xs:documentation xml:lang="ro">Lista erorilor raportate de SIUI</xs:documentation>
                                                                                    </xs:annotation>
                                                                                    <xs:complexType>
                                                                                        <xs:sequence>
                                                                                            <xs:element name="error" minOccurs="0" maxOccurs="unbounded">
                                                                                                <xs:annotation>
                                                                                                    <xs:documentation xml:lang="ro">Descriere eroare (conţine text înclus)</xs:documentation>
                                                                                                </xs:annotation>
                                                                                                <xs:complexType mixed="true">
                                                                                                    <xs:attribute name="code" type="xs:string" use="required">
                                                                                                        <xs:annotation>
                                                                                                            <xs:documentation xml:lang="ro">Codul erorii (valoare din nomenclatorul de erori)</xs:documentation>
                                                                                                        </xs:annotation>
                                                                                                    </xs:attribute>
                                                                                                    <xs:attribute name="errorType" use="optional">
                                                                                                        <xs:annotation>
                                                                                                            <xs:documentation xml:lang="ro">Tip de eroare in functie de severitate.</xs:documentation>
                                                                                                        </xs:annotation>
                                                                                                        <xs:simpleType>
                                                                                                            <xs:restriction base="xs:unsignedInt">
                                                                                                                <xs:enumeration value="0">
                                                                                                                    <xs:annotation>
                                                                                                                        <xs:documentation xml:lang="ro">Avertizare</xs:documentation>
                                                                                                                    </xs:annotation>
                                                                                                                </xs:enumeration>
                                                                                                                <xs:enumeration value="1">
                                                                                                                    <xs:annotation>
                                                                                                                        <xs:documentation xml:lang="ro">Eroare</xs:documentation>
                                                                                                                    </xs:annotation>
                                                                                                                </xs:enumeration>
                                                                                                            </xs:restriction>
                                                                                                        </xs:simpleType>
                                                                                                    </xs:attribute>
                                                                                                </xs:complexType>
                                                                                            </xs:element>
                                                                                        </xs:sequence>
                                                                                    </xs:complexType>
                                                                                </xs:element>
                                                                                <xs:element name="details" minOccurs="0">
                                                                                    <xs:annotation>
                                                                                        <xs:documentation xml:lang="ro">Colecţie de proceduri</xs:documentation>
                                                                                    </xs:annotation>
                                                                                    <xs:complexType>
                                                                                        <xs:sequence>
                                                                                            <xs:element name="detail" maxOccurs="unbounded">
                                                                                                <xs:annotation>
                                                                                                    <xs:documentation xml:lang="ro">Proceduri</xs:documentation>
                                                                                                </xs:annotation>
                                                                                                <xs:complexType>
                                                                                                    <xs:sequence>
                                                                                                        <xs:element name="errors" minOccurs="0">
                                                                                                            <xs:annotation>
                                                                                                                <xs:documentation xml:lang="ro">Lista erorilor raportate de SIUI</xs:documentation>
                                                                                                            </xs:annotation>
                                                                                                            <xs:complexType>
                                                                                                                <xs:sequence>
                                                                                                                    <xs:element name="error" minOccurs="0" maxOccurs="unbounded">
                                                                                                                        <xs:annotation>
                                                                                                                            <xs:documentation xml:lang="ro">Descriere eroare (conţine text înclus)</xs:documentation>
                                                                                                                        </xs:annotation>
                                                                                                                        <xs:complexType mixed="true">
                                                                                                                            <xs:attribute name="code" type="xs:string" use="required">
                                                                                                                                <xs:annotation>
                                                                                                                                    <xs:documentation xml:lang="ro">Codul erorii (valoare din nomenclatorul de erori)</xs:documentation>
                                                                                                                                </xs:annotation>
                                                                                                                            </xs:attribute>
                                                                                                                            <xs:attribute name="errorType" use="optional">
                                                                                                                                <xs:annotation>
                                                                                                                                    <xs:documentation xml:lang="ro">Tip de eroare in functie de severitate.</xs:documentation>
                                                                                                                                </xs:annotation>
                                                                                                                                <xs:simpleType>
                                                                                                                                    <xs:restriction base="xs:unsignedInt">
                                                                                                                                        <xs:enumeration value="0">
                                                                                                                                            <xs:annotation>
                                                                                                                                                <xs:documentation xml:lang="ro">Avertizare</xs:documentation>
                                                                                                                                            </xs:annotation>
                                                                                                                                        </xs:enumeration>
                                                                                                                                        <xs:enumeration value="1">
                                                                                                                                            <xs:annotation>
                                                                                                                                                <xs:documentation xml:lang="ro">Eroare</xs:documentation>
                                                                                                                                            </xs:annotation>
                                                                                                                                        </xs:enumeration>
                                                                                                                                    </xs:restriction>
                                                                                                                                </xs:simpleType>
                                                                                                                            </xs:attribute>
                                                                                                                        </xs:complexType>
                                                                                                                    </xs:element>
                                                                                                                </xs:sequence>
                                                                                                            </xs:complexType>
                                                                                                        </xs:element>
                                                                                                    </xs:sequence>
                                                                                                    <xs:attribute name="AppID" type="xs:string" use="optional">
                                                                                                        <xs:annotation>
                                                                                                            <xs:documentation xml:lang="ro">Identificatorul unic al înregistrării</xs:documentation>
                                                                                                        </xs:annotation>
                                                                                                    </xs:attribute>
                                                                                                    <xs:attribute name="state" type="xs:string" use="optional">
                                                                                                        <xs:annotation>
                                                                                                            <xs:documentation xml:lang="ro">Indică dacă înregistrarea a fost validată sau nu de SIUI</xs:documentation>
                                                                                                        </xs:annotation>
                                                                                                    </xs:attribute>
                                                                                                </xs:complexType>
                                                                                            </xs:element>
                                                                                        </xs:sequence>
                                                                                    </xs:complexType>
                                                                                </xs:element>
                                                                            </xs:sequence>
                                                                            <xs:attribute name="AppID" type="xs:string" use="optional">
                                                                                <xs:annotation>
                                                                                    <xs:documentation xml:lang="ro">Identificatorul unic al înregistrării</xs:documentation>
                                                                                </xs:annotation>
                                                                            </xs:attribute>
                                                                            <xs:attribute name="state" type="xs:string" use="optional">
                                                                                <xs:annotation>
                                                                                    <xs:documentation xml:lang="ro">Indică dacă înregistrarea a fost validată sau nu de SIUI</xs:documentation>
                                                                                </xs:annotation>
                                                                            </xs:attribute>
                                                                        </xs:complexType>
                                                                    </xs:element>
                                                                </xs:sequence>
                                                                <xs:attribute name="AppID" type="xs:string" use="required">
                                                                    <xs:annotation>
                                                                        <xs:documentation xml:lang="ro">Identificatorul unic al înregistrării</xs:documentation>
                                                                    </xs:annotation>
                                                                </xs:attribute>
                                                                <xs:attribute name="state" type="xs:string" use="required">
                                                                    <xs:annotation>
                                                                        <xs:documentation xml:lang="ro">Indică dacă înregistrarea a fost validată sau nu de SIUI</xs:documentation>
                                                                    </xs:annotation>
                                                                </xs:attribute>
                                                            </xs:complexType>
                                                        </xs:element>
                                                    </xs:sequence>
                                                </xs:complexType>
                                            </xs:element>
                                        </xs:sequence>
                                        <xs:attribute name="AppID" type="xs:string" use="required">
                                            <xs:annotation>
                                                <xs:documentation xml:lang="ro">Identificatorul unic al înregistrării</xs:documentation>
                                            </xs:annotation>
                                        </xs:attribute>
                                        <xs:attribute name="state" type="xs:string" use="required">
                                            <xs:annotation>
                                                <xs:documentation xml:lang="ro">Indică dacă înregistrarea a fost validată sau nu de SIUI</xs:documentation>
                                            </xs:annotation>
                                        </xs:attribute>
                                    </xs:complexType>
                                </xs:element>
                            </xs:sequence>
                        </xs:complexType>
                    </xs:element>
                    <xs:element name="recoveryPrevServices">
                        <xs:annotation>
                            <xs:documentation xml:lang="ro">Lista serviciilor de recuperare în sanatorii</xs:documentation>
                        </xs:annotation>
                        <xs:complexType>
                            <xs:sequence>
                                <xs:element name="recoveryPrevService" minOccurs="0" maxOccurs="unbounded">
                                    <xs:annotation>
                                        <xs:documentation xml:lang="ro">Serviciu raportat</xs:documentation>
                                    </xs:annotation>
                                    <xs:complexType>
                                        <xs:sequence>
                                            <xs:element name="errors" minOccurs="0">
                                                <xs:annotation>
                                                    <xs:documentation xml:lang="ro">Lista erorilor raportate de SIUI</xs:documentation>
                                                </xs:annotation>
                                                <xs:complexType>
                                                    <xs:sequence>
                                                        <xs:element name="error" minOccurs="0" maxOccurs="unbounded">
                                                            <xs:annotation>
                                                                <xs:documentation xml:lang="ro">Descriere eroare (conţine text înclus)</xs:documentation>
                                                            </xs:annotation>
                                                            <xs:complexType mixed="true">
                                                                <xs:attribute name="code" type="xs:string" use="required">
                                                                    <xs:annotation>
                                                                        <xs:documentation xml:lang="ro">Codul erorii (valoare din nomenclatorul de erori)</xs:documentation>
                                                                    </xs:annotation>
                                                                </xs:attribute>
                                                                <xs:attribute name="errorType" use="optional">
                                                                    <xs:annotation>
                                                                        <xs:documentation xml:lang="ro">Tip de eroare in functie de severitate.</xs:documentation>
                                                                    </xs:annotation>
                                                                    <xs:simpleType>
                                                                        <xs:restriction base="xs:unsignedInt">
                                                                            <xs:enumeration value="0">
                                                                                <xs:annotation>
                                                                                    <xs:documentation xml:lang="ro">Avertizare</xs:documentation>
                                                                                </xs:annotation>
                                                                            </xs:enumeration>
                                                                            <xs:enumeration value="1">
                                                                                <xs:annotation>
                                                                                    <xs:documentation xml:lang="ro">Eroare</xs:documentation>
                                                                                </xs:annotation>
                                                                            </xs:enumeration>
                                                                        </xs:restriction>
                                                                    </xs:simpleType>
                                                                </xs:attribute>
                                                            </xs:complexType>
                                                        </xs:element>
                                                    </xs:sequence>
                                                </xs:complexType>
                                            </xs:element>
                                        </xs:sequence>
                                        <xs:attribute name="AppID" type="xs:string" use="required">
                                            <xs:annotation>
                                                <xs:documentation xml:lang="ro">Identificatorul unic al înregistrării</xs:documentation>
                                            </xs:annotation>
                                        </xs:attribute>
                                        <xs:attribute name="state" type="xs:string" use="required">
                                            <xs:annotation>
                                                <xs:documentation xml:lang="ro">Indică dacă înregistrarea a fost validată sau nu de SIUI</xs:documentation>
                                            </xs:annotation>
                                        </xs:attribute>
                                    </xs:complexType>
                                </xs:element>
                            </xs:sequence>
                        </xs:complexType>
                    </xs:element>
                </xs:choice>
                <xs:element name="prescriptions">
                    <xs:annotation>
                        <xs:documentation xml:lang="ro">Lista reţetelor validate</xs:documentation>
                    </xs:annotation>
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="prescription" type="prescriptionType" minOccurs="0" maxOccurs="unbounded">
                                <xs:annotation>
                                    <xs:documentation xml:lang="ro">Reţetă raportată</xs:documentation>
                                </xs:annotation>
                            </xs:element>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
                <xs:element name="medicalNotes">
                    <xs:annotation>
                        <xs:documentation xml:lang="ro">Lista biletelor de trimitere validate</xs:documentation>
                    </xs:annotation>
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="medicalNote" type="medicalNoteType" minOccurs="0" maxOccurs="unbounded">
                                <xs:annotation>
                                    <xs:documentation xml:lang="ro">Bilet de trimitere raportat</xs:documentation>
                                </xs:annotation>
                            </xs:element>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
            </xs:sequence>
            <xs:attribute name="AppID" type="xs:string" use="required">
                <xs:annotation>
                    <xs:documentation xml:lang="ro">Identificatorul unic al înregistrării</xs:documentation>
                </xs:annotation>
            </xs:attribute>
            <xs:attribute name="medicalUnit" type="xs:string" use="required">
                <xs:annotation>
                    <xs:documentation xml:lang="ro">Denumirea unităţii medicale raportante</xs:documentation>
                </xs:annotation>
            </xs:attribute>
            <xs:attribute name="fiscalCode" type="xs:string" use="required">
                <xs:annotation>
                    <xs:documentation xml:lang="ro">Codul fiscal al unităţii (codul unic de identificare)</xs:documentation>
                </xs:annotation>
            </xs:attribute>
            <xs:attribute name="contractNo" type="xs:string" use="required">
                <xs:annotation>
                    <xs:documentation xml:lang="ro">Numărul contractului</xs:documentation>
                </xs:annotation>
            </xs:attribute>
            <xs:attribute name="insuranceHouse" type="xs:string" use="required">
                <xs:annotation>
                    <xs:documentation xml:lang="ro">Casa de asigurări (codul casei de asigurări din nomenclatorul de case de asigurări)</xs:documentation>
                </xs:annotation>
            </xs:attribute>
            <xs:attribute name="reportingDate" type="xs:date" use="required">
                <xs:annotation>
                    <xs:documentation xml:lang="ro">Data efectuării raportării</xs:documentation>
                </xs:annotation>
            </xs:attribute>
            <xs:attribute name="startFrom" type="xs:date" use="required">
                <xs:annotation>
                    <xs:documentation xml:lang="ro">Data de început perioadei de raportare</xs:documentation>
                </xs:annotation>
            </xs:attribute>
            <xs:attribute name="endTo" type="xs:date" use="required">
                <xs:annotation>
                    <xs:documentation xml:lang="ro">Data de sfârşit perioadei de raportare</xs:documentation>
                </xs:annotation>
            </xs:attribute>
            <xs:attribute name="invoiceDate" type="xs:date" use="optional">
                <xs:annotation>
                    <xs:documentation xml:lang="ro">Data facturii</xs:documentation>
                </xs:annotation>
            </xs:attribute>
            <xs:attribute name="invoiceNo" type="xs:string" use="optional">
                <xs:annotation>
                    <xs:documentation xml:lang="ro">Numărul facturii</xs:documentation>
                </xs:annotation>
            </xs:attribute>
            <!-- header attributes -->
        </xs:complexType>
    </xs:element>
    <xs:simpleType name="pidType">
        <xs:annotation>
            <xs:documentation xml:lang="ro">Definitia tipului de date folosit pentru CNP</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:maxLength value="13"/>
            <xs:minLength value="13"/>
            <xs:pattern value="[0-9]{13}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="drugType">
        <xs:annotation>
            <xs:documentation xml:lang="ro">Definitia tipului de date folosit pentru medicamentele de pe reţetă</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="errors" minOccurs="0">
                <xs:annotation>
                    <xs:documentation xml:lang="ro">Lista erorilor raportate de SIUI</xs:documentation>
                </xs:annotation>
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="error" minOccurs="0" maxOccurs="unbounded">
                            <xs:annotation>
                                <xs:documentation xml:lang="ro">Descriere eroare (conţine text înclus)</xs:documentation>
                            </xs:annotation>
                            <xs:complexType mixed="true">
                                <xs:attribute name="code" type="xs:string" use="required">
                                    <xs:annotation>
                                        <xs:documentation xml:lang="ro">Codul erorii (valoare din nomenclatorul de erori)</xs:documentation>
                                    </xs:annotation>
                                </xs:attribute>
                                <xs:attribute name="errorType" use="optional">
                                    <xs:annotation>
                                        <xs:documentation xml:lang="ro">Tip de eroare in functie de severitate.</xs:documentation>
                                    </xs:annotation>
                                    <xs:simpleType>
                                        <xs:restriction base="xs:unsignedInt">
                                            <xs:enumeration value="0">
                                                <xs:annotation>
                                                    <xs:documentation xml:lang="ro">Avertizare</xs:documentation>
                                                </xs:annotation>
                                            </xs:enumeration>
                                            <xs:enumeration value="1">
                                                <xs:annotation>
                                                    <xs:documentation xml:lang="ro">Eroare</xs:documentation>
                                                </xs:annotation>
                                            </xs:enumeration>
                                        </xs:restriction>
                                    </xs:simpleType>
                                </xs:attribute>
                            </xs:complexType>
                        </xs:element>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
        </xs:sequence>
        <xs:attribute name="AppID" type="xs:string" use="required">
            <xs:annotation>
                <xs:documentation xml:lang="ro">Identificatorul unic al înregistrării</xs:documentation>
            </xs:annotation>
        </xs:attribute>
        <xs:attribute name="state" type="xs:string" use="required">
            <xs:annotation>
                <xs:documentation xml:lang="ro">Indică dacă înregistrarea a fost validată sau nu de SIUI</xs:documentation>
            </xs:annotation>
        </xs:attribute>
    </xs:complexType>
    <xs:complexType name="prescriptionType">
        <xs:annotation>
            <xs:documentation xml:lang="ro">Definitia tipului de date folosit pentru reţeta validată</xs:documentation>
        </xs:annotation>
        <xs:sequence maxOccurs="unbounded">
            <xs:element name="errors" minOccurs="0">
                <xs:annotation>
                    <xs:documentation xml:lang="ro">Lista erorilor raportate de SIUI</xs:documentation>
                </xs:annotation>
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="error" minOccurs="0" maxOccurs="unbounded">
                            <xs:annotation>
                                <xs:documentation xml:lang="ro">Descriere eroare (conţine text înclus)</xs:documentation>
                            </xs:annotation>
                            <xs:complexType>
                                <xs:simpleContent>
                                    <xs:extension base="xs:string">
                                        <xs:attribute name="code" type="xs:string" use="required">
                                            <xs:annotation>
                                                <xs:documentation xml:lang="ro">Codul erorii (valoare din nomenclatorul de erori)</xs:documentation>
                                            </xs:annotation>
                                        </xs:attribute>
                                        <xs:attribute name="errorType" use="optional">
                                            <xs:annotation>
                                                <xs:documentation xml:lang="ro">Tip de eroare in functie de severitate.</xs:documentation>
                                            </xs:annotation>
                                            <xs:simpleType>
                                                <xs:restriction base="xs:unsignedInt">
                                                    <xs:enumeration value="0">
                                                        <xs:annotation>
                                                            <xs:documentation xml:lang="ro">Avertizare</xs:documentation>
                                                        </xs:annotation>
                                                    </xs:enumeration>
                                                    <xs:enumeration value="1">
                                                        <xs:annotation>
                                                            <xs:documentation xml:lang="ro">Eroare</xs:documentation>
                                                        </xs:annotation>
                                                    </xs:enumeration>
                                                </xs:restriction>
                                            </xs:simpleType>
                                        </xs:attribute>
                                    </xs:extension>
                                </xs:simpleContent>
                            </xs:complexType>
                        </xs:element>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="drug" type="drugType">
                <xs:annotation>
                    <xs:documentation xml:lang="ro">Medicament prescris pe reţetă</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
        <xs:attribute name="AppID" type="xs:string" use="required">
            <xs:annotation>
                <xs:documentation xml:lang="ro">Identificatorul unic al înregistrării</xs:documentation>
            </xs:annotation>
        </xs:attribute>
        <xs:attribute name="state" type="xs:string" use="required">
            <xs:annotation>
                <xs:documentation xml:lang="ro">Indică dacă înregistrarea a fost validată sau nu de SIUI</xs:documentation>
            </xs:annotation>
        </xs:attribute>
    </xs:complexType>
    <xs:complexType name="medicalNoteInvestigationType">
        <xs:annotation>
            <xs:documentation xml:lang="ro">Definitia tipului de date folosit pentru investigaţie medicală de pe biletul de trimitere</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="errors" minOccurs="0">
                <xs:annotation>
                    <xs:documentation xml:lang="ro">Lista erorilor raportate de SIUI</xs:documentation>
                </xs:annotation>
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="error" minOccurs="0" maxOccurs="unbounded">
                            <xs:annotation>
                                <xs:documentation xml:lang="ro">Descriere eroare (conţine text înclus)</xs:documentation>
                            </xs:annotation>
                            <xs:complexType mixed="true">
                                <xs:attribute name="code" type="xs:string" use="required">
                                    <xs:annotation>
                                        <xs:documentation xml:lang="ro">Codul erorii (valoare din nomenclatorul de erori)</xs:documentation>
                                    </xs:annotation>
                                </xs:attribute>
                                <xs:attribute name="errorType" use="optional">
                                    <xs:annotation>
                                        <xs:documentation xml:lang="ro">Tip de eroare in functie de severitate.</xs:documentation>
                                    </xs:annotation>
                                    <xs:simpleType>
                                        <xs:restriction base="xs:unsignedInt">
                                            <xs:enumeration value="0">
                                                <xs:annotation>
                                                    <xs:documentation xml:lang="ro">Avertizare</xs:documentation>
                                                </xs:annotation>
                                            </xs:enumeration>
                                            <xs:enumeration value="1">
                                                <xs:annotation>
                                                    <xs:documentation xml:lang="ro">Eroare</xs:documentation>
                                                </xs:annotation>
                                            </xs:enumeration>
                                        </xs:restriction>
                                    </xs:simpleType>
                                </xs:attribute>
                            </xs:complexType>
                        </xs:element>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
        </xs:sequence>
        <xs:attribute name="AppID" type="xs:string" use="required">
            <xs:annotation>
                <xs:documentation xml:lang="ro">Identificatorul unic al înregistrării</xs:documentation>
            </xs:annotation>
        </xs:attribute>
        <xs:attribute name="state" type="xs:string" use="required">
            <xs:annotation>
                <xs:documentation xml:lang="ro">Indică dacă înregistrarea a fost validată sau nu de SIUI</xs:documentation>
            </xs:annotation>
        </xs:attribute>
    </xs:complexType>
    <xs:complexType name="medicalNoteType">
        <xs:annotation>
            <xs:documentation xml:lang="ro">Definitia tipului de date folosit pentru biletul de trimitere</xs:documentation>
        </xs:annotation>
        <xs:sequence minOccurs="0" maxOccurs="unbounded">
            <xs:element name="errors" minOccurs="0">
                <xs:annotation>
                    <xs:documentation xml:lang="ro">Lista erorilor raportate de SIUI</xs:documentation>
                </xs:annotation>
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="error" minOccurs="0" maxOccurs="unbounded">
                            <xs:annotation>
                                <xs:documentation xml:lang="ro">Descriere eroare (conţine text înclus)</xs:documentation>
                            </xs:annotation>
                            <xs:complexType mixed="true">
                                <xs:attribute name="code" type="xs:string" use="required">
                                    <xs:annotation>
                                        <xs:documentation xml:lang="ro">Codul erorii (valoare din nomenclatorul de erori)</xs:documentation>
                                    </xs:annotation>
                                </xs:attribute>
                                <xs:attribute name="errorType" use="optional">
                                    <xs:annotation>
                                        <xs:documentation xml:lang="ro">Tip de eroare in functie de severitate.</xs:documentation>
                                    </xs:annotation>
                                    <xs:simpleType>
                                        <xs:restriction base="xs:unsignedInt">
                                            <xs:enumeration value="0">
                                                <xs:annotation>
                                                    <xs:documentation xml:lang="ro">Avertizare</xs:documentation>
                                                </xs:annotation>
                                            </xs:enumeration>
                                            <xs:enumeration value="1">
                                                <xs:annotation>
                                                    <xs:documentation xml:lang="ro">Eroare</xs:documentation>
                                                </xs:annotation>
                                            </xs:enumeration>
                                        </xs:restriction>
                                    </xs:simpleType>
                                </xs:attribute>
                            </xs:complexType>
                        </xs:element>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="medicalNoteInvestigation" type="medicalNoteInvestigationType">
                <xs:annotation>
                    <xs:documentation xml:lang="ro">Investigaţie medicală (vezi tipul de dată pentru investigaţii medicale)</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
        <xs:attribute name="AppID" type="xs:string" use="required">
            <xs:annotation>
                <xs:documentation xml:lang="ro">Identificatorul unic al înregistrării</xs:documentation>
            </xs:annotation>
        </xs:attribute>
        <xs:attribute name="state" type="xs:string" use="required">
            <xs:annotation>
                <xs:documentation xml:lang="ro">Indică dacă înregistrarea a fost validată sau nu de SIUI</xs:documentation>
            </xs:annotation>
        </xs:attribute>
    </xs:complexType>
</xs:schema>
