xsd/raportare/ImportAnalytical.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema targetNamespace="http://www.cnas.ro/siui/2.0" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns="http://www.cnas.ro/siui/2.0" elementFormDefault="qualified" id="ImportAnalytical">
	<xs:annotation>
		<xs:documentation xml:lang="ro">Raportare analitică pentru spitale</xs:documentation>
	</xs:annotation>
	<xs:include schemaLocation="HospitalCommonTypes.xsd"/>
	<xs:element name="report">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="Internships">
					<xs:annotation>
						<xs:documentation xml:lang="ro">Lista internarilor.</xs:documentation>
					</xs:annotation>
					<xs:complexType>
						<xs:sequence>
							<xs:element name="Internship" minOccurs="0" maxOccurs="unbounded">
								<xs:annotation>
									<xs:documentation xml:lang="ro">Internare efectuata.</xs:documentation>
								</xs:annotation>
								<xs:complexType>
									<xs:sequence>
										<xs:element name="secondaryDiagnostics" minOccurs="0" maxOccurs="unbounded">
											<xs:annotation>
												<xs:documentation xml:lang="ro">Informatii referitoare la diagnosticele secundare</xs:documentation>
											</xs:annotation>
											<xs:complexType>
												<xs:attribute name="AppID" use="required">
													<xs:annotation>
														<xs:documentation xml:lang="ro">Identificator unic in aplicatia de raportare.Acest atribut este folosit la identificarea înregistrării raportate.</xs:documentation>
													</xs:annotation>
													<xs:simpleType>
														<xs:restriction base="xs:string">
															<xs:maxLength value="20" />
														</xs:restriction>
													</xs:simpleType>
												</xs:attribute>
												<xs:attribute name="secondaryDiagnostic" type="xs:string" use="required">
													<xs:annotation>
														<xs:documentation xml:lang="ro">Codul diagnosticului secundar. Acest cod este preluat din nomenclatorul CIM10S</xs:documentation>
													</xs:annotation>
												</xs:attribute>
											</xs:complexType>
										</xs:element>
										<xs:element name="Services" maxOccurs="unbounded">
											<xs:annotation>
												<xs:documentation xml:lang="ro">Informatii referitoare la procedurile efectuate in cadrul  internarii</xs:documentation>
											</xs:annotation>
											<xs:complexType>
												<xs:attribute name="AppID" use="required">
													<xs:annotation>
														<xs:documentation xml:lang="ro">Identificator unic in aplicatia de nivel 4.Acest atribut este folosit la identificarea randului raportat.</xs:documentation>
													</xs:annotation>
													<xs:simpleType>
														<xs:restriction base="xs:string">
															<xs:maxLength value="20" />
														</xs:restriction>
													</xs:simpleType>
												</xs:attribute>
												<xs:attribute name="service" type="xs:string" use="required">
													<xs:annotation>
														<xs:documentation xml:lang="ro">Codul serviciului prestat.Acest cod este preluat din nomenclatorul HospitalServices.</xs:documentation>
													</xs:annotation>
												</xs:attribute>
												<xs:attribute name="serviceDate" type="xs:date" use="required">
													<xs:annotation>
														<xs:documentation xml:lang="ro">Data la care a fost efectuat serviciul.</xs:documentation>
													</xs:annotation>
												</xs:attribute>
												<xs:attribute name="cardNo" use="optional">
													<xs:annotation>
														<xs:documentation xml:lang="ro">Numărul cardului electronic de asigurat al pacientului</xs:documentation>
													</xs:annotation>
													<xs:simpleType>
														<xs:restriction base="xs:string">
															<xs:length value="16"/>
														</xs:restriction>
													</xs:simpleType>
												</xs:attribute>
												<xs:attribute name="signature" type="xs:base64Binary" use="optional">
													<xs:annotation>
														<xs:documentation xml:lang="ro">
															Semnătura digitală a pacientului in format Base64, utilizând certificatul de pe card.
															Se completează numai dacă este completat şi numărul de card şi cuprinde atributele "cid|cardNo|serviceDate|service".
															Dacă este completat authorizedPersonCid, atributele devin: "authorizedPersonCid|cardNo|serviceDate|service".
														</xs:documentation>
													</xs:annotation>
												</xs:attribute>
												<xs:attribute name="signHash" type="xs:hexBinary" use="optional">
													<xs:annotation>
														<xs:documentation xml:lang="ro">Nu se mai foloseşte!</xs:documentation>
													</xs:annotation>
												</xs:attribute>
												<xs:attribute name="visitId" use="optional">
													<xs:simpleType>
														<xs:restriction base="xs:string">
															<xs:length value="36"/>
														</xs:restriction>
													</xs:simpleType>
												</xs:attribute>
												<xs:attribute name="certificateDate" type="xs:date" use="optional">
													<xs:annotation>
														<xs:documentation xml:lang="ro">Data eliberarii adeverinței de asigurat</xs:documentation>
													</xs:annotation>
												</xs:attribute>
											</xs:complexType>
										</xs:element>
										<xs:element name="ForeignPerson" minOccurs="0">
											<xs:annotation>
												<xs:documentation xml:lang="ro">Datele referitoare la persoane străine.</xs:documentation>
											</xs:annotation>
											<xs:complexType>
												<xs:attribute name="personIdentifier" use="required">
													<xs:annotation>
														<xs:documentation xml:lang="ro">Codul de identificare al persoanei staine.</xs:documentation>
													</xs:annotation>
													<xs:simpleType>
														<xs:restriction base="xs:string">
															<xs:maxLength value="30" />
														</xs:restriction>
													</xs:simpleType>
												</xs:attribute>
												<xs:attribute name="personFirstName" use="optional">
													<xs:annotation>
														<xs:documentation xml:lang="ro">Prenumele persoanei straine.</xs:documentation>
													</xs:annotation>
													<xs:simpleType>
														<xs:restriction base="xs:string">
															<xs:maxLength value="100" />
														</xs:restriction>
													</xs:simpleType>
												</xs:attribute>
												<xs:attribute name="personLastName" use="optional">
													<xs:annotation>
														<xs:documentation xml:lang="ro">Numele persoanei straine.</xs:documentation>
													</xs:annotation>
													<xs:simpleType>
														<xs:restriction base="xs:string">
															<xs:maxLength value="100" />
														</xs:restriction>
													</xs:simpleType>
												</xs:attribute>
												<xs:attribute name="birthDate" type="xs:date" use="optional">
													<xs:annotation>
														<xs:documentation xml:lang="ro">Data de nastere a persoanei straine.</xs:documentation>
													</xs:annotation>
												</xs:attribute>
												<xs:attribute name="countryCode" use="optional">
													<xs:annotation>
														<xs:documentation xml:lang="ro">Codul tarii cetateniei persoanei straine.</xs:documentation>
													</xs:annotation>
													<xs:simpleType>
														<xs:restriction base="xs:string">
															<xs:maxLength value="20" />
														</xs:restriction>
													</xs:simpleType>
												</xs:attribute>
												<xs:attribute name="cardCode" use="optional">
													<xs:annotation>
														<xs:documentation xml:lang="ro">Codul cardului de asigurat al persoanei straine.(In cazul in care persoana are card de asigurare european)</xs:documentation>
													</xs:annotation>
													<xs:simpleType>
														<xs:restriction base="xs:string">
															<xs:maxLength value="40" />
														</xs:restriction>
													</xs:simpleType>
												</xs:attribute>
												<xs:attribute name="cardExpireDate" type="xs:date" use="optional">
													<xs:annotation>
														<xs:documentation xml:lang="ro">Data de expirare a cardului de asigurare.(In cazul in care persoana are card de asigurare european)</xs:documentation>
													</xs:annotation>
												</xs:attribute>
												<xs:attribute name="personType" use="required">
													<xs:annotation>
														<xs:documentation xml:lang="ro">Codul tipului de persoana pentru care sunt valabile informatiile raportate (Card European, Asigurari internationale, Conventii FORM CEE.)</xs:documentation>
													</xs:annotation>
													<xs:simpleType>
														<xs:restriction base="xs:string">
															<xs:enumeration value="ASIGURAT">
																<xs:annotation>
																	<xs:documentation xml:lang="ro">Asigurati</xs:documentation>
																</xs:annotation>
															</xs:enumeration>
															<xs:enumeration value="ACCI_PROF">
																<xs:annotation>
																	<xs:documentation xml:lang="ro">Accidente de munca sau boli profesionale</xs:documentation>
																</xs:annotation>
															</xs:enumeration>
															<xs:enumeration value="PREJ_DAUN">
																<xs:annotation>
																	<xs:documentation xml:lang="ro">Accidente rutiere sau vatamari corporale</xs:documentation>
																</xs:annotation>
															</xs:enumeration>
															<xs:enumeration value="CARD_EURO">
																<xs:annotation>
																	<xs:documentation xml:lang="ro">Persoane titulare ale cardului european</xs:documentation>
																</xs:annotation>
															</xs:enumeration>
															<xs:enumeration value="CETA_CONV">
																<xs:annotation>
																	<xs:documentation xml:lang="ro">Cetatenii statelor cu care Romania a incheiat intelegeri, conventii sau protocoale internationale</xs:documentation>
																</xs:annotation>
															</xs:enumeration>
															<xs:enumeration value="FORM_CEE">
																<xs:annotation>
																	<xs:documentation xml:lang="ro">Beneficiari de regulament cee 1408/1971</xs:documentation>
																</xs:annotation>
															</xs:enumeration>
														</xs:restriction>
													</xs:simpleType>
												</xs:attribute>
												<xs:attribute name="emissiveOrgUnitCode" use="optional">
													<xs:annotation>
														<xs:documentation xml:lang="ro">Codul unitatii care a emis cardul de asigurare.(In cazul in care persoana are card de asigurare european)</xs:documentation>
													</xs:annotation>
													<xs:simpleType>
														<xs:restriction base="xs:string">
															<xs:maxLength value="30"/>
														</xs:restriction>
													</xs:simpleType>
												</xs:attribute>
												<xs:attribute name="emissiveOrgUnitName" use="optional">
													<xs:annotation>
														<xs:documentation xml:lang="ro">Numele unitatii care a emis cardul de asigurare.(In cazul in care persoana are card de asigurare european)</xs:documentation>
													</xs:annotation>
													<xs:simpleType>
														<xs:restriction base="xs:string">
															<xs:maxLength value="100"/>
														</xs:restriction>
													</xs:simpleType>
												</xs:attribute>
												<xs:attribute name="emissiveOrgUnitAddress" use="optional">
													<xs:annotation>
														<xs:documentation xml:lang="ro">Adresa unitatii care a emis cardul de asigurare.(In cazul in care persoana are card de asigurare european)</xs:documentation>
													</xs:annotation>
													<xs:simpleType>
														<xs:restriction base="xs:string">
															<xs:maxLength value="150"/>
														</xs:restriction>
													</xs:simpleType>
												</xs:attribute>
												<xs:attribute name="formEu" use="optional">
													<xs:annotation>
														<xs:documentation xml:lang="ro">Tipul de formular european - se completează pentru tipul de asigurare CNAS 5 - Formulare europene</xs:documentation>
													</xs:annotation>
													<xs:simpleType>
														<xs:restriction base="xs:string">
															<xs:maxLength value="10"/>
															<xs:minLength value="1"/>
														</xs:restriction>
													</xs:simpleType>
												</xs:attribute>
												<xs:attribute name="passportNo" use="optional">
													<xs:annotation>
														<xs:documentation xml:lang="ro">Numarul pasaportului - se completează pentru tipul de asigurare CNAS 3 - Acord international</xs:documentation>
													</xs:annotation>
													<xs:simpleType>
														<xs:restriction base="xs:string">
															<xs:maxLength value="20"/>
															<xs:minLength value="1"/>
														</xs:restriction>
													</xs:simpleType>
												</xs:attribute>
											</xs:complexType>
										</xs:element>
										<xs:element name="Expenses" type="Expenses" minOccurs="0"/>
									</xs:sequence>
									<xs:attribute name="AppID" use="required">
										<xs:annotation>
											<xs:documentation xml:lang="ro">Identificator unic in aplicatia de nivel 4.Acest atribut este folosit la identificarea randului raportat.</xs:documentation>
										</xs:annotation>
										<xs:simpleType>
											<xs:restriction base="xs:string">
												<xs:maxLength value="20" />
											</xs:restriction>
										</xs:simpleType>
									</xs:attribute>
									<xs:attribute name="medicalSheetNo" use="required">
										<xs:annotation>
											<xs:documentation xml:lang="ro">Numarul foii de observatie clinica generala sau a fisei pentru spitalizare de zi</xs:documentation>
										</xs:annotation>
										<xs:simpleType>
											<xs:restriction base="xs:string">
												<xs:maxLength value="10"/>
											</xs:restriction>
										</xs:simpleType>
									</xs:attribute>
									<xs:attribute name="Pid" use="optional">
										<xs:annotation>
											<xs:documentation xml:lang="ro">CNP-ul bolnavului</xs:documentation>
										</xs:annotation>
										<xs:simpleType>
											<xs:restriction base="xs:string">
												<xs:length value="13"/>
											</xs:restriction>
										</xs:simpleType>
									</xs:attribute>
									<xs:attribute name="firstName" use="optional">
										<xs:annotation>
											<xs:documentation xml:lang="ro">Prenumele bolnavului</xs:documentation>
										</xs:annotation>
										<xs:simpleType>
											<xs:restriction base="xs:string">
												<xs:maxLength value="100"/>
											</xs:restriction>
										</xs:simpleType>
									</xs:attribute>
									<xs:attribute name="lastName" use="optional">
										<xs:annotation>
											<xs:documentation xml:lang="ro">Numele bolnavului</xs:documentation>
										</xs:annotation>
										<xs:simpleType>
											<xs:restriction base="xs:string">
												<xs:maxLength value="100"/>
											</xs:restriction>
										</xs:simpleType>
									</xs:attribute>
									<xs:attribute name="birthDate" type="xs:date" use="required">
										<xs:annotation>
											<xs:documentation xml:lang="ro">Data nasterii bolnavului</xs:documentation>
										</xs:annotation>
									</xs:attribute>
									<xs:attribute name="sex" use="required">
										<xs:annotation>
											<xs:documentation xml:lang="ro">Sexul pacientului.</xs:documentation>
										</xs:annotation>
										<xs:simpleType>
											<xs:restriction base="xs:string">
												<xs:maxLength value="1"/>
											</xs:restriction>
										</xs:simpleType>
									</xs:attribute>
									<xs:attribute name="insuranceType" use="optional">
										<xs:annotation>
											<xs:documentation xml:lang="ro">Tipul asigurarii de sanatate.</xs:documentation>
										</xs:annotation>
										<xs:simpleType>
											<xs:restriction base="xs:string">
												<xs:enumeration value="O">
													<xs:annotation>
														<xs:documentation xml:lang="ro">Obligatorie</xs:documentation>
													</xs:annotation>
												</xs:enumeration>
												<xs:enumeration value="F">
													<xs:annotation>
														<xs:documentation xml:lang="ro">Facultativa</xs:documentation>
													</xs:annotation>
												</xs:enumeration>
												<xs:enumeration value="E">
													<xs:annotation>
														<xs:documentation xml:lang="ro">Eurocard</xs:documentation>
													</xs:annotation>
												</xs:enumeration>
												<xs:enumeration value="A">
													<xs:annotation>
														<xs:documentation xml:lang="ro">Acord international</xs:documentation>
													</xs:annotation>
												</xs:enumeration>
												<xs:enumeration value="1">
													<xs:annotation>
														<xs:documentation xml:lang="ro">Obligatorie</xs:documentation>
													</xs:annotation>
												</xs:enumeration>
												<xs:enumeration value="2">
													<xs:annotation>
														<xs:documentation xml:lang="ro">Facultativa</xs:documentation>
													</xs:annotation>
												</xs:enumeration>
												<xs:enumeration value="3">
													<xs:annotation>
														<xs:documentation xml:lang="ro">Acord international</xs:documentation>
													</xs:annotation>
												</xs:enumeration>
												<xs:enumeration value="4">
													<xs:annotation>
														<xs:documentation xml:lang="ro">Eurocard</xs:documentation>
													</xs:annotation>
												</xs:enumeration>
												<xs:enumeration value="5">
													<xs:annotation>
														<xs:documentation xml:lang="ro">Formulare europene</xs:documentation>
													</xs:annotation>
												</xs:enumeration>
											</xs:restriction>
										</xs:simpleType>
									</xs:attribute>
									<xs:attribute name="intermentDate" type="xs:date" use="required">
										<xs:annotation>
											<xs:documentation xml:lang="ro">Data internării</xs:documentation>
										</xs:annotation>
									</xs:attribute>
									<xs:attribute name="referringDate" type="xs:date" use="optional">
										<xs:annotation>
											<xs:documentation xml:lang="ro">Data trimiterii</xs:documentation>
										</xs:annotation>
									</xs:attribute>
									<xs:attribute name="referringStencilNo" use="optional">
										<xs:annotation>
											<xs:documentation xml:lang="ro">Parafa medicului care a facut trimiterea </xs:documentation>
										</xs:annotation>
										<xs:simpleType>
											<xs:restriction base="xs:string">
												<xs:maxLength value="20"/>
											</xs:restriction>
										</xs:simpleType>
									</xs:attribute>
									<xs:attribute name="referringCtr" use="optional">
										<xs:annotation>
											<xs:documentation xml:lang="ro">Contractul medicului care a facut trimiterea</xs:documentation>
										</xs:annotation>
										<xs:simpleType>
											<xs:restriction base="xs:string">
												<xs:maxLength value="26"/>
											</xs:restriction>
										</xs:simpleType>
									</xs:attribute>
									<xs:attribute name="stencilNo" type="xs:string" use="optional">
										<xs:annotation>
											<xs:documentation xml:lang="ro">Parafa medicului curant</xs:documentation>
										</xs:annotation>
									</xs:attribute>
									<xs:attribute name="releasedDate" type="xs:date" use="optional">
										<xs:annotation>
											<xs:documentation xml:lang="ro">Data externarii</xs:documentation>
										</xs:annotation>
									</xs:attribute>
									<xs:attribute name="orgUnitCode" use="optional">
										<xs:annotation>
											<xs:documentation xml:lang="ro">Codul CJAS-ului la care este luat in evidenta asiguratul asa cum reiese din raportarea spitalului</xs:documentation>
										</xs:annotation>
										<xs:simpleType>
											<xs:restriction base="xs:string">
												<xs:maxLength value="20"/>
											</xs:restriction>
										</xs:simpleType>
									</xs:attribute>
									<xs:attribute name="internmentDiagCode" use="optional">
										<xs:annotation>
											<xs:documentation xml:lang="ro">Codul diagnosticului la internare. Acest cod este preluat din nomenclatorul COM10S.</xs:documentation>
										</xs:annotation>
										<xs:simpleType>
											<xs:restriction base="xs:string">
												<xs:maxLength value="20"/>
											</xs:restriction>
										</xs:simpleType>
									</xs:attribute>
									<xs:attribute name="mainDiagCode" use="optional">
										<xs:annotation>
											<xs:documentation xml:lang="ro">Codul diagnosticului principal. Acest cod este preluat din nomenclatorul COM10S.</xs:documentation>
										</xs:annotation>
										<xs:simpleType>
											<xs:restriction base="xs:string">
												<xs:maxLength value="20"/>
											</xs:restriction>
										</xs:simpleType>
									</xs:attribute>
									<xs:attribute name="at72hDiagCode" use="optional">
										<xs:annotation>
											<xs:documentation xml:lang="ro">Codul diagnosticului la 72 de ore. Acest cod este preluat din nomenclatorul COM10S.</xs:documentation>
										</xs:annotation>
										<xs:simpleType>
											<xs:restriction base="xs:string">
												<xs:maxLength value="20"/>
											</xs:restriction>
										</xs:simpleType>
									</xs:attribute>
									<xs:attribute name="surgeonStencilNo" use="optional">
										<xs:annotation>
											<xs:documentation xml:lang="ro">Parafa medicului principal.</xs:documentation>
										</xs:annotation>
										<xs:simpleType>
											<xs:restriction base="xs:string">
												<xs:maxLength value="20"/>
											</xs:restriction>
										</xs:simpleType>
									</xs:attribute>
									<xs:attribute name="specialSituationCode" use="optional">
										<xs:annotation>
											<xs:documentation xml:lang="ro">Codul situatiei speciale la internare. Acest cod este preluat din nomenclatorul SpecialSituations.</xs:documentation>
										</xs:annotation>
										<xs:simpleType>
											<xs:restriction base="xs:string">
												<xs:maxLength value="20"/>
											</xs:restriction>
										</xs:simpleType>
									</xs:attribute>
									<xs:attribute name="referringDiagCode" use="optional">
										<xs:annotation>
											<xs:documentation xml:lang="ro">Diagnosticul de pe biletul de trimitere. Acest cod este preluat din nomenclatorul COM10S.</xs:documentation>
										</xs:annotation>
										<xs:simpleType>
											<xs:restriction base="xs:string">
												<xs:maxLength value="20"/>
											</xs:restriction>
										</xs:simpleType>
									</xs:attribute>
									<xs:attribute name="releaseType" type="xs:string" use="optional">
										<xs:annotation>
											<xs:documentation xml:lang="ro">
												Tipul externarii. Acest atribut poate avea urmatoarele valori:
												1 -&gt; EXTERNAT
												2 -&gt; EXTERNAT LA CERERE
												3 -&gt; TRANSFER INTERSPITALICESC
												4 -&gt; DECEDAT
											</xs:documentation>
										</xs:annotation>
									</xs:attribute>
									<xs:attribute name="internmentCriteriaCd" use="required">
										<xs:annotation>
											<xs:documentation xml:lang="ro">Codul criteriului de internare.</xs:documentation>
										</xs:annotation>
										<xs:simpleType>
											<xs:restriction base="xs:string">
												<xs:enumeration value="1">
													<xs:annotation>
														<xs:documentation xml:lang="ro">Urgenţe medico-chirurgicale</xs:documentation>
													</xs:annotation>
												</xs:enumeration>
												<xs:enumeration value="2">
													<xs:annotation>
														<xs:documentation xml:lang="ro">Diagnosticul nu poate fi stabilit şi tratamentul nu poate fi efectuat şi/sau monitorizat în ambulatoriu</xs:documentation>
													</xs:annotation>
												</xs:enumeration>
												<xs:enumeration value="3">
													<xs:annotation>
														<xs:documentation xml:lang="ro">Epidemiologic </xs:documentation>
													</xs:annotation>
												</xs:enumeration>
											</xs:restriction>
										</xs:simpleType>
									</xs:attribute>
									<xs:attribute name="internmentType" use="required">
										<xs:annotation>
											<xs:documentation xml:lang="ro">
												Tipul internarii. Acest atribut poate avea urmatoarele valori:
												1 -&gt; URGENŢĂ
												2 -&gt; TRIMITERE MEDIC DE FAMILIE
												3 -&gt; TRIMITERE MEDIC SPECIALIST AMBULATORIU
												5 -&gt; LA CERERE
												9 -&gt; ALTE
											</xs:documentation>
										</xs:annotation>
										<xs:simpleType>
											<xs:restriction base="xs:string">
												<xs:enumeration value="1"/>
												<xs:enumeration value="2"/>
												<xs:enumeration value="3"/>
												<xs:enumeration value="5"/>
												<xs:enumeration value="9"/>
											</xs:restriction>
										</xs:simpleType>
									</xs:attribute>
									<xs:attribute name="IncdsReportingDate" type="xs:date" use="optional">
										<xs:annotation>
											<xs:documentation xml:lang="ro">Data la care s-a facut raportarea catre INCDS</xs:documentation>
										</xs:annotation>
									</xs:attribute>
									<xs:attribute name="caseId" use="optional">
										<xs:annotation>
											<xs:documentation xml:lang="ro">Codul de identificare al cazului in aplicatia DRG</xs:documentation>
										</xs:annotation>
										<xs:simpleType>
											<xs:restriction base="xs:string">
												<xs:length value="36"/>
											</xs:restriction>
										</xs:simpleType>
									</xs:attribute>
									<xs:attribute name="releaseState" use="optional">
										<xs:annotation>
											<xs:documentation xml:lang="ro">
												Codul starii la externare. Acest atribut poate avea urmatoarele valori:
												1 -&gt; VINDECAT
												2 -&gt; AMELIORAT
												3 -&gt; STATIONAR
												4 -&gt; AGRAVAT
												5 -&gt; DECEDAT
											</xs:documentation>
										</xs:annotation>
										<xs:simpleType>
											<xs:restriction base="xs:string">
												<xs:maxLength value="2"/>
											</xs:restriction>
										</xs:simpleType>
									</xs:attribute>
									<xs:attribute name="standardDuration" type="xs:boolean" use="optional">
										<xs:annotation>
											<xs:documentation xml:lang="ro">
												Spitalizare standard?
												(
												DA = valoarea spitalizarii se calculeaza ca produsul dintre durata optimă de spitalizare si tariful negociat ;
												NU = altfel
												)
											</xs:documentation>
										</xs:annotation>
									</xs:attribute>
									<xs:attribute name="internmentTime" type="xs:integer" use="optional">
										<xs:annotation>
											<xs:documentation xml:lang="ro">Numarul de zile de internare</xs:documentation>
										</xs:annotation>
									</xs:attribute>
									<xs:attribute name="tariffType" use="required">
										<xs:annotation>
											<xs:documentation xml:lang="ro">Tipul de tarif</xs:documentation>
										</xs:annotation>
										<xs:simpleType>
											<xs:restriction base="xs:string">
												<xs:enumeration value="0">
													<xs:annotation>
														<xs:documentation xml:lang="ro">tarif pe caz rezolvat</xs:documentation>
													</xs:annotation>
												</xs:enumeration>
												<xs:enumeration value="1">
													<xs:annotation>
														<xs:documentation xml:lang="ro">tarif pe serviciu efectuat</xs:documentation>
													</xs:annotation>
												</xs:enumeration>
											</xs:restriction>
										</xs:simpleType>
									</xs:attribute>
									<xs:attribute name="deptCode" use="required">
										<xs:annotation>
											<xs:documentation xml:lang="ro">Codul sectiei in care a avut loc internarea.</xs:documentation>
										</xs:annotation>
										<xs:simpleType>
											<xs:restriction base="xs:string">
												<xs:maxLength value="50"/>
											</xs:restriction>
										</xs:simpleType>
									</xs:attribute>
									<xs:attribute name="city" use="optional">
										<xs:annotation>
											<xs:documentation xml:lang="ro">Codul localitatii de domiciliu a bolnavului. Acest atribut este preluat din nomenclatorul Cities.</xs:documentation>
										</xs:annotation>
										<xs:simpleType>
											<xs:restriction base="xs:string">
												<xs:maxLength value="50"/>
											</xs:restriction>
										</xs:simpleType>
									</xs:attribute>
									<xs:attribute name="district" use="optional">
										<xs:annotation>
											<xs:documentation xml:lang="ro">Codul judetului de domiciliu a bolnavului. Acest atribut este preluat din nomenclatorul Counties.</xs:documentation>
										</xs:annotation>
										<xs:simpleType>
											<xs:restriction base="xs:string">
												<xs:maxLength value="50"/>
											</xs:restriction>
										</xs:simpleType>
									</xs:attribute>
									<xs:attribute name="citizenship" use="optional">
										<xs:annotation>
											<xs:documentation xml:lang="ro">Codul cetateniei bolnavului. Acest atribut este preluat din nomenclatorul Citizenships.</xs:documentation>
										</xs:annotation>
										<xs:simpleType>
											<xs:restriction base="xs:string">
												<xs:maxLength value="50"/>
											</xs:restriction>
										</xs:simpleType>
									</xs:attribute>
									<xs:attribute name="categAsig" use="optional">
										<xs:annotation>
											<xs:documentation xml:lang="ro">Categoria de asigurat</xs:documentation>
										</xs:annotation>
										<xs:simpleType>
											<xs:restriction base="xs:string">
												<xs:minLength value="1"/>
												<xs:maxLength value="2"/>
												<xs:enumeration value="1">
													<xs:annotation>
														<xs:documentation xml:lang="ro">SALARIAT</xs:documentation>
													</xs:annotation>
												</xs:enumeration>
												<xs:enumeration value="2">
													<xs:annotation>
														<xs:documentation xml:lang="ro">COASIG</xs:documentation>
													</xs:annotation>
												</xs:enumeration>
												<xs:enumeration value="3">
													<xs:annotation>
														<xs:documentation xml:lang="ro">PENSIONAR</xs:documentation>
													</xs:annotation>
												</xs:enumeration>
												<xs:enumeration value="4">
													<xs:annotation>
														<xs:documentation xml:lang="ro">COPIL &lt; 18 ANI</xs:documentation>
													</xs:annotation>
												</xs:enumeration>
												<xs:enumeration value="5">
													<xs:annotation>
														<xs:documentation xml:lang="ro">ELEV=/UCENIC/STUDENT 18-26 ANI</xs:documentation>
													</xs:annotation>
												</xs:enumeration>
												<xs:enumeration value="6">
													<xs:annotation>
														<xs:documentation xml:lang="ro">GRAVIDA</xs:documentation>
													</xs:annotation>
												</xs:enumeration>
												<xs:enumeration value="7">
													<xs:annotation>
														<xs:documentation xml:lang="ro">VETERAN</xs:documentation>
													</xs:annotation>
												</xs:enumeration>
												<xs:enumeration value="8">
													<xs:annotation>
														<xs:documentation xml:lang="ro">REVOLUTIONAR</xs:documentation>
													</xs:annotation>
												</xs:enumeration>
												<xs:enumeration value="9">
													<xs:annotation>
														<xs:documentation xml:lang="ro">HANDICAP</xs:documentation>
													</xs:annotation>
												</xs:enumeration>
												<xs:enumeration value="10">
													<xs:annotation>
														<xs:documentation xml:lang="ro">PNS</xs:documentation>
													</xs:annotation>
												</xs:enumeration>
												<xs:enumeration value="11">
													<xs:annotation>
														<xs:documentation xml:lang="ro">AJUTOR SOCIAL</xs:documentation>
													</xs:annotation>
												</xs:enumeration>
												<xs:enumeration value="12">
													<xs:annotation>
														<xs:documentation xml:lang="ro">SOMAJ</xs:documentation>
													</xs:annotation>
												</xs:enumeration>
												<xs:enumeration value="13">
													<xs:annotation>
														<xs:documentation xml:lang="ro">ALTE</xs:documentation>
													</xs:annotation>
												</xs:enumeration>
											</xs:restriction>
										</xs:simpleType>
									</xs:attribute>
									<xs:attribute name="cid" use="optional">
										<xs:annotation>
											<xs:documentation xml:lang="ro">Numărul de asigurat al persoanei</xs:documentation>
										</xs:annotation>
										<xs:simpleType>
											<xs:restriction base="xs:string">
												<xs:length value="20"/>
											</xs:restriction>
										</xs:simpleType>
									</xs:attribute>
									<xs:attribute name="exceptedFromCard" use="optional">
										<xs:annotation>
											<xs:documentation xml:lang="ro">Internarea este exceptata de la semnarea cu cardul pacientului</xs:documentation>
										</xs:annotation>
										<xs:simpleType>
											<xs:restriction base="xs:string">
												<xs:length value="1"/>
												<xs:enumeration value="1">
													<xs:annotation>
														<xs:documentation xml:lang="ro">pacientul executa o pedeapsa privativa de libertate sau se afla în arest preventiv</xs:documentation>
													</xs:annotation>
												</xs:enumeration>
												<xs:enumeration value="2">
													<xs:annotation>
														<xs:documentation xml:lang="ro">persoane cu tulburari psihice prevazute în Legea sanatatii mintale</xs:documentation>
													</xs:annotation>
												</xs:enumeration>
											</xs:restriction>
										</xs:simpleType>
									</xs:attribute>
									<xs:attribute name="authorizedPersonCid" use="optional">
										<xs:annotation>
											<xs:documentation xml:lang="ro">Codul de identificare al reprezentantului legal</xs:documentation>
										</xs:annotation>
										<xs:simpleType>
											<xs:restriction base="xs:string">
												<xs:length value="20"/>
											</xs:restriction>
										</xs:simpleType>
									</xs:attribute>
									<xs:attribute name="hospitalizationForm" use="optional">
										<xs:simpleType>
											<xs:restriction base="xs:string">
												<xs:enumeration value="0">
													<xs:annotation>
														<xs:documentation xml:lang="ro">Ordinul 1782</xs:documentation>
													</xs:annotation>
												</xs:enumeration>
												<xs:enumeration value="1">
													<xs:annotation>
														<xs:documentation xml:lang="ro">Ordinul 1706</xs:documentation>
													</xs:annotation>
												</xs:enumeration>
											</xs:restriction>
										</xs:simpleType>
									</xs:attribute>
									<xs:attribute name="serialCodeBi" use="optional">
										<xs:annotation>
											<xs:documentation xml:lang="ro">Serie bilet de internare.</xs:documentation>
										</xs:annotation>
										<xs:simpleType>
											<xs:restriction base="xs:string">
												<xs:maxLength value="10"/>
											</xs:restriction>
										</xs:simpleType>
									</xs:attribute>
									<xs:attribute name="serialNoBi" use="optional">
										<xs:annotation>
											<xs:documentation xml:lang="ro">Numarul bilet de internare poate fi format numai din cifre</xs:documentation>
										</xs:annotation>
										<xs:simpleType>
											<xs:restriction base="xs:string">
												<xs:maxLength value="10"/>
												<xs:minLength value="1"/>
												<xs:pattern value="[0-9]*"/>
											</xs:restriction>
										</xs:simpleType>
									</xs:attribute>
									<xs:attribute name="exceptedFromBi" use="optional">
										<xs:annotation>
											<xs:appinfo><xml:spec edit="changed" /></xs:appinfo>
											<xs:documentation xml:lang="ro">Internarea este exceptata de la bilet de internare</xs:documentation>
										</xs:annotation>
										<xs:simpleType>
											<xs:restriction base="xs:string">
												<xs:enumeration value="1">
													<xs:annotation>
														<xs:documentation xml:lang="ro">scrisoare medicala acordata de medicii din ambulatoriul integrat al spitalului</xs:documentation>
													</xs:annotation>
												</xs:enumeration>
												<xs:enumeration value="3">
													<xs:annotation>
														<xs:documentation xml:lang="ro">autorizatie prealabila a institutiilor competente din statele UE</xs:documentation>
													</xs:annotation>
												</xs:enumeration>
												<xs:enumeration value="4">
													<xs:annotation>
														<xs:documentation xml:lang="ro">scrisoare medicala acordata la externare cu indicatie de revenire pentru internare</xs:documentation>
													</xs:annotation>
												</xs:enumeration>
												<xs:enumeration value="5">
													<xs:annotation>
														<xs:documentation xml:lang="ro">pacienti cu hemofilie aflati in programul national de hemofilie</xs:documentation>
													</xs:annotation>
												</xs:enumeration>
												<xs:enumeration value="6">
													<xs:annotation>
														<xs:documentation xml:lang="ro">pacienti cu diagnostic oncologic confirmat aflati in Programul national de oncologie</xs:documentation>
													</xs:annotation>
												</xs:enumeration>
											</xs:restriction>
										</xs:simpleType>
									</xs:attribute>
									<xs:attribute name="recommendationStencilNo" use="optional">
										<xs:annotation>
											<xs:documentation xml:lang="ro">Parafa medicului care a acordat scrisoarea medicala.</xs:documentation>
										</xs:annotation>
										<xs:simpleType>
											<xs:restriction base="xs:string">
												<xs:maxLength value="20"/>
											</xs:restriction>
										</xs:simpleType>
									</xs:attribute>
									<xs:attribute name="recommendationContractNo" use="optional">
										<xs:annotation>
											<xs:documentation xml:lang="ro">Numarul contractului medicului care a acordat scrisoarea medicala.</xs:documentation>
										</xs:annotation>
										<xs:simpleType>
											<xs:restriction base="xs:string">
												<xs:maxLength value="40"/>
											</xs:restriction>
										</xs:simpleType>
									</xs:attribute>
									<xs:attribute name="recommendationContractType" use="optional">
										<xs:annotation>
											<xs:documentation xml:lang="ro">Tipul de contract al medicului care a acordat scrisoarea medicala.</xs:documentation>
										</xs:annotation>
										<xs:simpleType>
											<xs:restriction base="xs:string">
												<xs:maxLength value="10"/>
											</xs:restriction>
										</xs:simpleType>
									</xs:attribute>
									<xs:attribute name="recommendationDate" type="xs:date" use="optional">
										<xs:annotation>
											<xs:documentation xml:lang="ro">Data scrisorii medicale acordate la externare cu indicatie de revenire pentru internare</xs:documentation>
										</xs:annotation>
									</xs:attribute>
									<xs:attribute name="phone" use="optional">
										<xs:annotation>
											<xs:documentation xml:lang="ro">Telefon/mobil</xs:documentation>
										</xs:annotation>
										<xs:simpleType>
											<xs:restriction base="xs:string">
												<xs:maxLength value="100"/>
											</xs:restriction>
										</xs:simpleType>
									</xs:attribute>
									<xs:attribute name="email" use="optional">
										<xs:annotation>
											<xs:documentation xml:lang="ro">Adresa de e-mail</xs:documentation>
										</xs:annotation>
										<xs:simpleType>
											<xs:restriction base="xs:string">
												<xs:maxLength value="250"/>
											</xs:restriction>
										</xs:simpleType>
									</xs:attribute>
								</xs:complexType>
							</xs:element>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
				<xs:element name="AnalyticalPrescriptions" minOccurs="0">
					<xs:annotation>
						<xs:documentation xml:lang="ro">Lista retetelor prescrise.</xs:documentation>
					</xs:annotation>
					<xs:complexType>
						<xs:sequence>
							<xs:element name="AnalyticalPrescription" minOccurs="0" maxOccurs="unbounded">
								<xs:annotation>
									<xs:documentation xml:lang="ro">Reteta prescrisa.</xs:documentation>
								</xs:annotation>
								<xs:complexType>
									<xs:complexContent>
										<xs:extension base="Prescription">
											<xs:sequence>
												<xs:element name="AnalyticalPrescDrug" type="PrescDrug" maxOccurs="unbounded">
													<xs:annotation>
														<xs:documentation xml:lang="ro">Medicament prescris pe reteta</xs:documentation>
													</xs:annotation>
												</xs:element>
											</xs:sequence>
										</xs:extension>
									</xs:complexContent>
								</xs:complexType>
							</xs:element>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
				<xs:element name="AnalyticalHomeCare" minOccurs="0" maxOccurs="unbounded">
					<xs:annotation>
						<xs:documentation xml:lang="ro">Lista cu recomandarile de ingrijiri la domiciliu.</xs:documentation>
					</xs:annotation>
					<xs:complexType>
						<xs:complexContent>
							<xs:extension base="HomeCare">
								<xs:sequence>
									<xs:element name="AnalyticalServices" type="Services" maxOccurs="unbounded">
										<xs:annotation>
											<xs:documentation xml:lang="ro">Recomandare de ingrijire la domiciliu</xs:documentation>
										</xs:annotation>
									</xs:element>
								</xs:sequence>
							</xs:extension>
						</xs:complexContent>
					</xs:complexType>
				</xs:element>
				<xs:element name="AnalyticalMedicalDevices" minOccurs="0">
					<xs:annotation>
						<xs:documentation xml:lang="ro">Lista recomandarilor de dispozitive medicale prescrise.</xs:documentation>
					</xs:annotation>
					<xs:complexType>
						<xs:sequence>
							<xs:element name="AnalyticalMedicalDevice" type="MedicalDevice" minOccurs="0" maxOccurs="unbounded">
								<xs:annotation>
									<xs:documentation xml:lang="ro">Recomandare de dispozitiv medical prescris.</xs:documentation>
								</xs:annotation>
							</xs:element>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
				<xs:element name="AnalyticalMedicalNotes" minOccurs="0">
					<xs:annotation>
						<xs:documentation xml:lang="ro">Lista biletelor de trimitere prescrise.</xs:documentation>
					</xs:annotation>
					<xs:complexType>
						<xs:sequence>
							<xs:element name="AnalyticalMedicalNote" type="MedicalNote" minOccurs="0" maxOccurs="unbounded">
								<xs:annotation>
									<xs:documentation xml:lang="ro">Bilet de trimitere prescris.</xs:documentation>
								</xs:annotation>
							</xs:element>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
			</xs:sequence>
			<xs:attribute name="AppKey" type="xs:string" use="optional">
				<xs:annotation>
					<xs:documentation xml:lang="ro">Cheia de identificare a aplicaţiei de raportare (producator de software 3rd partry)</xs:documentation>
				</xs:annotation>
			</xs:attribute>
			<xs:attribute name="AppID" type="xs:string" use="required">
				<xs:annotation>
					<xs:documentation xml:lang="ro">Identificator unic in aplicatia de nivel 4.Acest atribut este folosit la identificarea raportarii.</xs:documentation>
				</xs:annotation>
			</xs:attribute>
			<xs:attribute name="hospitalCode" type="xs:string" use="required">
				<xs:annotation>
					<xs:documentation xml:lang="ro">Codul unitatii care face raportarea.</xs:documentation>
				</xs:annotation>
			</xs:attribute>
			<xs:attribute name="fiscalCode" type="xs:string" use="required">
				<xs:annotation>
					<xs:documentation xml:lang="ro">Codul fiscal al unitatii care face raportarea.</xs:documentation>
				</xs:annotation>
			</xs:attribute>
			<xs:attribute name="insuranceHouse" type="xs:string" use="required">
				<xs:annotation>
					<xs:documentation xml:lang="ro">Codul casei de asigurari cu care este contractul. Acest atribut este preluat din nomenclatorul OrgUnits.</xs:documentation>
				</xs:annotation>
			</xs:attribute>
			<xs:attribute name="contractNo" type="xs:string" use="required">
				<xs:annotation>
					<xs:documentation xml:lang="ro">Numarul contractului pentru care se face raportarea.</xs:documentation>
				</xs:annotation>
			</xs:attribute>
			<xs:attribute name="reportingDate" type="xs:date" use="required">
				<xs:annotation>
					<xs:documentation xml:lang="ro">Data raportarii.</xs:documentation>
				</xs:annotation>
			</xs:attribute>
			<xs:attribute name="startFrom" type="xs:date" use="required">
				<xs:annotation>
					<xs:documentation xml:lang="ro">Data de inceput a perioadei raportate.</xs:documentation>
				</xs:annotation>
			</xs:attribute>
			<xs:attribute name="endTo" type="xs:date" use="required">
				<xs:annotation>
					<xs:documentation xml:lang="ro">Data de sfarsit a perioadei raportate.</xs:documentation>
				</xs:annotation>
			</xs:attribute>
			<xs:attribute name="invoiceNo" use="optional">
				<xs:annotation>
					<xs:documentation xml:lang="en">Invoice number</xs:documentation>
					<xs:documentation xml:lang="ro">Numar factura</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="20"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
			<xs:attribute name="invoiceDate" type="xs:date" use="optional">
				<xs:annotation>
					<xs:documentation xml:lang="en">Invoice date</xs:documentation>
					<xs:documentation xml:lang="ro">Data factura</xs:documentation>
				</xs:annotation>
			</xs:attribute>
			<xs:attribute name="invoiceValue" type="xs:decimal" use="optional">
				<xs:annotation>
					<xs:documentation xml:lang="en">Invoice amount</xs:documentation>
					<xs:documentation xml:lang="ro">Valoare factura</xs:documentation>
				</xs:annotation>
			</xs:attribute>
			<xs:attribute name="reportType" use="required">
				<xs:annotation>
					<xs:documentation xml:lang="ro">Tipul de raportare analitica.</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:enumeration value="SPZ">
							<xs:annotation>
								<xs:documentation xml:lang="ro">SPITALIZARE DE ZI</xs:documentation>
							</xs:annotation>
						</xs:enumeration>
						<xs:enumeration value="PAL">
							<xs:annotation>
								<xs:documentation xml:lang="ro">PALIATIVE</xs:documentation>
							</xs:annotation>
						</xs:enumeration>
						<xs:enumeration value="HEM">
							<xs:annotation>
								<xs:documentation xml:lang="ro">HEMODIALIZA</xs:documentation>
							</xs:annotation>
						</xs:enumeration>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
		</xs:complexType>
	</xs:element>
</xs:schema>
