xsd/raportare/ImportNhpSrv.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema targetNamespace="http://www.cnas.ro/siui/2.0" xmlns="http://www.cnas.ro/siui/2.0" xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" id="ImportNhpSrv">
	<xs:element name="report">
		<xs:annotation>
			<xs:documentation xml:lang="ro">Raportare servicii PNS</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:sequence>
				<xs:element name="pidListSrv" minOccurs="0">
					<xs:annotation>
						<xs:documentation xml:lang="ro">Borderou centralizator al serviciilor PNS</xs:documentation>
					</xs:annotation>
					<xs:complexType>
						<xs:sequence>
							<xs:element name="pidSrv" maxOccurs="unbounded">
								<xs:annotation>
									<xs:documentation xml:lang="ro">Serviciu PNS</xs:documentation>
								</xs:annotation>
								<xs:complexType>
									<xs:sequence>
										<xs:element name="ForeignPerson" minOccurs="0">
											<xs:annotation>
												<xs:documentation xml:lang="ro">Detalii legate de persoana străină.</xs:documentation>
											</xs:annotation>
											<xs:complexType>
												<xs:attribute name="personIdentifier" type="xs:string" use="required">
													<xs:annotation>
														<xs:documentation xml:lang="ro">Codul de identificare al persoanei străine.</xs:documentation>
													</xs:annotation>
												</xs:attribute>
												<xs:attribute name="personFirstName" type="xs:string" use="required">
													<xs:annotation>
														<xs:documentation xml:lang="ro">Prenumele persoanei străine.</xs:documentation>
													</xs:annotation>
												</xs:attribute>
												<xs:attribute name="personLastName" type="xs:string" use="required">
													<xs:annotation>
														<xs:documentation xml:lang="ro">Numele persoanei străine.</xs:documentation>
													</xs:annotation>
												</xs:attribute>
												<xs:attribute name="birthDate" type="xs:date" use="required">
													<xs:annotation>
														<xs:documentation xml:lang="ro">Data de naştere a persoanei străine.</xs:documentation>
													</xs:annotation>
												</xs:attribute>
												<xs:attribute name="countryCode" type="xs:string" use="optional">
													<xs:annotation>
														<xs:documentation xml:lang="ro">Codul ţării cetăţeniei persoanei străine.</xs:documentation>
													</xs:annotation>
												</xs:attribute>
												<xs:attribute name="cardCode" type="xs:string" use="optional">
													<xs:annotation>
														<xs:documentation xml:lang="ro">
                                                    Codul cardului de asigurat al persoanei străine.(In cazul in care persoana are card de asigurare european)
                                                </xs:documentation>
													</xs:annotation>
												</xs:attribute>
												<xs:attribute name="cardExpireDate" type="xs:date" use="optional">
													<xs:annotation>
														<xs:documentation xml:lang="ro">
                                                  Data de expirare a cardului de asigurare.(In cazul in care persoana are card de asigurare european)
                                               </xs:documentation>
													</xs:annotation>
												</xs:attribute>
												<xs:attribute name="emissiveOrgUnitCode" type="xs:string" use="optional">
													<xs:annotation>
														<xs:documentation xml:lang="ro">
                                                   Codul unitătii care a emis cardul de asigurare.(In cazul in care persoana are card de asigurare european)
                                               </xs:documentation>
													</xs:annotation>
												</xs:attribute>
												<xs:attribute name="emissiveOrgUnitName" type="xs:string" use="optional">
													<xs:annotation>
														<xs:documentation xml:lang="ro">
                                                  Numele unitătii care a emis cardul de asigurare.(In cazul in care persoana are card de asigurare european)
                                               </xs:documentation>
													</xs:annotation>
												</xs:attribute>
												<xs:attribute name="emissiveOrgUnitAddress" type="xs:string" use="optional">
													<xs:annotation>
														<xs:documentation xml:lang="ro">
                                                   Adresa unitătii care a emis cardul de asigurare.(In cazul in care persoana are card de asigurare european)
                                               </xs:documentation>
													</xs:annotation>
												</xs:attribute>
											</xs:complexType>
										</xs:element>
									</xs:sequence>
									<xs:attribute name="serviceCode" use="required">
										<xs:annotation>
											<xs:documentation xml:lang="ro">Codul serviciului PNS</xs:documentation>
										</xs:annotation>
										<xs:simpleType>
											<xs:restriction base="xs:string">
												<xs:maxLength value="20"/>
												<xs:minLength value="1"/>
											</xs:restriction>
										</xs:simpleType>
									</xs:attribute>
									<xs:attribute name="pid" use="optional">
										<xs:annotation>
											<xs:documentation xml:lang="ro">CNP al persoanei completat in integralitate</xs:documentation>
										</xs:annotation>
										<xs:simpleType>
											<xs:restriction base="xs:string">
												<xs:maxLength value="13"/>
												<xs:minLength value="13"/>
												<xs:pattern value="[0-9]{13}"/>
											</xs:restriction>
										</xs:simpleType>
									</xs:attribute>
									<xs:attribute name="cid" use="optional">
										<xs:annotation>
											<xs:documentation xml:lang="ro">Codul de asigurat al persoanei</xs:documentation>
										</xs:annotation>
										<xs:simpleType>
											<xs:restriction base="xs:string">
												<xs:maxLength value="30"/>
											</xs:restriction>
										</xs:simpleType>
									</xs:attribute>
									<xs:attribute name="cardNo" use="optional">
										<xs:annotation>
											<xs:documentation xml:lang="ro">Numărul cardului electronic de asigurat al pacientului</xs:documentation>
										</xs:annotation>
										<xs:simpleType>
											<xs:restriction base="xs:string">
												<xs:length value="16"/>
											</xs:restriction>
										</xs:simpleType>
									</xs:attribute>
									<xs:attribute name="authorizedCid" use="optional">
										<xs:annotation>
											<xs:documentation xml:lang="ro">Numărul de asigurat al reprezentantului legal</xs:documentation>
										</xs:annotation>
										<xs:simpleType>
											<xs:restriction base="xs:string">
												<xs:maxLength value="30"/>
											</xs:restriction>
										</xs:simpleType>
									</xs:attribute>
									<xs:attribute name="signature" type="xs:base64Binary" use="optional">
										<xs:annotation>
											<xs:documentation xml:lang="ro">
												Semnătura digitală a pacientului in format Base64, utilizând certificatul de pe card.
												Se completează numai dacă este completat şi numărul de card şi cuprinde atributele "cid|cardNo|serviceDate|serviceCode".
											</xs:documentation>
										</xs:annotation>
									</xs:attribute>
									<xs:attribute name="signHash" type="xs:hexBinary" use="optional">
										<xs:annotation>
											<xs:documentation xml:lang="ro">Nu se mai foloseşte!</xs:documentation>
										</xs:annotation>
									</xs:attribute>
									<xs:attribute name="serviceDate" type="xs:date" use="required">
										<xs:annotation>
											<xs:documentation xml:lang="ro">Data efectuării serviciului</xs:documentation>
										</xs:annotation>
									</xs:attribute>
									<xs:attribute name="quantity" type="xs:double" use="required">
										<xs:annotation>
											<xs:documentation xml:lang="ro">Numărul de servicii efectuate</xs:documentation>
										</xs:annotation>
									</xs:attribute>
									<xs:attribute name="unitPrice" type="xs:double" use="required">
										<xs:annotation>
											<xs:documentation xml:lang="ro">Preţul aferent unui serviciu</xs:documentation>
										</xs:annotation>
									</xs:attribute>
									<xs:attribute name="totalValue" type="xs:double" use="required">
										<xs:annotation>
											<xs:documentation xml:lang="ro">Valoarea totală a serviciilor efectuate</xs:documentation>
										</xs:annotation>
									</xs:attribute>
									<xs:attribute name="appID" use="required">
										<xs:annotation>
											<xs:documentation xml:lang="ro">Identificatorul unic al înregistrării</xs:documentation>
										</xs:annotation>
										<xs:simpleType>
											<xs:restriction base="xs:string">
												<xs:maxLength value="20"/>
											</xs:restriction>
										</xs:simpleType>
									</xs:attribute>
									<xs:attribute name="personType" use="optional">
										<xs:annotation>
											<xs:appinfo><xml:spec edit="changed" /></xs:appinfo>
											<xs:documentation xml:lang="ro">Tipul pacientului. Daca nu e completat se consideră implicit ASIGURAT.</xs:documentation>
										</xs:annotation>
										<xs:simpleType>
											<xs:restriction base="xs:string">
												<xs:enumeration value="ASIGURAT">
													<xs:annotation>
														<xs:documentation xml:lang="ro">Asiguraţi</xs:documentation>
													</xs:annotation>
												</xs:enumeration>
												<xs:enumeration value="CARD_EURO">
													<xs:annotation>
														<xs:documentation xml:lang="ro">Persoane titulare ale cardului european</xs:documentation>
													</xs:annotation>
												</xs:enumeration>
												<xs:enumeration value="CETA_CONV">
													<xs:annotation>
														<xs:documentation xml:lang="ro">Cetăţenii statelor cu care Romania a încheiat inţelegeri, convenţii sau protocoale internaţionale</xs:documentation>
													</xs:annotation>
												</xs:enumeration>
												<xs:enumeration value="FORM_CEE">
													<xs:annotation>
														<xs:documentation xml:lang="ro">Beneficiari de regulament cee 1408/1971</xs:documentation>
													</xs:annotation>
												</xs:enumeration>
												<xs:enumeration value="OUGMGR">
													<xs:annotation>
														<xs:documentation xml:lang="ro">Beneficiari ai OUG15/2022</xs:documentation>
													</xs:annotation>
												</xs:enumeration>
											</xs:restriction>
										</xs:simpleType>
									</xs:attribute>
									<xs:attribute name="exceptedFromCard" type="xs:boolean" use="optional">
										<xs:annotation>
											<xs:documentation xml:lang="ro">Indica daca serviciul este insotit sau nu de referatul de solicitare. Pentru serviciile insotite de referatul de solicitare nu este necesara prezentarea cardului national de asigurari sociale de sanatate. </xs:documentation>
										</xs:annotation>
									</xs:attribute>
								</xs:complexType>
							</xs:element>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
			</xs:sequence>
			<xs:attribute name="providerName" use="required">
				<xs:annotation>
					<xs:documentation xml:lang="ro">Denumirea furnizorului de servicii</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="100"/>
						<xs:minLength value="1"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
			<xs:attribute name="providerUic" use="required">
				<xs:annotation>
					<xs:documentation xml:lang="ro">Codul fiscal al furnizorului de servicii</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="20"/>
						<xs:minLength value="1"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
			<xs:attribute name="contractNo" use="required">
				<xs:annotation>
					<xs:documentation xml:lang="ro">Numărul de contract valabil la data raportării</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="40"/>
						<xs:minLength value="1"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
			<xs:attribute name="insuranceHouseCode" use="required">
				<xs:annotation>
					<xs:documentation xml:lang="ro">Casa de asigurări cu care are contract furnizorul</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="20"/>
						<xs:minLength value="1"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
			<xs:attribute name="nhpCode" use="required">
				<xs:annotation>
					<xs:documentation xml:lang="ro">Codul subprogramului pentru care se raporteaza servicii - ex. pt Gamma Knife: DTAIP_RI</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="20"/>
						<xs:minLength value="1"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
			<xs:attribute name="reportingDate" type="xs:date" use="required">
				<xs:annotation>
					<xs:documentation xml:lang="ro">Data raportării</xs:documentation>
				</xs:annotation>
			</xs:attribute>
			<xs:attribute name="startFrom" type="xs:date" use="required">
				<xs:annotation>
					<xs:documentation xml:lang="ro">Data de început a raportării</xs:documentation>
				</xs:annotation>
			</xs:attribute>
			<xs:attribute name="endTo" type="xs:date" use="required">
				<xs:annotation>
					<xs:documentation xml:lang="ro">Data de sfârşit a raportării</xs:documentation>
				</xs:annotation>
			</xs:attribute>
			<xs:attribute name="appKey" type="xs:string" use="optional">
				<xs:annotation>
					<xs:documentation xml:lang="ro">Cheia de identificare a aplicaţiei de raportare (producator de software 3rd partry)</xs:documentation>
				</xs:annotation>
			</xs:attribute>
			<xs:attribute name="appID" type="xs:unsignedLong" use="required">
				<xs:annotation>
					<xs:documentation xml:lang="ro">Identificatorul unic al raportării</xs:documentation>
				</xs:annotation>
			</xs:attribute>
		</xs:complexType>
	</xs:element>
</xs:schema>
