xsd/raportare/ImportDRG.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema targetNamespace="http://www.cnas.ro/siui/2.0" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns="http://www.cnas.ro/siui/2.0" elementFormDefault="qualified" id="ImportDRG">
	<xs:annotation>
		<xs:documentation xml:lang="ro">Definitia unui fisier de raportare pentru DRG.</xs:documentation>
	</xs:annotation>
	<xs:include schemaLocation="HospitalCommonTypes.xsd"/>
	<xs:element name="report">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="DRGS">
					<xs:annotation>
						<xs:documentation xml:lang="ro">
              Lista serviciilor DRG.
            </xs:documentation>
					</xs:annotation>
					<xs:complexType>
						<xs:sequence>
							<xs:element name="DRG" maxOccurs="unbounded">
								<xs:annotation>
									<xs:documentation xml:lang="ro">Definitia unui serviciu DRG raportat.</xs:documentation>
								</xs:annotation>
								<xs:complexType>
									<xs:attribute name="AppID" type="xs:string" use="required">
										<xs:annotation>
											<xs:documentation xml:lang="ro">Identificatorul unic al înregistrării</xs:documentation>
										</xs:annotation>
									</xs:attribute>
									<xs:attribute name="hospitalDeptCode" type="xs:string" use="optional">
										<xs:annotation>
											<xs:documentation xml:lang="ro">
                        Codul sectie de spital.
                      </xs:documentation>
										</xs:annotation>
									</xs:attribute>
									<xs:attribute name="coefK" type="xs:double" use="optional">
										<xs:annotation>
											<xs:documentation xml:lang="ro">
                        Valoarea coeficientului K al cazurilor extreme.
                      </xs:documentation>
										</xs:annotation>
									</xs:attribute>
									<xs:attribute name="averageCasesNo" type="xs:double" use="optional">
										<xs:annotation>
											<xs:documentation xml:lang="ro">
                        Valoarea numarului mediu de cazuri.
                      </xs:documentation>
										</xs:annotation>
									</xs:attribute>
									<xs:attribute name="icmRealizat" type="xs:double" use="optional">
										<xs:annotation>
											<xs:documentation xml:lang="ro">
                        Valoarea ICM (Indice case-mix) realizat.
                      </xs:documentation>
										</xs:annotation>
									</xs:attribute>
									<xs:attribute name="tcp" type="xs:double" use="optional"/>
									<xs:attribute name="realisedAmount" type="xs:decimal" use="optional">
										<xs:annotation>
											<xs:documentation xml:lang="ro">
                        Suma realizata
                      </xs:documentation>
										</xs:annotation>
									</xs:attribute>
									<xs:attribute name="validatedCasesNo" type="xs:integer" use="optional">
										<xs:annotation>
											<xs:documentation xml:lang="ro">
                        Numarul de cazuri raportate si validate de catre SNSPMS.
                      </xs:documentation>
										</xs:annotation>
									</xs:attribute>
									<xs:attribute name="invalidatedCasesNo" type="xs:integer" use="optional">
										<xs:annotation>
											<xs:documentation xml:lang="ro">
                        Numarul de cazuri raportate si ne-validate de catre SNSPMS.
                      </xs:documentation>
										</xs:annotation>
									</xs:attribute>
									<xs:attribute name="realisedCasesNo" type="xs:integer" use="required">
										<xs:annotation>
											<xs:documentation xml:lang="ro">
                        Numarul de cazuri externate si raportate catre SNSPMS.
                      </xs:documentation>
										</xs:annotation>
									</xs:attribute>
									<xs:attribute name="personType" use="required">
										<xs:annotation>
											<xs:documentation xml:lang="ro">Codul tipului de persoana pentru care sunt valabile informatiile raportate (Asigurata, Boli profesionale, Vatamari corporale, Card European, Asigurari internationale.)</xs:documentation>
										</xs:annotation>
										<xs:simpleType>
											<xs:restriction base="xs:string">
												<xs:enumeration value="ASIGURAT">
													<xs:annotation>
														<xs:documentation xml:lang="ro">Asigurati</xs:documentation>
													</xs:annotation>
												</xs:enumeration>
												<xs:enumeration value="ACCI_PROF">
													<xs:annotation>
														<xs:documentation xml:lang="ro">Accidente de munca sau boli profesionale</xs:documentation>
													</xs:annotation>
												</xs:enumeration>
												<xs:enumeration value="PREJ_DAUN">
													<xs:annotation>
														<xs:documentation xml:lang="ro">Accidente rutiere sau vatamari corporale</xs:documentation>
													</xs:annotation>
												</xs:enumeration>
												<xs:enumeration value="CARD_EURO">
													<xs:annotation>
														<xs:documentation xml:lang="ro">Persoane titulare ale cardului european</xs:documentation>
													</xs:annotation>
												</xs:enumeration>
												<xs:enumeration value="CETA_CONV">
													<xs:annotation>
														<xs:documentation xml:lang="ro">Cetatenii statelor cu care Romania a incheiat intelegeri, conventii sau protocoale internationale</xs:documentation>
													</xs:annotation>
												</xs:enumeration>
												<xs:enumeration value="FORM_CEE">
													<xs:annotation>
														<xs:documentation xml:lang="ro">Beneficiari de regulament cee 1408/1971</xs:documentation>
													</xs:annotation>
												</xs:enumeration>
											</xs:restriction>
										</xs:simpleType>
									</xs:attribute>
									<xs:attribute name="fromDate" type="xs:date" use="optional">
										<xs:annotation>
											<xs:documentation xml:lang="ro">Data de inceput a perioadei raportate</xs:documentation>
										</xs:annotation>
									</xs:attribute>
									<xs:attribute name="toDate" type="xs:date" use="optional">
										<xs:annotation>
											<xs:documentation xml:lang="ro">Data de sfarsit a perioadei raportate</xs:documentation>
										</xs:annotation>
									</xs:attribute>
									<xs:attribute name="transferredCasesNo" type="xs:integer" use="optional">
										<xs:annotation>
											<xs:documentation xml:lang="ro">Nr. cazuri externate (reinternate şi transferate)</xs:documentation>
										</xs:annotation>
									</xs:attribute>
									<xs:attribute name="transferredCasesApproved" type="xs:integer" use="optional">
										<xs:annotation>
											<xs:documentation xml:lang="ro">Nr. cazuri externate (reinternate şi transferate) aprobate</xs:documentation>
										</xs:annotation>
									</xs:attribute>
								</xs:complexType>
							</xs:element>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
				<xs:element name="DRGPrescriptions" minOccurs="0">
					<xs:annotation>
						<xs:documentation xml:lang="ro">
              Lista retetelor prescrise.
            </xs:documentation>
					</xs:annotation>
					<xs:complexType>
						<xs:sequence>
							<xs:element name="DRGPrescription" minOccurs="0" maxOccurs="unbounded">
								<xs:annotation>
									<xs:documentation xml:lang="ro">
                    Reteta prescrisa.
                  </xs:documentation>
								</xs:annotation>
								<xs:complexType>
									<xs:complexContent>
										<xs:extension base="Prescription">
											<xs:sequence>
												<xs:element name="DRGPrescDrug" type="PrescDrug" maxOccurs="unbounded">
													<xs:annotation>
														<xs:documentation xml:lang="ro">Medicament prescris pe reteta</xs:documentation>
													</xs:annotation>
												</xs:element>
											</xs:sequence>
										</xs:extension>
									</xs:complexContent>
								</xs:complexType>
							</xs:element>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
				<xs:element name="DRGHomeCare" minOccurs="0" maxOccurs="unbounded">
					<xs:annotation>
						<xs:documentation xml:lang="ro">
              Lista cu recomandarile de ingrijiri la domiciliu.
            </xs:documentation>
					</xs:annotation>
					<xs:complexType>
						<xs:complexContent>
							<xs:extension base="HomeCare">
								<xs:sequence>
									<xs:element name="DRGServices" type="Services" minOccurs="0" maxOccurs="unbounded">
										<xs:annotation>
											<xs:documentation xml:lang="ro">Recomandare de ingrijire la domiciliu</xs:documentation>
										</xs:annotation>
									</xs:element>
								</xs:sequence>
							</xs:extension>
						</xs:complexContent>
					</xs:complexType>
				</xs:element>
				<xs:element name="DRGMedicalDevices" minOccurs="0">
					<xs:annotation>
						<xs:documentation xml:lang="ro">
              Lista recomandarilor de dispozitive medicale prescrise.
            </xs:documentation>
					</xs:annotation>
					<xs:complexType>
						<xs:sequence>
							<xs:element name="DRGMedicalDevice" type="MedicalDevice" minOccurs="0" maxOccurs="unbounded">
								<xs:annotation>
									<xs:documentation xml:lang="ro">
                    Recomandare de dispozitiv medical prescris.
                  </xs:documentation>
								</xs:annotation>
							</xs:element>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
				<xs:element name="DRGMedicalNotes" minOccurs="0">
					<xs:annotation>
						<xs:documentation xml:lang="ro">
              Lista biletelor de trimitere prescrise.
            </xs:documentation>
					</xs:annotation>
					<xs:complexType>
						<xs:sequence>
							<xs:element name="DRGMedicalNote" type="MedicalNote" minOccurs="0" maxOccurs="unbounded">
								<xs:annotation>
									<xs:documentation xml:lang="ro">
                    Bilet de trimitere prescris.
                  </xs:documentation>
								</xs:annotation>
							</xs:element>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
				<xs:element name="ForeignPersons" minOccurs="0">
					<xs:annotation>
						<xs:documentation xml:lang="ro">
              Lista persoanelor straine.
            </xs:documentation>
					</xs:annotation>
					<xs:complexType>
						<xs:sequence>
							<xs:element name="ForeignPerson" minOccurs="0" maxOccurs="unbounded">
								<xs:annotation>
									<xs:documentation xml:lang="ro">
                    Persoana straina.
                  </xs:documentation>
								</xs:annotation>
								<xs:complexType>
									<xs:complexContent>
										<xs:extension base="ForeignPerson">
											<xs:sequence>
												<xs:element name="ForeignProcedure" type="ForeignProcedure" minOccurs="0" maxOccurs="unbounded">
													<xs:annotation>
														<xs:documentation xml:lang="ro">Serviciile medicale efectuate persoanei straine</xs:documentation>
													</xs:annotation>
												</xs:element>
												<xs:element name="ForeignExpenses" type="ForeignExpenses" minOccurs="0"/>
												<xs:element name="ForeignExpensesDetails" minOccurs="0">
					                                <xs:annotation>
														<xs:appinfo><xml:spec edit="added" /></xs:appinfo>
						                               <xs:documentation xml:lang="ro">Decont de cheltuieli pentru persoanele straine( Anexa 23 E )</xs:documentation>
					                                </xs:annotation>
					                                <xs:complexType>
						                               <xs:sequence>
							                              <xs:element name="drugsExpenses" minOccurs="0" maxOccurs="unbounded">
								                              <xs:annotation>
																	<xs:appinfo><xml:spec edit="added" /></xs:appinfo>
									                              <xs:documentation xml:lang="ro">Farmacie - Cheltuieli pentru medicamente si alte produse din farmacie pe perioada spitalizarii( cheltuielile pentru medicamentele  suportate din programe vor fi evidentiate distinct ca fiind suportate din FNUASS si nu intra in calculul acestei sume )</xs:documentation>
								                              </xs:annotation>
								                              <xs:complexType>
									                            <xs:complexContent>
										                            <xs:extension base="expenseType">
														            </xs:extension>
									                            </xs:complexContent>
                                                              </xs:complexType>	
                                                          </xs:element>
							                              <xs:element name="medicalSuppliesExpenses" minOccurs="0" maxOccurs="unbounded">
								                              <xs:annotation>
																	<xs:appinfo><xml:spec edit="added" /></xs:appinfo>
									                              <xs:documentation xml:lang="ro">Cheltuieli pentru materiale sanitare si alte consumabile( cheltuielile pentru materialele sanitare suportate din programe vor fi evidentiate distinct ca fiind suportate din FNUASS si nu intra in calculul acestei sume)</xs:documentation>
								                              </xs:annotation>
								                              <xs:complexType>
									                            <xs:complexContent>
										                            <xs:extension base="expenseType">
														            </xs:extension>
									                            </xs:complexContent>
                                                              </xs:complexType>	
                                                          </xs:element>
							                              <xs:element name="laboratoryExamExpenses" minOccurs="0" maxOccurs="unbounded">
								                              <xs:annotation>
																	<xs:appinfo><xml:spec edit="added" /></xs:appinfo>
									                              <xs:documentation xml:lang="ro">Cheltuieli pentru investigatii paraclinice - analize medicale de laborator  (inclusiv investigaţii anatomie patologica)</xs:documentation>
								                              </xs:annotation>
								                              <xs:complexType>
									                            <xs:complexContent>
										                            <xs:extension base="expenseType">
														            </xs:extension>
									                            </xs:complexContent>
                                                              </xs:complexType>	
                                                          </xs:element>
							                              <xs:element name="laboratoryRadiologyAndImag" minOccurs="0" maxOccurs="unbounded">
								                              <xs:annotation>
																	<xs:appinfo><xml:spec edit="added" /></xs:appinfo>
									                              <xs:documentation xml:lang="ro">Cheltuieli pentru investigatii paraclinice de radiologie imagistica medicala si medicina nucleara( cheltuielile pentru investigatiile suportate din programe vor fi evidentiate distinct ca fiind suportate din FNUASS si nu intra in calculul acestei sume )</xs:documentation>
								                              </xs:annotation>
								                              <xs:complexType>
									                            <xs:complexContent>
										                            <xs:extension base="expenseType">
														            </xs:extension>
									                            </xs:complexContent>
                                                              </xs:complexType>	
                                                          </xs:element>
							                              <xs:element name="otherInvestigationExpenses" minOccurs="0" maxOccurs="unbounded">
								                              <xs:annotation>
																	<xs:appinfo><xml:spec edit="added" /></xs:appinfo>
									                              <xs:documentation xml:lang="ro">Cheltuieli pentru alte investigatii si proceduri</xs:documentation>
								                              </xs:annotation>
								                              <xs:complexType>
									                            <xs:complexContent>
										                            <xs:extension base="expenseType">
														            </xs:extension>
									                            </xs:complexContent>
                                                              </xs:complexType>	
                                                          </xs:element>
							                              <xs:element name="ClinicExpenses" minOccurs="0" maxOccurs="unbounded">
								                              <xs:annotation>
																	<xs:appinfo><xml:spec edit="added" /></xs:appinfo>
									                              <xs:documentation xml:lang="ro">Cheltuieli consult(uri) interclinice</xs:documentation>
								                              </xs:annotation>
								                              <xs:complexType>
									                            <xs:complexContent>
										                            <xs:extension base="expenseType">
														            </xs:extension>
									                            </xs:complexContent>
                                                              </xs:complexType>	
                                                          </xs:element>
							                              <xs:element name="medicalDevicesExpenses" minOccurs="0" maxOccurs="unbounded">
								                              <xs:annotation>
																	<xs:appinfo><xml:spec edit="added" /></xs:appinfo>
									                              <xs:documentation xml:lang="ro">Dispozitiv(e) medical(e) ( cheltuielile pentru dispozitivele suportate din programe vor fi evidentiate distinct ca fiind suportate din FNUASS si nu intra in calculul acestei sume )</xs:documentation>
								                              </xs:annotation>
								                              <xs:complexType>
									                            <xs:complexContent>
										                            <xs:extension base="expenseType">
														            </xs:extension>
									                            </xs:complexContent>
                                                              </xs:complexType>	
                                                          </xs:element>
							                              <xs:element name="otherServicesExpenses" minOccurs="0" maxOccurs="unbounded">
								                              <xs:annotation>
																	<xs:appinfo><xml:spec edit="added" /></xs:appinfo>
									                              <xs:documentation xml:lang="ro">Alte servicii ( cheltuielile pentru servicii suportate din programe vor fi evidentiate distinct ca fiind suportate din FNUASS si nu intra in calculul acestei sume )</xs:documentation>
								                              </xs:annotation>
								                              <xs:complexType>
									                            <xs:complexContent>
										                            <xs:extension base="expenseType">
														            </xs:extension>
									                            </xs:complexContent>
                                                              </xs:complexType>	
                                                          </xs:element>
							                              <xs:element name="otherCareExpenses" minOccurs="0" maxOccurs="unbounded">
								                              <xs:annotation>
																	<xs:appinfo><xml:spec edit="added" /></xs:appinfo>
									                              <xs:documentation xml:lang="ro">Alte ingrijiri</xs:documentation>
								                              </xs:annotation>
								                              <xs:complexType>
									                            <xs:complexContent>
										                            <xs:extension base="expenseType">
														            </xs:extension>
									                            </xs:complexContent>
                                                              </xs:complexType>	
                                                          </xs:element>
							                              <xs:element name="staffExpenses" minOccurs="0" maxOccurs="unbounded">
								                              <xs:annotation>
																	<xs:appinfo><xml:spec edit="added" /></xs:appinfo>
									                              <xs:documentation xml:lang="ro">Cheltuieli personal</xs:documentation>
								                              </xs:annotation>	
                                                              <xs:complexType>
									                             <xs:attribute name="description" use="required">
										                            <xs:annotation>
																	<xs:appinfo><xml:spec edit="added" /></xs:appinfo>
											                            <xs:documentation xml:lang="ro">Descrierea cheltuielii</xs:documentation>
										                            </xs:annotation>
										                            <xs:simpleType>
											                           <xs:restriction base="xs:string">
												                          <xs:maxLength value="255" />
											                           </xs:restriction>
										                            </xs:simpleType>
									                             </xs:attribute>
		                                                         <xs:attribute name="amount" type="xs:double" use="required">
			                                                       <xs:annotation>
																	<xs:appinfo><xml:spec edit="added" /></xs:appinfo>
				                                                      <xs:documentation xml:lang="ro">Suma</xs:documentation>
			                                                       </xs:annotation>
		                                                         </xs:attribute>
															   </xs:complexType>
                                                          </xs:element>
							                              <xs:element name="indirectExpenses" minOccurs="0" maxOccurs="unbounded">
								                              <xs:annotation>
																	<xs:appinfo><xml:spec edit="added" /></xs:appinfo>
									                              <xs:documentation xml:lang="ro">Cheltuieli indirecte</xs:documentation>
								                              </xs:annotation>
								                              <xs:complexType>
									                            <xs:complexContent>
										                            <xs:extension base="expenseType">
														            </xs:extension>
									                            </xs:complexContent>
                                                              </xs:complexType>	
                                                          </xs:element>
							                              <xs:element name="otherMedicalServices" minOccurs="0" maxOccurs="unbounded">
								                              <xs:annotation>
																	<xs:appinfo><xml:spec edit="added" /></xs:appinfo>
									                              <xs:documentation xml:lang="ro">Suma pentru servicii medicale suplimentare, nenecesare pentru rezolvarea cazului ( se vor evidentia toate serviciile medicale suplimentare, detaliat cu cantitate si pret ) </xs:documentation>
								                              </xs:annotation>
								                              <xs:complexType>
									                            <xs:complexContent>
										                            <xs:extension base="expenseType">
														            </xs:extension>
									                            </xs:complexContent>
                                                              </xs:complexType>	
                                                          </xs:element>
						                               </xs:sequence>
		                                               <xs:attribute name="foodExpenses" type="xs:double" use="optional">
			                                              <xs:annotation>
															<xs:appinfo><xml:spec edit="added" /></xs:appinfo>
				                                              <xs:documentation xml:lang="ro">Cheltuieli pentru cazare camera si hrana (la nivel standard): Nr. zile spitalizare x cheltuieli cazare si hrana pe zi de spitalizare</xs:documentation>
			                                              </xs:annotation>
		                                               </xs:attribute>
		                                               <xs:attribute name="ATIExpenses" type="xs:double" use="optional">
			                                              <xs:annotation>
															<xs:appinfo><xml:spec edit="added" /></xs:appinfo>
				                                             <xs:documentation xml:lang="ro">Cheltuieli pentru cazare ATI, dupa caz</xs:documentation>
			                                              </xs:annotation>
		                                               </xs:attribute>
		                                               <xs:attribute name="otherHospitalExpenses" type="xs:double" use="optional">
			                                              <xs:annotation>
															<xs:appinfo><xml:spec edit="added" /></xs:appinfo>
				                                             <xs:documentation xml:lang="ro">Suma pentru servicii nemedicale – servicii hoteliere suplimentare sau de confort sporit fata de standard(nr. zile spitalizare x suma servicii hoteliere suplimentare/zi de spitalizare )</xs:documentation>
			                                              </xs:annotation>
		                                               </xs:attribute>
		                                               <xs:attribute name="hospitalAmount" type="xs:double" use="required">
			                                              <xs:annotation>
															<xs:appinfo><xml:spec edit="added" /></xs:appinfo>
				                                             <xs:documentation xml:lang="ro">Tarif integral practicat de spital pentru rezolvarea cazului in regim de spitalizare continua</xs:documentation>
			                                              </xs:annotation>
		                                               </xs:attribute>
		                                               <xs:attribute name="FNUASSAmount" type="xs:double" use="required">
			                                              <xs:annotation>
															<xs:appinfo><xml:spec edit="added" /></xs:appinfo>
				                                             <xs:documentation xml:lang="ro">Suma suportata din FNUASS pentru serviciile medicale spitalicesti ce urmeaza sa fie acordate pacientului, rezultata din inmultirea valorii relative a cazului cu tariful pe caz ponderat propriu spitalului</xs:documentation>
			                                              </xs:annotation>
		                                               </xs:attribute>
		                                               <xs:attribute name="personalContribution" type="xs:double" use="required">
			                                              <xs:annotation>
															<xs:appinfo><xml:spec edit="added" /></xs:appinfo>
				                                             <xs:documentation xml:lang="ro">Contributia personala</xs:documentation>
			                                              </xs:annotation>
		                                               </xs:attribute>
					                                </xs:complexType>
												</xs:element>
											</xs:sequence>
										</xs:extension>
									</xs:complexContent>
								</xs:complexType>
							</xs:element>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
				<xs:element name="PidLists">
					<xs:annotation>
						<xs:documentation xml:lang="ro">Lista CNP-uri care se incadreaza la situatii exceptionale</xs:documentation>
					</xs:annotation>
					<xs:complexType>
						<xs:sequence>
							<xs:element name="PidList" minOccurs="0" maxOccurs="unbounded">
								<xs:annotation>
									<xs:documentation xml:lang="ro">Persoane care se incadreaza la situatii exceptionale</xs:documentation>
								</xs:annotation>
								<xs:complexType>
									<xs:complexContent>
										<xs:extension base="PidList">
											<xs:sequence>
												<xs:element name="Procedure" type="Procedure" minOccurs="0" maxOccurs="unbounded">
													<xs:annotation>
														<xs:documentation xml:lang="ro">Serviciile medicale efectuate</xs:documentation>
													</xs:annotation>
												</xs:element>
												<xs:element name="Expenses" type="Expenses" minOccurs="0"/>
												<xs:element name="ExpensesDetails" minOccurs="0">
					                                <xs:annotation>
														<xs:appinfo><xml:spec edit="added" /></xs:appinfo>
						                               <xs:documentation xml:lang="ro">Decont de cheltuieli pentru cetateni romani( Anexa 23 E )</xs:documentation>
					                                </xs:annotation>
					                                <xs:complexType>
						                               <xs:sequence>
							                              <xs:element name="drugsExpenses" minOccurs="0" maxOccurs="unbounded">
								                              <xs:annotation>
																<xs:appinfo><xml:spec edit="added" /></xs:appinfo>
									                              <xs:documentation xml:lang="ro">Farmacie - Cheltuieli pentru medicamente si alte produse din farmacie pe perioada spitalizarii( cheltuielile pentru medicamentele  suportate din programe vor fi evidentiate distinct ca fiind suportate din FNUASS si nu intra in calculul acestei sume )</xs:documentation>
								                              </xs:annotation>
								                              <xs:complexType>
									                            <xs:complexContent>
										                            <xs:extension base="expenseType">
														            </xs:extension>
									                            </xs:complexContent>
                                                              </xs:complexType>	
                                                          </xs:element>
							                              <xs:element name="medicalSuppliesExpenses" minOccurs="0" maxOccurs="unbounded">
								                              <xs:annotation>
																	<xs:appinfo><xml:spec edit="added" /></xs:appinfo>
									                              <xs:documentation xml:lang="ro">Cheltuieli pentru materiale sanitare si alte consumabile( cheltuielile pentru materialele sanitare suportate din programe vor fi evidentiate distinct ca fiind suportate din FNUASS si nu intra in calculul acestei sume)</xs:documentation>
								                              </xs:annotation>
								                              <xs:complexType>
									                            <xs:complexContent>
										                            <xs:extension base="expenseType">
														            </xs:extension>
									                            </xs:complexContent>
                                                              </xs:complexType>	
                                                          </xs:element>
							                              <xs:element name="laboratoryExamExpenses" minOccurs="0" maxOccurs="unbounded">
								                              <xs:annotation>
																<xs:appinfo><xml:spec edit="added" /></xs:appinfo>
									                              <xs:documentation xml:lang="ro">Cheltuieli pentru investigatii paraclinice - analize medicale de laborator  (inclusiv investigaţii anatomie patologica)</xs:documentation>
								                              </xs:annotation>
								                              <xs:complexType>
									                            <xs:complexContent>
										                            <xs:extension base="expenseType">
														            </xs:extension>
									                            </xs:complexContent>
                                                              </xs:complexType>	
                                                          </xs:element>
							                              <xs:element name="laboratoryRadiologyAndImag" minOccurs="0" maxOccurs="unbounded">
								                              <xs:annotation>
																<xs:appinfo><xml:spec edit="added" /></xs:appinfo>
									                              <xs:documentation xml:lang="ro">Cheltuieli pentru investigatii paraclinice de radiologie imagistica medicala si medicina nucleara( cheltuielile pentru investigatiile suportate din programe vor fi evidentiate distinct ca fiind suportate din FNUASS si nu intra in calculul acestei sume )</xs:documentation>
								                              </xs:annotation>
								                              <xs:complexType>
									                            <xs:complexContent>
										                            <xs:extension base="expenseType">
														            </xs:extension>
									                            </xs:complexContent>
                                                              </xs:complexType>	
                                                          </xs:element>
							                              <xs:element name="otherInvestigationExpenses" minOccurs="0" maxOccurs="unbounded">
								                              <xs:annotation>
																<xs:appinfo><xml:spec edit="added" /></xs:appinfo>
									                              <xs:documentation xml:lang="ro">Cheltuieli pentru alte investigatii si proceduri</xs:documentation>
								                              </xs:annotation>
								                              <xs:complexType>
									                            <xs:complexContent>
										                            <xs:extension base="expenseType">
														            </xs:extension>
									                            </xs:complexContent>
                                                              </xs:complexType>	
                                                          </xs:element>
							                              <xs:element name="ClinicExpenses" minOccurs="0" maxOccurs="unbounded">
								                              <xs:annotation>
																<xs:appinfo><xml:spec edit="added" /></xs:appinfo>
									                              <xs:documentation xml:lang="ro">Cheltuieli consult(uri) interclinice</xs:documentation>
								                              </xs:annotation>
								                              <xs:complexType>
									                            <xs:complexContent>
										                            <xs:extension base="expenseType">
														            </xs:extension>
									                            </xs:complexContent>
                                                              </xs:complexType>	
                                                          </xs:element>
							                              <xs:element name="medicalDevicesExpenses" minOccurs="0" maxOccurs="unbounded">
								                              <xs:annotation>
																<xs:appinfo><xml:spec edit="added" /></xs:appinfo>
									                              <xs:documentation xml:lang="ro">Dispozitiv(e) medical(e) ( cheltuielile pentru dispozitivele suportate din programe vor fi evidentiate distinct ca fiind suportate din FNUASS si nu intra in calculul acestei sume )</xs:documentation>
								                              </xs:annotation>
								                              <xs:complexType>
									                            <xs:complexContent>
										                            <xs:extension base="expenseType">
														            </xs:extension>
									                            </xs:complexContent>
                                                              </xs:complexType>	
                                                          </xs:element>
							                              <xs:element name="otherServicesExpenses" minOccurs="0" maxOccurs="unbounded">
								                              <xs:annotation>
																<xs:appinfo><xml:spec edit="added" /></xs:appinfo>
									                              <xs:documentation xml:lang="ro">Alte servicii ( cheltuielile pentru servicii suportate din programe vor fi evidentiate distinct ca fiind suportate din FNUASS si nu intra in calculul acestei sume )</xs:documentation>
								                              </xs:annotation>
								                              <xs:complexType>
									                            <xs:complexContent>
										                            <xs:extension base="expenseType">
														            </xs:extension>
									                            </xs:complexContent>
                                                              </xs:complexType>	
                                                          </xs:element>
							                              <xs:element name="otherCareExpenses" minOccurs="0" maxOccurs="unbounded">
								                              <xs:annotation>
																	<xs:appinfo><xml:spec edit="added" /></xs:appinfo>
									                              <xs:documentation xml:lang="ro">Alte ingrijiri</xs:documentation>
								                              </xs:annotation>
								                              <xs:complexType>
									                            <xs:complexContent>
										                            <xs:extension base="expenseType">
														            </xs:extension>
									                            </xs:complexContent>
                                                              </xs:complexType>	
                                                          </xs:element>
							                              <xs:element name="staffExpenses" minOccurs="0" maxOccurs="unbounded">
								                              <xs:annotation>
																	<xs:appinfo><xml:spec edit="added" /></xs:appinfo>
									                              <xs:documentation xml:lang="ro">Cheltuieli personal</xs:documentation>
								                              </xs:annotation>
                                                              <xs:complexType>
									                             <xs:attribute name="description" use="required">
										                            <xs:annotation>
																		<xs:appinfo><xml:spec edit="added" /></xs:appinfo>
											                            <xs:documentation xml:lang="ro">Descrierea cheltuielii</xs:documentation>
										                            </xs:annotation>
										                            <xs:simpleType>
											                           <xs:restriction base="xs:string">
												                          <xs:maxLength value="255" />
											                           </xs:restriction>
										                            </xs:simpleType>
									                             </xs:attribute>
		                                                         <xs:attribute name="amount" type="xs:double" use="required">
			                                                       <xs:annotation>
																		<xs:appinfo><xml:spec edit="added" /></xs:appinfo>
				                                                      <xs:documentation xml:lang="ro">Suma</xs:documentation>
			                                                       </xs:annotation>
		                                                         </xs:attribute>
															   </xs:complexType>
                                                          </xs:element>
							                              <xs:element name="indirectExpenses" minOccurs="0" maxOccurs="unbounded">
								                              <xs:annotation>
																<xs:appinfo><xml:spec edit="added" /></xs:appinfo>
									                              <xs:documentation xml:lang="ro">Cheltuieli indirecte</xs:documentation>
								                              </xs:annotation>
								                              <xs:complexType>
									                            <xs:complexContent>
										                            <xs:extension base="expenseType">
														            </xs:extension>
									                            </xs:complexContent>
                                                              </xs:complexType>	
                                                          </xs:element>
							                              <xs:element name="otherMedicalServices" minOccurs="0" maxOccurs="unbounded">
								                              <xs:annotation>
																<xs:appinfo><xml:spec edit="added" /></xs:appinfo>
									                              <xs:documentation xml:lang="ro">Suma pentru servicii medicale suplimentare, nenecesare pentru rezolvarea cazului ( se vor evidentia toate serviciile medicale suplimentare, detaliat cu cantitate si pret ) </xs:documentation>
								                              </xs:annotation>
								                              <xs:complexType>
									                            <xs:complexContent>
										                            <xs:extension base="expenseType">
														            </xs:extension>
									                            </xs:complexContent>
                                                              </xs:complexType>	
                                                            </xs:element>
						                               </xs:sequence>
		                                               <xs:attribute name="foodExpenses" type="xs:double" use="optional">
			                                              <xs:annotation>
															<xs:appinfo><xml:spec edit="added" /></xs:appinfo>
				                                              <xs:documentation xml:lang="ro">Cheltuieli pentru cazare camera si hrana (la nivel standard): Nr. zile spitalizare x cheltuieli cazare si hrana pe zi de spitalizare</xs:documentation>
			                                              </xs:annotation>
		                                               </xs:attribute>
		                                               <xs:attribute name="ATIExpenses" type="xs:double" use="optional">
			                                              <xs:annotation>
															<xs:appinfo><xml:spec edit="added" /></xs:appinfo>
				                                             <xs:documentation xml:lang="ro">Cheltuieli pentru cazare ATI, dupa caz</xs:documentation>
			                                              </xs:annotation>
		                                               </xs:attribute>
		                                               <xs:attribute name="otherHospitalExpenses" type="xs:double" use="optional">
			                                              <xs:annotation>
															<xs:appinfo><xml:spec edit="added" /></xs:appinfo>
				                                             <xs:documentation xml:lang="ro">Suma pentru servicii nemedicale – servicii hoteliere suplimentare sau de confort sporit fata de standard(nr. zile spitalizare x suma servicii hoteliere suplimentare/zi de spitalizare )</xs:documentation>
			                                              </xs:annotation>
		                                               </xs:attribute>
		                                               <xs:attribute name="hospitalAmount" type="xs:double" use="required">
			                                              <xs:annotation>
															<xs:appinfo><xml:spec edit="added" /></xs:appinfo>
				                                             <xs:documentation xml:lang="ro">Tarif integral practicat de spital pentru rezolvarea cazului in regim de spitalizare continua</xs:documentation>
			                                              </xs:annotation>
		                                               </xs:attribute>
		                                               <xs:attribute name="FNUASSAmount" type="xs:double" use="required">
			                                              <xs:annotation>
															<xs:appinfo><xml:spec edit="added" /></xs:appinfo>
				                                             <xs:documentation xml:lang="ro">Suma suportata din FNUASS pentru serviciile medicale spitalicesti ce urmeaza sa fie acordate pacientului, rezultata din inmultirea valorii relative a cazului cu tariful pe caz ponderat propriu spitalului</xs:documentation>
			                                              </xs:annotation>
		                                               </xs:attribute>
		                                               <xs:attribute name="personalContribution" type="xs:double" use="required">
			                                              <xs:annotation>
															<xs:appinfo><xml:spec edit="added" /></xs:appinfo>
				                                             <xs:documentation xml:lang="ro">Contributia personala</xs:documentation>
			                                              </xs:annotation>
		                                               </xs:attribute>
					                                </xs:complexType>
												</xs:element>
											</xs:sequence>
										</xs:extension>
									</xs:complexContent>
								</xs:complexType>
							</xs:element>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
				<xs:element name="OtherSuppliers">
					<xs:annotation>
						<xs:documentation xml:lang="ro">Lista CNP-uri care au fost tratate la alti furnizori</xs:documentation>
					</xs:annotation>
					<xs:complexType>
						<xs:sequence>
							<xs:element name="OtherSupplier" type="OtherSupplier" minOccurs="0" maxOccurs="unbounded">
								<xs:annotation>
									<xs:documentation xml:lang="ro">CNP care a fost tratat la alti furnizori</xs:documentation>
								</xs:annotation>
							</xs:element>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
			</xs:sequence>
			<xs:attribute name="AppKey" type="xs:string" use="optional">
				<xs:annotation>
					<xs:documentation xml:lang="ro">Cheia de identificare a aplicaţiei de raportare (producator de software 3rd partry)</xs:documentation>
				</xs:annotation>
			</xs:attribute>
			<xs:attribute name="AppID" type="xs:string" use="required">
				<xs:annotation>
					<xs:documentation xml:lang="ro">
						Identificator unic in aplicatia de raportare.
						Acest atribut este folosit la identificarea raportarii.
					</xs:documentation>
				</xs:annotation>
			</xs:attribute>
			<xs:attribute name="hospitalCode" type="xs:string" use="required">
				<xs:annotation>
					<xs:documentation xml:lang="ro">
            Codul unitatii care face raportarea.
          </xs:documentation>
				</xs:annotation>
			</xs:attribute>
			<xs:attribute name="fiscalCode" type="xs:string" use="required">
				<xs:annotation>
					<xs:documentation xml:lang="ro">
            Codul fiscal al unitatii care face raportarea.
          </xs:documentation>
				</xs:annotation>
			</xs:attribute>
			<xs:attribute name="insuranceHouse" type="xs:string" use="required">
				<xs:annotation>
					<xs:documentation xml:lang="ro">
            Codul casei de asigurari cu care este contractul. Acest atribut este preluat din nomenclatorul OrgUnits.
          </xs:documentation>
				</xs:annotation>
			</xs:attribute>
			<xs:attribute name="contractNo" type="xs:string" use="required">
				<xs:annotation>
					<xs:documentation xml:lang="ro">
            Numarul contractului pentru care se face raportarea.
          </xs:documentation>
				</xs:annotation>
			</xs:attribute>
			<xs:attribute name="reportingDate" type="xs:date" use="required">
				<xs:annotation>
					<xs:documentation xml:lang="ro">
            Data raportarii.
          </xs:documentation>
				</xs:annotation>
			</xs:attribute>
			<xs:attribute name="startFrom" type="xs:date" use="required">
				<xs:annotation>
					<xs:documentation xml:lang="ro">Data de inceput a perioadei de raportare</xs:documentation>
				</xs:annotation>
			</xs:attribute>
			<xs:attribute name="endTo" type="xs:date" use="required">
				<xs:annotation>
					<xs:documentation xml:lang="ro">
            Data de sfarsit a perioadei raportate.
          </xs:documentation>
				</xs:annotation>
			</xs:attribute>
			<xs:attribute name="invoiceNo" use="optional">
				<xs:annotation>
					<xs:documentation xml:lang="en">Invoice number</xs:documentation>
					<xs:documentation xml:lang="ro">Numar factura</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="20"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
			<xs:attribute name="invoiceDate" type="xs:date" use="optional">
				<xs:annotation>
					<xs:documentation xml:lang="en">Invoice date</xs:documentation>
					<xs:documentation xml:lang="ro">Data factura</xs:documentation>
				</xs:annotation>
			</xs:attribute>
			<xs:attribute name="invoiceValue" type="xs:decimal" use="optional">
				<xs:annotation>
					<xs:documentation xml:lang="en">Invoice amount</xs:documentation>
					<xs:documentation xml:lang="ro">Valoare factura</xs:documentation>
				</xs:annotation>
			</xs:attribute>
		</xs:complexType>
	</xs:element>
</xs:schema>
