xsd/raportare/ImportSupplierDataHSP.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema targetNamespace="http://www.cnas.ro/siui/2.0" xmlns="http://www.cnas.ro/siui/2.0" xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" id="ImportSupplierDataHSP">
	<xs:include schemaLocation="ImportSupplierDataCommonTypes.xsd" />
	<xs:element name="report">
		<xs:annotation>
			<xs:documentation xml:lang="ro">Lista detaliilor necesare contractării pentru furnizori de servicii spitaliceşti</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:sequence>
				<xs:element name="Address" type="AddressType" minOccurs="0">
					<xs:annotation>
						<xs:documentation xml:lang="ro">Adresa de contractare a furnizorului</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element name="Documents" type="DocumentsType" minOccurs="0" maxOccurs="unbounded">
					<xs:annotation>
						<xs:documentation xml:lang="ro">Documentele de contractare ale furnizorului</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element name="REPLG" type="REPLGType" minOccurs="0">
					<xs:annotation>
						<xs:documentation xml:lang="ro">Reprezentantul legal al furnizorului</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element name="BankAccount" type="BankAccountType" minOccurs="0" maxOccurs="unbounded">
					<xs:annotation>
						<xs:documentation xml:lang="ro">Conturile bancare ale furnizorului</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element name="HospitalDepartments" minOccurs="0" maxOccurs="unbounded">
					<xs:annotation>
						<xs:documentation xml:lang="ro">Secţii/departamente ale spitalului</xs:documentation>
					</xs:annotation>
					<xs:complexType>
						<xs:sequence>
							<xs:element name="ContractMode" minOccurs="0" maxOccurs="unbounded">
								<xs:annotation>
									<xs:documentation xml:lang="ro">Modalităţi de contractare</xs:documentation>
								</xs:annotation>
								<xs:complexType>
									<xs:attribute name="contractMode" use="optional">
										<xs:annotation>
											<xs:documentation xml:lang="ro">Tipul modalităţii de contractare</xs:documentation>
										</xs:annotation>
										<xs:simpleType>
											<xs:restriction base="xs:string">
												<xs:length value="1" />
												<xs:enumeration value="1" />
												<xs:enumeration value="2" />
												<xs:enumeration value="3" />
											</xs:restriction>
										</xs:simpleType>
									</xs:attribute>
									<xs:attribute name="appId" type="xs:string" use="required">
										<xs:annotation>
											<xs:documentation xml:lang="ro">Identificator unic al modalităţii de contractare la nivelul aplicaţiei de raportare</xs:documentation>
										</xs:annotation>
									</xs:attribute>
									<xs:attribute name="hasClinic" type="xs:boolean" use="optional">
										<xs:annotation>
											<xs:documentation xml:lang="ro">Specifică dacă se contractează servicii clinice</xs:documentation>
										</xs:annotation>
									</xs:attribute>
									<xs:attribute name="hasPara" type="xs:boolean" use="optional">
										<xs:annotation>
											<xs:documentation xml:lang="ro">Specifică dacă se contractează servicii paraclinice</xs:documentation>
										</xs:annotation>
									</xs:attribute>
									<xs:attribute name="hasStoma" type="xs:boolean" use="optional">
										<xs:annotation>
											<xs:documentation xml:lang="ro">Specifică dacă se contractează servicii stomatologice</xs:documentation>
										</xs:annotation>
									</xs:attribute>
									<xs:attribute name="hasReca" type="xs:boolean" use="optional">
										<xs:annotation>
											<xs:documentation xml:lang="ro">Specifică dacă se contractează servicii de recuperare</xs:documentation>
										</xs:annotation>
									</xs:attribute>
									<xs:attribute name="isPaliativ" type="xs:boolean" use="optional">
										<xs:annotation>
											<xs:documentation xml:lang="ro">Specifică dacă se contractează servicii paliative</xs:documentation>
										</xs:annotation>
									</xs:attribute>
									<xs:attribute name="validFrom" type="xs:date" use="required">
										<xs:annotation>
											<xs:documentation xml:lang="ro">Data de început a valabilităţii modului de contractare</xs:documentation>
										</xs:annotation>
									</xs:attribute>
									<xs:attribute name="validTo" type="xs:date" use="optional">
										<xs:annotation>
											<xs:documentation xml:lang="ro">Data de sfârşit a valabilităţii modului de contractare</xs:documentation>
										</xs:annotation>
									</xs:attribute>
								</xs:complexType>
							</xs:element>
							<xs:element name="Services" minOccurs="0" maxOccurs="unbounded">
								<xs:annotation>
									<xs:documentation xml:lang="ro">Servicii spitaliceşti contractate pe secţie/departament</xs:documentation>
								</xs:annotation>
								<xs:complexType>
									<xs:attribute name="appId" type="xs:string" use="required">
										<xs:annotation>
											<xs:documentation xml:lang="ro">Identificator unic al serviciului spitalicesc la nivelul aplicaţiei de raportare</xs:documentation>
										</xs:annotation>
									</xs:attribute>
									<xs:attribute name="serviceCode" type="xs:string" use="required">
										<xs:annotation>
											<xs:documentation xml:lang="ro">Codul serviciului spitalicesc contractat</xs:documentation>
										</xs:annotation>
									</xs:attribute>
									<xs:attribute name="validFrom" type="xs:date" use="required">
										<xs:annotation>
											<xs:documentation xml:lang="ro">Data de început a valabilităţii serviciului contractat</xs:documentation>
										</xs:annotation>
									</xs:attribute>
									<xs:attribute name="validTo" type="xs:date" use="optional">
										<xs:annotation>
											<xs:documentation xml:lang="ro">Data de sfârşit a valabilităţii serviciului contractat</xs:documentation>
										</xs:annotation>
									</xs:attribute>
								</xs:complexType>
							</xs:element>
							<xs:element name="Cases" minOccurs="0" maxOccurs="unbounded">
								<xs:annotation>
									<xs:documentation xml:lang="ro">Cazuri contractate pe secţie/departament</xs:documentation>
								</xs:annotation>
								<xs:complexType>
									<xs:attribute name="appId" type="xs:string" use="required">
										<xs:annotation>
											<xs:documentation xml:lang="ro">Identificator unic al cazului la nivelul aplicaţiei de raportare</xs:documentation>
										</xs:annotation>
									</xs:attribute>
									<xs:attribute name="caseCode" type="xs:string" use="required">
										<xs:annotation>
											<xs:documentation xml:lang="ro">Codul de caz contractat</xs:documentation>
										</xs:annotation>
									</xs:attribute>
									<xs:attribute name="validFrom" type="xs:date" use="required">
										<xs:annotation>
											<xs:documentation xml:lang="ro">Data de început a valabilităţii cazului contractat</xs:documentation>
										</xs:annotation>
									</xs:attribute>
									<xs:attribute name="validTo" type="xs:date" use="optional">
										<xs:annotation>
											<xs:documentation xml:lang="ro">Data de sfârşit a valabilităţii cazului contractat</xs:documentation>
										</xs:annotation>
									</xs:attribute>
								</xs:complexType>
							</xs:element>
						</xs:sequence>
						<xs:attribute name="appId" type="xs:string" use="required">
							<xs:annotation>
								<xs:documentation xml:lang="ro">Identificator unic al secţiei/departamentului de spital la nivelul aplicaţiei de raportare</xs:documentation>
							</xs:annotation>
						</xs:attribute>
						<xs:attribute name="code" type="xs:string" use="required">
							<xs:annotation>
								<xs:documentation xml:lang="ro">Codul secţiei/departamentului de spital</xs:documentation>
							</xs:annotation>
						</xs:attribute>
						<xs:attribute name="departmentType" type="xs:string" use="required">
							<xs:annotation>
								<xs:documentation xml:lang="ro">Tipul secţiei/departamentului de spital</xs:documentation>
							</xs:annotation>
						</xs:attribute>
						<xs:attribute name="departmentCode" type="xs:string" use="required">
							<xs:annotation>
								<xs:documentation xml:lang="ro">Codul tipului de secţie/departament de spital</xs:documentation>
							</xs:annotation>
						</xs:attribute>
						<xs:attribute name="name" type="xs:string" use="optional">
							<xs:annotation>
								<xs:documentation xml:lang="ro">Denumirea secţiei/departamentului de spital</xs:documentation>
							</xs:annotation>
						</xs:attribute>
						<xs:attribute name="parentCode" type="xs:string" use="optional">
							<xs:annotation>
								<xs:documentation xml:lang="ro">Codul secţiei/departamentului de spital părinte</xs:documentation>
							</xs:annotation>
						</xs:attribute>
						<xs:attribute name="validFrom" type="xs:date" use="required">
							<xs:annotation>
								<xs:documentation xml:lang="ro">Data de început a valabilităţii secţiei/departamentului de spital</xs:documentation>
							</xs:annotation>
						</xs:attribute>
						<xs:attribute name="validTo" type="xs:date" use="optional">
							<xs:annotation>
								<xs:documentation xml:lang="ro">Data de sfârşit a valabilităţii secţiei/departamentului de spital</xs:documentation>
							</xs:annotation>
						</xs:attribute>
						<xs:attribute name="forContract" type="xs:boolean" use="optional">
							<xs:annotation>
								<xs:documentation xml:lang="ro">Indică dacă departamentul se ia în considerare la contractare</xs:documentation>
							</xs:annotation>
						</xs:attribute>
						<xs:attribute name="capacity" type="xs:integer" use="optional">
							<xs:annotation>
								<xs:documentation xml:lang="ro">Valoarea capacităţii de tratament a secţiei/departamentului de spital</xs:documentation>
							</xs:annotation>
						</xs:attribute>
					</xs:complexType>
				</xs:element>
				<xs:element name="Subunits" type="SubunitsType" minOccurs="0" maxOccurs="unbounded">
					<xs:annotation>
						<xs:documentation xml:lang="ro">Puncte de lucru ale furnizorului de servicii</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element name="Employee" type="EmployeeType" minOccurs="0" maxOccurs="unbounded">
					<xs:annotation>
						<xs:documentation xml:lang="ro">Angajaţii furnizorului declaraţi pe contract</xs:documentation>
					</xs:annotation>
				</xs:element>
			</xs:sequence>
			<xs:attribute name="fiscalCode" type="xs:string" use="required">
				<xs:annotation>
					<xs:documentation xml:lang="ro">Codul fiscal al furnizorului pentru care se transmit datele de contractare</xs:documentation>
				</xs:annotation>
			</xs:attribute>
			<xs:attribute name="insuranceHouse" type="xs:string" use="required">
				<xs:annotation>
					<xs:documentation xml:lang="ro">Codul casei de asigurări cu care spitalul are contract (valoare preluată din nomenclatorul de case de asigurări)</xs:documentation>
				</xs:annotation>
			</xs:attribute>
			<xs:attribute name="reportingDate" type="xs:date" use="required">
				<xs:annotation>
					<xs:documentation xml:lang="ro">Data raportării datelor de contractare</xs:documentation>
				</xs:annotation>
			</xs:attribute>
			<xs:attribute name="appId" type="xs:string" use="required">
				<xs:annotation>
					<xs:documentation xml:lang="ro">Identificator unic în aplicaţia de raportare. Acest atribut este folosit la identificarea raportării.</xs:documentation>
				</xs:annotation>
			</xs:attribute>
			<xs:attribute name="appKey" type="xs:string" use="optional">
				<xs:annotation>
					<xs:documentation xml:lang="ro">Cheia de identificare a aplicaţiei de raportare (producător de software 3rd partry)</xs:documentation>
				</xs:annotation>
			</xs:attribute>
			<xs:attribute name="supplierType" type="xs:string" use="required">
				<xs:annotation>
					<xs:documentation xml:lang="ro">Tipul de furnizor pentru care se face contractarea</xs:documentation>
				</xs:annotation>
			</xs:attribute>
		</xs:complexType>
	</xs:element>
</xs:schema>