xsd/raportare/NomenclatoareMedici.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema targetNamespace="http://www.cnas.ro/siui/2.0" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns="http://www.cnas.ro/siui/2.0" elementFormDefault="qualified" id="NomenclatoareMedici">
	<xs:element name="Catalogues">
		<xs:annotation>
			<xs:documentation xml:lang="ro">Structura nomenclatorului de medici</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:sequence>
				<xs:element name="InsuranceHouseTypes" minOccurs="0">
					<xs:annotation>
						<xs:documentation xml:lang="ro">Catalogul de tipuri de case de asigurări de sănătate</xs:documentation>
					</xs:annotation>
					<xs:complexType>
						<xs:sequence>
							<xs:element name="InsuranceHouseType" minOccurs="0" maxOccurs="unbounded">
								<xs:annotation>
									<xs:documentation xml:lang="ro">Înregistrare din nomenclatoruld e tipuri de case de asigurări de sănătate</xs:documentation>
								</xs:annotation>
								<xs:complexType>
									<xs:attribute name="code" use="required">
										<xs:annotation>
											<xs:documentation xml:lang="ro">Codul tipului de case de asigurări</xs:documentation>
										</xs:annotation>
										<xs:simpleType>
											<xs:restriction base="xs:string">
												<xs:maxLength value="20" />
											</xs:restriction>
										</xs:simpleType>
									</xs:attribute>
									<xs:attribute name="description" use="required">
										<xs:annotation>
											<xs:documentation xml:lang="ro">Descrierea tipului de case de asigurări</xs:documentation>
										</xs:annotation>
										<xs:simpleType>
											<xs:restriction base="xs:string">
												<xs:maxLength value="100" />
											</xs:restriction>
										</xs:simpleType>
									</xs:attribute>
								</xs:complexType>
							</xs:element>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
				<xs:element name="InsuranceHouses" minOccurs="0">
					<xs:annotation>
						<xs:documentation xml:lang="ro">Catalogul caselor de asigurare din sistem</xs:documentation>
					</xs:annotation>
					<xs:complexType>
						<xs:sequence>
							<xs:element name="InsuranceHouse" minOccurs="0" maxOccurs="unbounded">
								<xs:annotation>
									<xs:documentation xml:lang="ro">Definiţia caselor de asigurare din sistem</xs:documentation>
								</xs:annotation>
								<xs:complexType>
									<xs:attribute name="code" use="required">
										<xs:annotation>
											<xs:documentation xml:lang="ro">Codul casei de asigurare</xs:documentation>
										</xs:annotation>
										<xs:simpleType>
											<xs:restriction base="xs:string">
												<xs:maxLength value="20" />
											</xs:restriction>
										</xs:simpleType>
									</xs:attribute>
									<xs:attribute name="name" use="required">
										<xs:annotation>
											<xs:documentation xml:lang="ro">Denumirea casei de asigurare</xs:documentation>
										</xs:annotation>
										<xs:simpleType>
											<xs:restriction base="xs:string">
												<xs:maxLength value="100" />
											</xs:restriction>
										</xs:simpleType>
									</xs:attribute>
									<xs:attribute name="type" use="required">
										<xs:annotation>
											<xs:documentation xml:lang="ro">Tipul casei de asigurare (valoarea codului din nomenclatorul de tipuri de case de asigurare)</xs:documentation>
										</xs:annotation>
										<xs:simpleType>
											<xs:restriction base="xs:string">
												<xs:maxLength value="20" />
											</xs:restriction>
										</xs:simpleType>
									</xs:attribute>
									<xs:attribute name="validFrom" type="xs:date" use="required">
										<xs:annotation>
											<xs:documentation xml:lang="ro">Data de inceput a valabilităţii</xs:documentation>
										</xs:annotation>
									</xs:attribute>
									<xs:attribute name="validTo" type="xs:date" use="optional">
										<xs:annotation>
											<xs:documentation xml:lang="ro">Data de sfârşit a valabilităţii</xs:documentation>
										</xs:annotation>
									</xs:attribute>
								</xs:complexType>
							</xs:element>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
				<xs:element name="Specialities" minOccurs="0">
					<xs:annotation>
						<xs:documentation xml:lang="ro">Catalogul de specialităţi medicale</xs:documentation>
					</xs:annotation>
					<xs:complexType>
						<xs:sequence>
							<xs:element name="Speciality" minOccurs="0" maxOccurs="unbounded">
								<xs:annotation>
									<xs:documentation xml:lang="ro">Definiţia unei specialităţi medicale</xs:documentation>
								</xs:annotation>
								<xs:complexType>
									<xs:attribute name="code" use="required">
										<xs:annotation>
											<xs:documentation xml:lang="ro">Codul specialităţii medicale</xs:documentation>
										</xs:annotation>
										<xs:simpleType>
											<xs:restriction base="xs:string">
												<xs:maxLength value="200" />
											</xs:restriction>
										</xs:simpleType>
									</xs:attribute>
									<xs:attribute name="name" use="required">
										<xs:annotation>
											<xs:documentation xml:lang="ro">Denumirea specialităţii medicale</xs:documentation>
										</xs:annotation>
										<xs:simpleType>
											<xs:restriction base="xs:string">
												<xs:maxLength value="100" />
											</xs:restriction>
										</xs:simpleType>
									</xs:attribute>
									<xs:attribute name="validFrom" type="xs:date" use="required">
										<xs:annotation>
											<xs:documentation xml:lang="ro">Data de inceput a valabilităţii</xs:documentation>
										</xs:annotation>
									</xs:attribute>
									<xs:attribute name="validTo" type="xs:date" use="optional">
										<xs:annotation>
											<xs:documentation xml:lang="ro">Data de sfârşit a valabilităţii</xs:documentation>
										</xs:annotation>
									</xs:attribute>
								</xs:complexType>
							</xs:element>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
				<xs:element name="Physicians" minOccurs="0">
					<xs:annotation>
						<xs:documentation xml:lang="ro">Catalogul de medici din sistem</xs:documentation>
					</xs:annotation>
					<xs:complexType>
						<xs:sequence>
							<xs:element name="Physician" minOccurs="0" maxOccurs="unbounded">
								<xs:annotation>
									<xs:documentation xml:lang="ro">Definiţia unui medic</xs:documentation>
								</xs:annotation>
								<xs:complexType>
									<xs:attribute name="name" use="required">
										<xs:annotation>
											<xs:documentation xml:lang="ro">Numele medicului</xs:documentation>
										</xs:annotation>
										<xs:simpleType>
											<xs:restriction base="xs:string">
												<xs:maxLength value="200" />
											</xs:restriction>
										</xs:simpleType>
									</xs:attribute>
									<xs:attribute name="stencil" use="required">
										<xs:annotation>
											<xs:documentation xml:lang="ro">Parafa medicului</xs:documentation>
										</xs:annotation>
										<xs:simpleType>
											<xs:restriction base="xs:string">
												<xs:maxLength value="6" />
											</xs:restriction>
										</xs:simpleType>
									</xs:attribute>
									<xs:attribute name="validFrom" type="xs:date" use="required">
										<xs:annotation>
											<xs:documentation xml:lang="ro">Data de inceput a valabilităţii</xs:documentation>
										</xs:annotation>
									</xs:attribute>
									<xs:attribute name="validTo" type="xs:date" use="optional">
										<xs:annotation>
											<xs:documentation xml:lang="ro">Data de sfârşit a valabilităţii</xs:documentation>
										</xs:annotation>
									</xs:attribute>
								</xs:complexType>
							</xs:element>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
				<xs:element name="PhysicianSpecialities" minOccurs="0">
					<xs:annotation>
						<xs:documentation xml:lang="ro">Catalog de legatura intre medici, specializari si case judetene.</xs:documentation>
					</xs:annotation>
					<xs:complexType>
						<xs:sequence>
							<xs:element name="PhysicianSpeciality" minOccurs="0" maxOccurs="unbounded">
								<xs:annotation>
									<xs:documentation xml:lang="ro">Definitia unei legaturi intre medici, specializari si case judetene.</xs:documentation>
								</xs:annotation>
								<xs:complexType>
									<xs:attribute name="stencil" use="required">
										<xs:annotation>
											<xs:documentation xml:lang="ro">Parafa medicului</xs:documentation>
										</xs:annotation>
										<xs:simpleType>
											<xs:restriction base="xs:string">
												<xs:maxLength value="20" />
											</xs:restriction>
										</xs:simpleType>
									</xs:attribute>
									<xs:attribute name="contractNo" use="required">
										<xs:annotation>
											<xs:documentation xml:lang="ro">Numărul contractului</xs:documentation>
										</xs:annotation>
										<xs:simpleType>
											<xs:restriction base="xs:string">
												<xs:maxLength value="40" />
											</xs:restriction>
										</xs:simpleType>
									</xs:attribute>
									<xs:attribute name="insuranceHouse" use="required">
										<xs:annotation>
											<xs:documentation xml:lang="ro">Codul casei de asigurari cu care este contractul.</xs:documentation>
										</xs:annotation>
										<xs:simpleType>
											<xs:restriction base="xs:string">
												<xs:maxLength value="20" />
											</xs:restriction>
										</xs:simpleType>
									</xs:attribute>
									<xs:attribute name="contractType" use="required">
										<xs:annotation>
											<xs:documentation xml:lang="ro">Tipul de contract al furnizorului</xs:documentation>
										</xs:annotation>
										<xs:simpleType>
											<xs:restriction base="xs:string">
												<xs:maxLength value="3" />
											</xs:restriction>
										</xs:simpleType>
									</xs:attribute>
									<xs:attribute name="physicianType" use="required">
										<xs:annotation>
											<xs:documentation xml:lang="ro">Codul tipului de medic.</xs:documentation>
										</xs:annotation>
										<xs:simpleType>
											<xs:restriction base="xs:string">
												<xs:enumeration value="C">
													<xs:annotation>
														<xs:documentation xml:lang="ro">Convenţie</xs:documentation>
													</xs:annotation>
												</xs:enumeration>
												<xs:enumeration value="S">
													<xs:annotation>
														<xs:documentation xml:lang="ro">Stomatologie</xs:documentation>
													</xs:annotation>
												</xs:enumeration>
												<xs:enumeration value="H">
													<xs:annotation>
														<xs:documentation xml:lang="ro">Spitale</xs:documentation>
													</xs:annotation>
												</xs:enumeration>
												<xs:enumeration value="F">
													<xs:annotation>
														<xs:documentation xml:lang="ro">Farmacist</xs:documentation>
													</xs:annotation>
												</xs:enumeration>
												<xs:enumeration value="A">
													<xs:annotation>
														<xs:documentation xml:lang="ro">Ambulatoriu / Clinic</xs:documentation>
													</xs:annotation>
												</xs:enumeration>
												<xs:enumeration value="P">
													<xs:annotation>
														<xs:documentation xml:lang="ro">Necunoscut / Nedefinit</xs:documentation>
													</xs:annotation>
												</xs:enumeration>
												<xs:enumeration value="U">
													<xs:annotation>
														<xs:documentation xml:lang="ro">Ambulante</xs:documentation>
													</xs:annotation>
												</xs:enumeration>
											</xs:restriction>
										</xs:simpleType>
									</xs:attribute>
									<xs:attribute name="specialityCode" use="required">
										<xs:annotation>
											<xs:documentation xml:lang="ro">Codul specializarii (valoarea este preluata din nomenclatorul Specialities)</xs:documentation>
										</xs:annotation>
										<xs:simpleType>
											<xs:restriction base="xs:string">
												<xs:maxLength value="20" />
											</xs:restriction>
										</xs:simpleType>
									</xs:attribute>
									<xs:attribute name="validFrom" type="xs:date" use="required">
										<xs:annotation>
											<xs:documentation xml:lang="ro">Data de inceput a valabilităţii</xs:documentation>
										</xs:annotation>
									</xs:attribute>
									<xs:attribute name="validTo" type="xs:date" use="optional">
										<xs:annotation>
											<xs:documentation xml:lang="ro">Data de sfârşit a valabilităţii</xs:documentation>
										</xs:annotation>
									</xs:attribute>
								</xs:complexType>
							</xs:element>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
			</xs:sequence>
			<xs:attribute name="issueDate" type="xs:dateTime" use="required">
				<xs:annotation>
					<xs:documentation xml:lang="ro">Data şi ora la care a fost generat fişierul în SIUI (timestamp)</xs:documentation>
				</xs:annotation>
			</xs:attribute>
		</xs:complexType>
	</xs:element>
</xs:schema>