xsd/raportare/NomenclatoareParaclinic.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema targetNamespace="http://www.cnas.ro/siui/2.0" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns="http://www.cnas.ro/siui/2.0" elementFormDefault="qualified" id="NomenclatoareParaclinic">
	<xs:element name="Catalogues">
		<xs:annotation>
			<xs:documentation xml:lang="ro">Structura nomenclatoarelor pentru aplicaţiile de raportare pentru furnizorii de servicii paraclinice (laboratoare).</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:sequence>
				<xs:element name="Countries" minOccurs="0">
					<xs:annotation>
						<xs:documentation xml:lang="ro">Catalogul de ţări</xs:documentation>
					</xs:annotation>
					<xs:complexType>
						<xs:sequence>
							<xs:element name="Country" minOccurs="0" maxOccurs="unbounded">
								<xs:annotation>
									<xs:documentation xml:lang="ro">Definiţia unei ţări</xs:documentation>
								</xs:annotation>
								<xs:complexType>
									<xs:attribute name="code" use="required">
										<xs:annotation>
											<xs:documentation xml:lang="ro">Codul ţării</xs:documentation>
										</xs:annotation>
										<xs:simpleType>
											<xs:restriction base="xs:string">
												<xs:maxLength value="20" />
											</xs:restriction>
										</xs:simpleType>
									</xs:attribute>
									<xs:attribute name="name" use="required">
										<xs:annotation>
											<xs:documentation xml:lang="ro">Denumirea ţării</xs:documentation>
										</xs:annotation>
										<xs:simpleType>
											<xs:restriction base="xs:string">
												<xs:maxLength value="100" />
											</xs:restriction>
										</xs:simpleType>
									</xs:attribute>
								</xs:complexType>
							</xs:element>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
				<xs:element name="CnasAgreements" minOccurs="0">
					<xs:annotation>
						<xs:documentation xml:lang="ro">Catalogul de ţări care au acord internaţional cu CNAS</xs:documentation>
					</xs:annotation>
					<xs:complexType>
						<xs:sequence>
							<xs:element name="CnasAgreement" minOccurs="0" maxOccurs="unbounded">
								<xs:annotation>
									<xs:documentation xml:lang="ro">Definiţia unei înregistrări din catalogul de ţări cu acord internaţional cu CNAS</xs:documentation>
								</xs:annotation>
								<xs:complexType>
									<xs:attribute name="countryCode" use="required">
										<xs:annotation>
											<xs:documentation xml:lang="ro">Codul ţării (valoare din nomenclatorul de ţări)</xs:documentation>
										</xs:annotation>
										<xs:simpleType>
											<xs:restriction base="xs:string">
												<xs:maxLength value="20" />
											</xs:restriction>
										</xs:simpleType>
									</xs:attribute>
									<xs:attribute name="validFrom" type="xs:date" use="required">
										<xs:annotation>
											<xs:documentation xml:lang="ro">Data de inceput a valabilităţii</xs:documentation>
										</xs:annotation>
									</xs:attribute>
									<xs:attribute name="validTo" type="xs:date" use="optional">
										<xs:annotation>
											<xs:documentation xml:lang="ro">Data de sfârşit a valabilităţii</xs:documentation>
										</xs:annotation>
									</xs:attribute>
								</xs:complexType>
							</xs:element>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
				<xs:element name="EuMembers" minOccurs="0">
					<xs:annotation>
						<xs:documentation xml:lang="ro">Definiţia unei înregistrări din catalogul de ţări care fac parte din Uniunea Europeană</xs:documentation>
					</xs:annotation>
					<xs:complexType>
						<xs:sequence>
							<xs:element name="EuMember" minOccurs="0" maxOccurs="unbounded">
								<xs:annotation>
									<xs:documentation xml:lang="ro">Definitie tara</xs:documentation>
								</xs:annotation>
								<xs:complexType>
									<xs:attribute name="countryCode" use="required">
										<xs:annotation>
											<xs:documentation xml:lang="ro">Codul ţării (valoare din nomenclatorul de ţări)</xs:documentation>
										</xs:annotation>
										<xs:simpleType>
											<xs:restriction base="xs:string">
												<xs:maxLength value="20" />
											</xs:restriction>
										</xs:simpleType>
									</xs:attribute>
									<xs:attribute name="validFrom" type="xs:date" use="required">
										<xs:annotation>
											<xs:documentation xml:lang="ro">Data de inceput a valabilităţii</xs:documentation>
										</xs:annotation>
									</xs:attribute>
									<xs:attribute name="validTo" type="xs:date" use="optional">
										<xs:annotation>
											<xs:documentation xml:lang="ro">Data de sfârşit a valabilităţii</xs:documentation>
										</xs:annotation>
									</xs:attribute>
								</xs:complexType>
							</xs:element>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
				<xs:element name="Districts" minOccurs="0">
					<xs:annotation>
						<xs:documentation xml:lang="ro">Catalogul de judeţe / unităţi teritoriale</xs:documentation>
					</xs:annotation>
					<xs:complexType>
						<xs:sequence>
							<xs:element name="District" minOccurs="0" maxOccurs="unbounded">
								<xs:annotation>
									<xs:documentation xml:lang="ro">Definiţia unui judeţ</xs:documentation>
								</xs:annotation>
								<xs:complexType>
									<xs:attribute name="code" use="required">
										<xs:annotation>
											<xs:documentation xml:lang="ro">Codul judeţului</xs:documentation>
										</xs:annotation>
										<xs:simpleType>
											<xs:restriction base="xs:string">
												<xs:maxLength value="20" />
											</xs:restriction>
										</xs:simpleType>
									</xs:attribute>
									<xs:attribute name="name" use="required">
										<xs:annotation>
											<xs:documentation xml:lang="ro">Denumirea judeţului</xs:documentation>
										</xs:annotation>
										<xs:simpleType>
											<xs:restriction base="xs:string">
												<xs:maxLength value="100" />
											</xs:restriction>
										</xs:simpleType>
									</xs:attribute>
									<xs:attribute name="country" use="required">
										<xs:annotation>
											<xs:documentation xml:lang="ro">Codul ţării căreia îi aparţine (valoare din nomenclatorul de ţări)</xs:documentation>
										</xs:annotation>
										<xs:simpleType>
											<xs:restriction base="xs:string">
												<xs:maxLength value="20" />
											</xs:restriction>
										</xs:simpleType>
									</xs:attribute>
								</xs:complexType>
							</xs:element>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
				<xs:element name="CityTypes" minOccurs="0">
					<xs:annotation>
						<xs:documentation xml:lang="ro">Catalogul de tipuri de localităţi</xs:documentation>
					</xs:annotation>
					<xs:complexType>
						<xs:sequence>
							<xs:element name="CityType" minOccurs="0" maxOccurs="unbounded">
								<xs:annotation>
									<xs:documentation xml:lang="ro">Definiţia unui tip de localitate</xs:documentation>
								</xs:annotation>
								<xs:complexType>
									<xs:attribute name="code" use="required">
										<xs:annotation>
											<xs:documentation xml:lang="ro">Codul localităţii</xs:documentation>
										</xs:annotation>
										<xs:simpleType>
											<xs:restriction base="xs:string">
												<xs:maxLength value="30" />
											</xs:restriction>
										</xs:simpleType>
									</xs:attribute>
									<xs:attribute name="name" use="required">
										<xs:annotation>
											<xs:documentation xml:lang="ro">Denumirea localităţii</xs:documentation>
										</xs:annotation>
										<xs:simpleType>
											<xs:restriction base="xs:string">
												<xs:maxLength value="150" />
											</xs:restriction>
										</xs:simpleType>
									</xs:attribute>
									<xs:attribute name="urbanFlag" type="xs:boolean" use="required">
										<xs:annotation>
											<xs:documentation xml:lang="ro">Indică dacă localitatea este din mediul urban sau nu (atunci se consideră din mediul rural)</xs:documentation>
										</xs:annotation>
									</xs:attribute>
								</xs:complexType>
							</xs:element>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
				<xs:element name="Cities" minOccurs="0">
					<xs:annotation>
						<xs:documentation xml:lang="ro">Catalogul de localităţi</xs:documentation>
					</xs:annotation>
					<xs:complexType>
						<xs:sequence>
							<xs:element name="City" minOccurs="0" maxOccurs="unbounded">
								<xs:annotation>
									<xs:documentation xml:lang="ro">Definiţia unei localităţi</xs:documentation>
								</xs:annotation>
								<xs:complexType>
									<xs:attribute name="code" use="required">
										<xs:annotation>
											<xs:documentation xml:lang="ro">Codul localităţii</xs:documentation>
										</xs:annotation>
										<xs:simpleType>
											<xs:restriction base="xs:string">
												<xs:maxLength value="30" />
											</xs:restriction>
										</xs:simpleType>
									</xs:attribute>
									<xs:attribute name="name" use="required">
										<xs:annotation>
											<xs:documentation xml:lang="ro">Numele localităţii</xs:documentation>
										</xs:annotation>
										<xs:simpleType>
											<xs:restriction base="xs:string">
												<xs:maxLength value="150" />
											</xs:restriction>
										</xs:simpleType>
									</xs:attribute>
									<xs:attribute name="district" use="required">
										<xs:annotation>
											<xs:documentation xml:lang="ro">Judeţul de care aparţine localitatea (valoarea codului din nomenclatorul de judeţe)</xs:documentation>
										</xs:annotation>
										<xs:simpleType>
											<xs:restriction base="xs:string">
												<xs:maxLength value="20" />
											</xs:restriction>
										</xs:simpleType>
									</xs:attribute>
									<xs:attribute name="cityType" use="required">
										<xs:annotation>
											<xs:documentation xml:lang="ro">Tipul localităţii (valoarea codului din nomenclatorul de tipuri de localităţi)</xs:documentation>
										</xs:annotation>
										<xs:simpleType>
											<xs:restriction base="xs:string">
												<xs:maxLength value="30" />
											</xs:restriction>
										</xs:simpleType>
									</xs:attribute>
									<xs:attribute name="parentCity" use="optional">
										<xs:annotation>
											<xs:documentation xml:lang="ro">Localitatea de care aparţine (comună) (valoarea codului din nomenclatorul de localităţi)</xs:documentation>
										</xs:annotation>
										<xs:simpleType>
											<xs:restriction base="xs:string">
												<xs:maxLength value="30" />
											</xs:restriction>
										</xs:simpleType>
									</xs:attribute>
								</xs:complexType>
							</xs:element>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
				<xs:element name="Street_Types" minOccurs="0">
					<xs:annotation>
						<xs:documentation xml:lang="ro">Catalogul de tipuri de străzi</xs:documentation>
					</xs:annotation>
					<xs:complexType>
						<xs:sequence>
							<xs:element name="Street_Type" minOccurs="0" maxOccurs="unbounded">
								<xs:annotation>
									<xs:documentation xml:lang="ro">Definiţia unui tip de stradă</xs:documentation>
								</xs:annotation>
								<xs:complexType>
									<xs:attribute name="code" use="required">
										<xs:annotation>
											<xs:documentation xml:lang="ro">Codul tipului de stradă</xs:documentation>
										</xs:annotation>
										<xs:simpleType>
											<xs:restriction base="xs:string">
												<xs:maxLength value="30" />
											</xs:restriction>
										</xs:simpleType>
									</xs:attribute>
									<xs:attribute name="name" use="required">
										<xs:annotation>
											<xs:documentation xml:lang="ro">Denumirea tipului de stradă</xs:documentation>
										</xs:annotation>
										<xs:simpleType>
											<xs:restriction base="xs:string">
												<xs:maxLength value="150" />
											</xs:restriction>
										</xs:simpleType>
									</xs:attribute>
								</xs:complexType>
							</xs:element>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
				<xs:element name="Streets" minOccurs="0">
					<xs:annotation>
						<xs:documentation xml:lang="ro">Catalogul de străzi</xs:documentation>
					</xs:annotation>
					<xs:complexType>
						<xs:sequence>
							<xs:element name="Street" minOccurs="0" maxOccurs="unbounded">
								<xs:annotation>
									<xs:documentation xml:lang="ro">Definiţia unei străzi</xs:documentation>
								</xs:annotation>
								<xs:complexType>
									<xs:attribute name="code" use="required">
										<xs:annotation>
											<xs:documentation xml:lang="ro">Codul străzii</xs:documentation>
										</xs:annotation>
										<xs:simpleType>
											<xs:restriction base="xs:string">
												<xs:maxLength value="60" />
											</xs:restriction>
										</xs:simpleType>
									</xs:attribute>
									<xs:attribute name="name" use="required">
										<xs:annotation>
											<xs:documentation xml:lang="ro">Denumirea străzii</xs:documentation>
										</xs:annotation>
										<xs:simpleType>
											<xs:restriction base="xs:string">
												<xs:maxLength value="255" />
											</xs:restriction>
										</xs:simpleType>
									</xs:attribute>
									<xs:attribute name="city_code" use="required">
										<xs:annotation>
											<xs:documentation xml:lang="ro">Localitatea în care se regăseşte strada (valoarea codului din nomenclatorul de localităţi)</xs:documentation>
										</xs:annotation>
										<xs:simpleType>
											<xs:restriction base="xs:string">
												<xs:maxLength value="30" />
											</xs:restriction>
										</xs:simpleType>
									</xs:attribute>
									<xs:attribute name="streetType" use="optional">
										<xs:annotation>
											<xs:documentation xml:lang="ro">Tipul de stradă (valoarea codului din nomenclatorul de tipuri de străzi)</xs:documentation>
										</xs:annotation>
										<xs:simpleType>
											<xs:restriction base="xs:string">
												<xs:maxLength value="30" />
											</xs:restriction>
										</xs:simpleType>
									</xs:attribute>
								</xs:complexType>
							</xs:element>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
				<xs:element name="InsuranceHouseTypes" minOccurs="0">
					<xs:annotation>
						<xs:documentation xml:lang="ro">Catalogul de tipuri de case de asigurări de sănătate</xs:documentation>
					</xs:annotation>
					<xs:complexType>
						<xs:sequence>
							<xs:element name="InsuranceHouseType" minOccurs="0" maxOccurs="unbounded">
								<xs:annotation>
									<xs:documentation xml:lang="ro">Înregistrare din nomenclatoruld e tipuri de case de asigurări de sănătate</xs:documentation>
								</xs:annotation>
								<xs:complexType>
									<xs:attribute name="code" use="required">
										<xs:annotation>
											<xs:documentation xml:lang="ro">Codul tipului de case de asigurări</xs:documentation>
										</xs:annotation>
										<xs:simpleType>
											<xs:restriction base="xs:string">
												<xs:maxLength value="20" />
											</xs:restriction>
										</xs:simpleType>
									</xs:attribute>
									<xs:attribute name="description" use="required">
										<xs:annotation>
											<xs:documentation xml:lang="ro">Descrierea tipului de case de asigurări</xs:documentation>
										</xs:annotation>
										<xs:simpleType>
											<xs:restriction base="xs:string">
												<xs:maxLength value="100" />
											</xs:restriction>
										</xs:simpleType>
									</xs:attribute>
								</xs:complexType>
							</xs:element>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
				<xs:element name="InsuranceHouses" minOccurs="0">
					<xs:annotation>
						<xs:documentation xml:lang="ro">Catalogul caselor de asigurare din sistem</xs:documentation>
					</xs:annotation>
					<xs:complexType>
						<xs:sequence>
							<xs:element name="InsuranceHouse" minOccurs="0" maxOccurs="unbounded">
								<xs:annotation>
									<xs:documentation xml:lang="ro">Definiţia caselor de asigurare din sistem</xs:documentation>
								</xs:annotation>
								<xs:complexType>
									<xs:attribute name="code" use="required">
										<xs:annotation>
											<xs:documentation xml:lang="ro">Codul casei de asigurare</xs:documentation>
										</xs:annotation>
										<xs:simpleType>
											<xs:restriction base="xs:string">
												<xs:maxLength value="20" />
											</xs:restriction>
										</xs:simpleType>
									</xs:attribute>
									<xs:attribute name="name" use="required">
										<xs:annotation>
											<xs:documentation xml:lang="ro">Denumirea casei de asigurare</xs:documentation>
										</xs:annotation>
										<xs:simpleType>
											<xs:restriction base="xs:string">
												<xs:maxLength value="100" />
											</xs:restriction>
										</xs:simpleType>
									</xs:attribute>
									<xs:attribute name="type" use="required">
										<xs:annotation>
											<xs:documentation xml:lang="ro">Tipul casei de asigurare (valoarea codului din nomenclatorul de tipuri de case de asigurare)</xs:documentation>
										</xs:annotation>
										<xs:simpleType>
											<xs:restriction base="xs:string">
												<xs:maxLength value="20" />
											</xs:restriction>
										</xs:simpleType>
									</xs:attribute>
									<xs:attribute name="validFrom" type="xs:date" use="required">
										<xs:annotation>
											<xs:documentation xml:lang="ro">Data de inceput a valabilităţii</xs:documentation>
										</xs:annotation>
									</xs:attribute>
									<xs:attribute name="validTo" type="xs:date" use="optional">
										<xs:annotation>
											<xs:documentation xml:lang="ro">Data de sfârşit a valabilităţii</xs:documentation>
										</xs:annotation>
									</xs:attribute>
								</xs:complexType>
							</xs:element>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
				<xs:element name="PersonalIDCardTypes" minOccurs="0">
					<xs:annotation>
						<xs:documentation xml:lang="ro">Catalogul de tipuri de acte de identitate</xs:documentation>
					</xs:annotation>
					<xs:complexType>
						<xs:sequence>
							<xs:element name="PersonalIDCardType" minOccurs="0" maxOccurs="unbounded">
								<xs:annotation>
									<xs:documentation xml:lang="ro">Întegistrare din catalogul de tipuri de acte de identitate</xs:documentation>
								</xs:annotation>
								<xs:complexType>
									<xs:attribute name="code" use="required">
										<xs:annotation>
											<xs:documentation xml:lang="ro">Codul tipului de act de identitate</xs:documentation>
										</xs:annotation>
										<xs:simpleType>
											<xs:restriction base="xs:string">
												<xs:maxLength value="20" />
											</xs:restriction>
										</xs:simpleType>
									</xs:attribute>
									<xs:attribute name="name" use="required">
										<xs:annotation>
											<xs:documentation xml:lang="ro">Denumire tipului de act de identitate</xs:documentation>
										</xs:annotation>
										<xs:simpleType>
											<xs:restriction base="xs:string">
												<xs:maxLength value="100" />
											</xs:restriction>
										</xs:simpleType>
									</xs:attribute>
									<xs:attribute name="category" use="required">
										<xs:annotation>
											<xs:documentation xml:lang="ro">Categoria tipului de act de identitate</xs:documentation>
										</xs:annotation>
										<xs:simpleType>
											<xs:restriction base="xs:string">
												<xs:enumeration value="1">
													<xs:annotation>
														<xs:documentation xml:lang="ro">PASAPORTAL</xs:documentation>
													</xs:annotation>
												</xs:enumeration>
												<xs:enumeration value="2">
													<xs:annotation>
														<xs:documentation xml:lang="ro">SERVICIU</xs:documentation>
													</xs:annotation>
												</xs:enumeration>
											</xs:restriction>
										</xs:simpleType>
									</xs:attribute>
									<xs:attribute name="validFrom" type="xs:date" use="required">
										<xs:annotation>
											<xs:documentation xml:lang="ro">Data de inceput a valabilităţii</xs:documentation>
										</xs:annotation>
									</xs:attribute>
									<xs:attribute name="validTo" type="xs:date" use="optional">
										<xs:annotation>
											<xs:documentation xml:lang="ro">Data de sfârşit a valabilităţii</xs:documentation>
										</xs:annotation>
									</xs:attribute>
								</xs:complexType>
							</xs:element>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
				<xs:element name="Specialities" minOccurs="0">
					<xs:annotation>
						<xs:documentation xml:lang="ro">Catalogul de specialităţi medicale</xs:documentation>
					</xs:annotation>
					<xs:complexType>
						<xs:sequence>
							<xs:element name="Speciality" minOccurs="0" maxOccurs="unbounded">
								<xs:annotation>
									<xs:documentation xml:lang="ro">Definiţia unei specialităţi medicale</xs:documentation>
								</xs:annotation>
								<xs:complexType>
									<xs:attribute name="code" use="required">
										<xs:annotation>
											<xs:documentation xml:lang="ro">Codul specialităţii medicale</xs:documentation>
										</xs:annotation>
										<xs:simpleType>
											<xs:restriction base="xs:string">
												<xs:maxLength value="200" />
											</xs:restriction>
										</xs:simpleType>
									</xs:attribute>
									<xs:attribute name="name" use="required">
										<xs:annotation>
											<xs:documentation xml:lang="ro">Denumirea specialităţii medicale</xs:documentation>
										</xs:annotation>
										<xs:simpleType>
											<xs:restriction base="xs:string">
												<xs:maxLength value="100" />
											</xs:restriction>
										</xs:simpleType>
									</xs:attribute>
									<xs:attribute name="validFrom" type="xs:date" use="required">
										<xs:annotation>
											<xs:documentation xml:lang="ro">Data de inceput a valabilităţii</xs:documentation>
										</xs:annotation>
									</xs:attribute>
									<xs:attribute name="validTo" type="xs:date" use="optional">
										<xs:annotation>
											<xs:documentation xml:lang="ro">Data de sfârşit a valabilităţii</xs:documentation>
										</xs:annotation>
									</xs:attribute>
								</xs:complexType>
							</xs:element>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
				<xs:element name="Degrees" minOccurs="0">
					<xs:annotation>
						<xs:documentation xml:lang="ro">Catalogul de grade profesionale ale medicilor</xs:documentation>
					</xs:annotation>
					<xs:complexType>
						<xs:sequence minOccurs="0">
							<xs:element name="Degree" minOccurs="0" maxOccurs="unbounded">
								<xs:annotation>
									<xs:documentation xml:lang="ro">Definiţia unui grad profesional al medicilor</xs:documentation>
								</xs:annotation>
								<xs:complexType>
									<xs:attribute name="code" use="required">
										<xs:annotation>
											<xs:documentation xml:lang="ro">Codul gradului profesional</xs:documentation>
										</xs:annotation>
										<xs:simpleType>
											<xs:restriction base="xs:string">
												<xs:maxLength value="50" />
											</xs:restriction>
										</xs:simpleType>
									</xs:attribute>
									<xs:attribute name="description" use="required">
										<xs:annotation>
											<xs:documentation xml:lang="ro">Descrierea gradului profesional</xs:documentation>
										</xs:annotation>
										<xs:simpleType>
											<xs:restriction base="xs:string">
												<xs:maxLength value="255" />
											</xs:restriction>
										</xs:simpleType>
									</xs:attribute>
									<xs:attribute name="extraPointsPercent" use="optional">
										<xs:annotation>
											<xs:documentation xml:lang="ro">Procentul de ajustare a punctajului</xs:documentation>
										</xs:annotation>
										<xs:simpleType>
											<xs:restriction base="xs:decimal">
												<xs:totalDigits value="18" />
												<xs:fractionDigits value="2" />
											</xs:restriction>
										</xs:simpleType>
									</xs:attribute>
									<xs:attribute name="validFrom" type="xs:date" use="required">
										<xs:annotation>
											<xs:documentation xml:lang="ro">Data de inceput a valabilităţii</xs:documentation>
										</xs:annotation>
									</xs:attribute>
									<xs:attribute name="validTo" type="xs:date" use="optional">
										<xs:annotation>
											<xs:documentation xml:lang="ro">Data de sfârşit a valabilităţii</xs:documentation>
										</xs:annotation>
									</xs:attribute>
								</xs:complexType>
							</xs:element>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
				<xs:element name="Errors" minOccurs="0">
					<xs:annotation>
						<xs:documentation xml:lang="ro">Catalogul de erori şi avertizări generate de sistem</xs:documentation>
					</xs:annotation>
					<xs:complexType>
						<xs:sequence>
							<xs:element name="Error" minOccurs="0" maxOccurs="unbounded">
								<xs:annotation>
									<xs:documentation xml:lang="ro">Definiţia unei erori sau avertizări</xs:documentation>
								</xs:annotation>
								<xs:complexType>
									<xs:attribute name="code" use="required">
										<xs:annotation>
											<xs:documentation xml:lang="ro">Codul de eroare/avertizare</xs:documentation>
										</xs:annotation>
										<xs:simpleType>
											<xs:restriction base="xs:string">
												<xs:maxLength value="20" />
											</xs:restriction>
										</xs:simpleType>
									</xs:attribute>
									<xs:attribute name="text" use="optional">
										<xs:annotation>
											<xs:documentation xml:lang="ro">Descrierea erorii/avertizării</xs:documentation>
										</xs:annotation>
										<xs:simpleType>
											<xs:restriction base="xs:string">
												<xs:maxLength value="255" />
											</xs:restriction>
										</xs:simpleType>
									</xs:attribute>
									<xs:attribute name="validFrom" type="xs:date" use="required">
										<xs:annotation>
											<xs:documentation xml:lang="ro">Data de inceput a valabilităţii</xs:documentation>
										</xs:annotation>
									</xs:attribute>
									<xs:attribute name="validTo" type="xs:date" use="optional">
										<xs:annotation>
											<xs:documentation xml:lang="ro">Data de sfârşit a valabilităţii</xs:documentation>
										</xs:annotation>
									</xs:attribute>
								</xs:complexType>
							</xs:element>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
				<xs:element name="PersonCategories" minOccurs="0">
					<xs:annotation>
						<xs:documentation xml:lang="ro">Catalogul de categorii de asigurat ale persoanelor</xs:documentation>
					</xs:annotation>
					<xs:complexType>
						<xs:sequence>
							<xs:element name="PersonCategory" minOccurs="0" maxOccurs="unbounded">
								<xs:annotation>
									<xs:documentation xml:lang="ro">Înregistrare în catalogul de categorii de asigurat</xs:documentation>
								</xs:annotation>
								<xs:complexType>
									<xs:attribute name="code" use="required">
										<xs:annotation>
											<xs:documentation xml:lang="ro">Codul categoriei de asigurat</xs:documentation>
										</xs:annotation>
										<xs:simpleType>
											<xs:restriction base="xs:string">
												<xs:maxLength value="20" />
											</xs:restriction>
										</xs:simpleType>
									</xs:attribute>
									<xs:attribute name="description" use="required">
										<xs:annotation>
											<xs:documentation xml:lang="ro">Descrierea categoriei de asigurat</xs:documentation>
										</xs:annotation>
										<xs:simpleType>
											<xs:restriction base="xs:string">
												<xs:maxLength value="500" />
											</xs:restriction>
										</xs:simpleType>
									</xs:attribute>
									<xs:attribute name="validFrom" type="xs:date" use="required">
										<xs:annotation>
											<xs:documentation xml:lang="ro">Data de inceput a valabilităţii</xs:documentation>
										</xs:annotation>
									</xs:attribute>
									<xs:attribute name="validTo" type="xs:date" use="optional">
										<xs:annotation>
											<xs:documentation xml:lang="ro">Data de sfârşit a valabilităţii</xs:documentation>
										</xs:annotation>
									</xs:attribute>
									<xs:attribute name="restrictedMinAge" use="optional">
										<xs:annotation>
											<xs:documentation xml:lang="ro">Vârsta minimă de la care o persoană se poate încadra în categoria respectivă</xs:documentation>
										</xs:annotation>
										<xs:simpleType>
											<xs:restriction base="xs:decimal">
												<xs:totalDigits value="18" />
											</xs:restriction>
										</xs:simpleType>
									</xs:attribute>
									<xs:attribute name="restrictedMaxAge" use="optional">
										<xs:annotation>
											<xs:documentation xml:lang="ro">Vârsta maximă până la care o persoană se poate încadra în categoria respectivă</xs:documentation>
										</xs:annotation>
										<xs:simpleType>
											<xs:restriction base="xs:decimal">
												<xs:totalDigits value="18" />
											</xs:restriction>
										</xs:simpleType>
									</xs:attribute>
									<xs:attribute name="supportsOverlapping" use="optional" type="xs:boolean">
										<xs:annotation>
											<xs:documentation xml:lang="ro">Indică dacă categoria de asigurat se poate suprapune cu alte categorii pe aceeaşi perioadă de timp</xs:documentation>
										</xs:annotation>
									</xs:attribute>
									<xs:attribute name="definedByAge" use="optional" type="xs:boolean">
										<xs:annotation>
											<xs:documentation xml:lang="ro">Indică dacă categoria de asigurat este definită de limitele de vârstă</xs:documentation>
										</xs:annotation>
									</xs:attribute>
									<xs:attribute name="maxDuration" use="optional">
										<xs:annotation>
											<xs:documentation xml:lang="ro">Durata maximă în cazul categoriei care expiră după o perioadă de timp</xs:documentation>
										</xs:annotation>
										<xs:simpleType>
											<xs:restriction base="xs:decimal">
												<xs:totalDigits value="18" />
											</xs:restriction>
										</xs:simpleType>
									</xs:attribute>
									<xs:attribute name="maxDurationRoundType" use="optional">
										<xs:annotation>
											<xs:documentation xml:lang="ro">Perioada calendaristică în care se exprimă durata maximă</xs:documentation>
										</xs:annotation>
										<xs:simpleType>
											<xs:restriction base="xs:string">
												<xs:enumeration value="M">
													<xs:annotation>
														<xs:documentation xml:lang="ro">LUNA</xs:documentation>
													</xs:annotation>
												</xs:enumeration>
												<xs:enumeration value="Q">
													<xs:annotation>
														<xs:documentation xml:lang="ro">TRIMESTRU</xs:documentation>
													</xs:annotation>
												</xs:enumeration>
												<xs:enumeration value="S">
													<xs:annotation>
														<xs:documentation xml:lang="ro">SEMESTRU</xs:documentation>
													</xs:annotation>
												</xs:enumeration>
												<xs:enumeration value="Y">
													<xs:annotation>
														<xs:documentation xml:lang="ro">AN</xs:documentation>
													</xs:annotation>
												</xs:enumeration>
											</xs:restriction>
										</xs:simpleType>
									</xs:attribute>
									<xs:attribute name="forSex" use="optional">
										<xs:annotation>
											<xs:documentation xml:lang="ro">Indică dacă categoria se poate aplica doar unei persoane de un anumit sex</xs:documentation>
										</xs:annotation>
										<xs:simpleType>
											<xs:restriction base="xs:string">
												<xs:enumeration value="0">
													<xs:annotation>
														<xs:documentation xml:lang="ro">NEDEFINIT</xs:documentation>
													</xs:annotation>
												</xs:enumeration>
												<xs:enumeration value="1">
													<xs:annotation>
														<xs:documentation xml:lang="ro">MASCULIN</xs:documentation>
													</xs:annotation>
												</xs:enumeration>
												<xs:enumeration value="2">
													<xs:annotation>
														<xs:documentation xml:lang="ro">FEMININ</xs:documentation>
													</xs:annotation>
												</xs:enumeration>
											</xs:restriction>
										</xs:simpleType>
									</xs:attribute>
									<xs:attribute name="personState" use="optional">
										<xs:annotation>
											<xs:documentation xml:lang="ro">Codul stării de asigurat a persoanei corespondent unei categorii de asigurat (valoare din catalogul de stări de asigurat)</xs:documentation>
										</xs:annotation>
										<xs:simpleType>
											<xs:restriction base="xs:string">
												<xs:maxLength value="20" />
											</xs:restriction>
										</xs:simpleType>
									</xs:attribute>
									<xs:attribute name="priority" type="xs:decimal" use="optional">
										<xs:annotation>
											<xs:documentation xml:lang="ro">Prioritatea în cazul în care o persoană are mai multe categorii (valorile mai mari au prioritate mai mare)</xs:documentation>
										</xs:annotation>
									</xs:attribute>
									<xs:attribute name="isOptional" type="xs:boolean" use="optional">
										<xs:annotation>
											<xs:documentation xml:lang="ro">Indica daca aceasta categorie este optionala sau nu.</xs:documentation>
										</xs:annotation>
									</xs:attribute>
									<xs:attribute name="canBeReported" type="xs:boolean" use="optional">
										<xs:annotation>
											<xs:documentation xml:lang="ro">Indica daca aceasta categorie poate fi raportata de catre medicul de familie.</xs:documentation>
										</xs:annotation>
									</xs:attribute>
									<xs:attribute name="equivalentCode" use="optional">
										<xs:annotation>
											<xs:documentation xml:lang="ro">Codul echivalent al categoriei de asigurat</xs:documentation>
										</xs:annotation>
										<xs:simpleType>
											<xs:restriction base="xs:string">
												<xs:maxLength value="20" />
											</xs:restriction>
										</xs:simpleType>
									</xs:attribute>
								</xs:complexType>
							</xs:element>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
				<xs:element name="PersonStates" minOccurs="0">
					<xs:annotation>
						<xs:documentation xml:lang="ro">Catalogul de stări de asigurare ale unei persoane</xs:documentation>
					</xs:annotation>
					<xs:complexType>
						<xs:sequence>
							<xs:element name="PersonState" minOccurs="0" maxOccurs="unbounded">
								<xs:annotation>
									<xs:documentation xml:lang="ro">Înregistare din catalogul de stări de asigurare ale unei persoane</xs:documentation>
								</xs:annotation>
								<xs:complexType>
									<xs:attribute name="code" use="required">
										<xs:annotation>
											<xs:documentation xml:lang="ro">Codul stării de asigurare ale unei persoane</xs:documentation>
										</xs:annotation>
										<xs:simpleType>
											<xs:restriction base="xs:string">
												<xs:maxLength value="20" />
											</xs:restriction>
										</xs:simpleType>
									</xs:attribute>
									<xs:attribute name="description" use="required">
										<xs:annotation>
											<xs:documentation xml:lang="ro">Descrierea stării de asigurare ale unei persoane</xs:documentation>
										</xs:annotation>
										<xs:simpleType>
											<xs:restriction base="xs:string">
												<xs:maxLength value="100" />
											</xs:restriction>
										</xs:simpleType>
									</xs:attribute>
									<xs:attribute name="validFrom" type="xs:date" use="required">
										<xs:annotation>
											<xs:documentation xml:lang="ro">Data de inceput a valabilităţii</xs:documentation>
										</xs:annotation>
									</xs:attribute>
									<xs:attribute name="validTo" type="xs:date" use="optional">
										<xs:annotation>
											<xs:documentation xml:lang="ro">Data de sfârşit a valabilităţii</xs:documentation>
										</xs:annotation>
									</xs:attribute>
								</xs:complexType>
							</xs:element>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
				<xs:element name="Physicians" minOccurs="0">
					<xs:annotation>
						<xs:documentation xml:lang="ro">Catalogul de medici din sistem</xs:documentation>
					</xs:annotation>
					<xs:complexType>
						<xs:sequence>
							<xs:element name="Physician" minOccurs="0" maxOccurs="unbounded">
								<xs:annotation>
									<xs:documentation xml:lang="ro">Definiţia unui medic</xs:documentation>
								</xs:annotation>
								<xs:complexType>
									<xs:attribute name="pid" use="optional">
										<xs:annotation>
											<xs:documentation xml:lang="ro">CNP-ul medicului</xs:documentation>
										</xs:annotation>
										<xs:simpleType>
											<xs:restriction base="xs:string">
												<xs:maxLength value="20" />
											</xs:restriction>
										</xs:simpleType>
									</xs:attribute>
									<xs:attribute name="name" use="required">
										<xs:annotation>
											<xs:documentation xml:lang="ro">Numele medicului</xs:documentation>
										</xs:annotation>
										<xs:simpleType>
											<xs:restriction base="xs:string">
												<xs:maxLength value="200" />
											</xs:restriction>
										</xs:simpleType>
									</xs:attribute>
									<xs:attribute name="stencil" use="required">
										<xs:annotation>
											<xs:documentation xml:lang="ro">Parafa medicului</xs:documentation>
										</xs:annotation>
										<xs:simpleType>
											<xs:restriction base="xs:string">
												<xs:maxLength value="6" />
											</xs:restriction>
										</xs:simpleType>
									</xs:attribute>
									<xs:attribute name="validFrom" type="xs:date" use="required">
										<xs:annotation>
											<xs:documentation xml:lang="ro">Data de inceput a valabilităţii</xs:documentation>
										</xs:annotation>
									</xs:attribute>
									<xs:attribute name="validTo" type="xs:date" use="optional">
										<xs:annotation>
											<xs:documentation xml:lang="ro">Data de sfârşit a valabilităţii</xs:documentation>
										</xs:annotation>
									</xs:attribute>
								</xs:complexType>
							</xs:element>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
				<xs:element name="PhysicianSpecialities" minOccurs="0">
					<xs:annotation>
						<xs:documentation xml:lang="ro">Catalogul de specialitati pe care le au medicii in contractele lor cu casele judetene.</xs:documentation>
					</xs:annotation>
					<xs:complexType>
						<xs:sequence>
							<xs:element name="PhysicianSpeciality" minOccurs="0" maxOccurs="unbounded">
								<xs:annotation>
									<xs:documentation xml:lang="ro">Definitia unei specialitati a unui medic in contractul sau cu o casa judeteana.</xs:documentation>
								</xs:annotation>
								<xs:complexType>
									<xs:attribute name="stencil" use="required">
										<xs:annotation>
											<xs:documentation xml:lang="ro">Parafa medicului</xs:documentation>
										</xs:annotation>
										<xs:simpleType>
											<xs:restriction base="xs:string">
												<xs:maxLength value="20" />
											</xs:restriction>
										</xs:simpleType>
									</xs:attribute>
									<xs:attribute name="contractNo" use="required">
										<xs:annotation>
											<xs:documentation xml:lang="ro">Numărul contractului</xs:documentation>
										</xs:annotation>
										<xs:simpleType>
											<xs:restriction base="xs:string">
												<xs:maxLength value="40" />
											</xs:restriction>
										</xs:simpleType>
									</xs:attribute>
									<xs:attribute name="insuranceHouse" use="required">
										<xs:annotation>
											<xs:documentation xml:lang="ro">Codul casei de asigurari. (valoarea este preluata din catalogul InsuranceHouses)</xs:documentation>
										</xs:annotation>
										<xs:simpleType>
											<xs:restriction base="xs:string">
												<xs:maxLength value="20" />
											</xs:restriction>
										</xs:simpleType>
									</xs:attribute>
									<xs:attribute name="contractType" use="required">
										<xs:annotation>
											<xs:documentation xml:lang="ro">Tipul de contract al furnizorului</xs:documentation>
										</xs:annotation>
										<xs:simpleType>
											<xs:restriction base="xs:string">
												<xs:maxLength value="3" />
											</xs:restriction>
										</xs:simpleType>
									</xs:attribute>
									<xs:attribute name="physicianType" use="required">
										<xs:annotation>
											<xs:documentation xml:lang="ro">Codul tipului de medic.</xs:documentation>
										</xs:annotation>
										<xs:simpleType>
											<xs:restriction base="xs:string">
												<xs:enumeration value="C">
													<xs:annotation>
														<xs:documentation xml:lang="ro">Convenţie</xs:documentation>
													</xs:annotation>
												</xs:enumeration>
												<xs:enumeration value="S">
													<xs:annotation>
														<xs:documentation xml:lang="ro">Stomatologie</xs:documentation>
													</xs:annotation>
												</xs:enumeration>
												<xs:enumeration value="H">
													<xs:annotation>
														<xs:documentation xml:lang="ro">Spitale</xs:documentation>
													</xs:annotation>
												</xs:enumeration>
												<xs:enumeration value="F">
													<xs:annotation>
														<xs:documentation xml:lang="ro">Medicina de familie</xs:documentation>
													</xs:annotation>
												</xs:enumeration>
												<xs:enumeration value="A">
													<xs:annotation>
														<xs:documentation xml:lang="ro">Ambulatoriu / Clinice</xs:documentation>
													</xs:annotation>
												</xs:enumeration>
												<xs:enumeration value="P">
													<xs:annotation>
														<xs:documentation xml:lang="ro">Necunoscut / Nedefinit</xs:documentation>
													</xs:annotation>
												</xs:enumeration>
												<xs:enumeration value="U">
													<xs:annotation>
														<xs:documentation xml:lang="ro">Ambulante</xs:documentation>
													</xs:annotation>
												</xs:enumeration>
											</xs:restriction>
										</xs:simpleType>
									</xs:attribute>
									<xs:attribute name="specialityCode" use="required">
										<xs:annotation>
											<xs:documentation xml:lang="ro">Codul specializarii (valoarea este preluata din nomenclatorul Specialities)</xs:documentation>
										</xs:annotation>
										<xs:simpleType>
											<xs:restriction base="xs:string">
												<xs:maxLength value="20" />
											</xs:restriction>
										</xs:simpleType>
									</xs:attribute>
									<xs:attribute name="validFrom" type="xs:date" use="required">
										<xs:annotation>
											<xs:documentation xml:lang="ro">Data de inceput a valabilităţii</xs:documentation>
										</xs:annotation>
									</xs:attribute>
									<xs:attribute name="validTo" type="xs:date" use="optional">
										<xs:annotation>
											<xs:documentation xml:lang="ro">Data de sfârşit a valabilităţii</xs:documentation>
										</xs:annotation>
									</xs:attribute>
								</xs:complexType>
							</xs:element>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
				<xs:element name="NHPS" minOccurs="0">
					<xs:annotation>
						<xs:documentation xml:lang="ro">Nomenclator cu toate tipurile de servicii de prevenire si supraveghere împotriva unor boli, servicii asigurate de casa de asigurari.</xs:documentation>
					</xs:annotation>
					<xs:complexType>
						<xs:sequence>
							<xs:element name="NHP" minOccurs="0" maxOccurs="unbounded">
								<xs:complexType>
									<xs:attribute name="code" type="xs:string" use="required">
										<xs:annotation>
											<xs:documentation xml:lang="ro">Codul tipului de serviciu.</xs:documentation>
										</xs:annotation>
									</xs:attribute>
									<xs:attribute name="description" type="xs:string" use="required">
										<xs:annotation>
											<xs:documentation xml:lang="ro">Descrierea tipului de serviciu.</xs:documentation>
										</xs:annotation>
									</xs:attribute>
									<xs:attribute name="validFrom" type="xs:date" use="required">
										<xs:annotation>
											<xs:documentation xml:lang="ro">Data de început a perioadei de valabilitate.</xs:documentation>
										</xs:annotation>
									</xs:attribute>
									<xs:attribute name="validTo" type="xs:date" use="optional">
										<xs:annotation>
											<xs:documentation xml:lang="ro">Data de sfârsit a perioadei de valabilitate.</xs:documentation>
										</xs:annotation>
									</xs:attribute>
									<xs:attribute name="hasAmbulatoryBudget" type="xs:boolean" use="optional">
										<xs:annotation>
											<xs:documentation xml:lang="ro">Poate fi defalcat pe buget de ambulatoriu?</xs:documentation>
										</xs:annotation>
									</xs:attribute>
									<xs:attribute name="hasHospitalBudget" type="xs:boolean" use="optional">
										<xs:annotation>
											<xs:documentation xml:lang="ro">Poate fi defalcat pe buget de spital?</xs:documentation>
										</xs:annotation>
									</xs:attribute>
									<xs:attribute name="hasDrugsBudget" type="xs:boolean" use="optional">
										<xs:annotation>
											<xs:documentation xml:lang="ro">Flag care indica daca exista buget pe indicatorul bugetar de medicamente pentru boli cronice cu risc crescut utilizate in programele nationale cu scop curativ.</xs:documentation>
										</xs:annotation>
									</xs:attribute>
									<xs:attribute name="hasGoodsBudget" type="xs:boolean" use="optional">
										<xs:annotation >
											<xs:documentation xml:lang="ro">Flag care indica daca exista buget pe indicatorul bugetar de materiale sanitare specifice utilizate in programele nationale cu scop curativ.</xs:documentation>
										</xs:annotation>
									</xs:attribute>
									<xs:attribute name="programCode" use="optional">
										<xs:annotation>
											<xs:documentation xml:lang="ro">Cod care nu depinde de versiune si care este folosit la stabilirea tipului de decont PNS</xs:documentation>
										</xs:annotation>
										<xs:simpleType>
											<xs:restriction base="xs:string">
												<xs:maxLength value="20" />
											</xs:restriction>
										</xs:simpleType>
									</xs:attribute>									
								</xs:complexType>
							</xs:element>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
				<xs:element name="DiseaseCategories" minOccurs="0">
					<xs:annotation>
						<xs:documentation xml:lang="ro">Catalogul de categorii de boală</xs:documentation>
					</xs:annotation>
					<xs:complexType>
						<xs:sequence>
							<xs:element name="DiseaseCategory" minOccurs="0" maxOccurs="unbounded">
								<xs:annotation>
									<xs:documentation xml:lang="ro">Definiţia unei categorii de boală</xs:documentation>
								</xs:annotation>
								<xs:complexType>
									<xs:attribute name="code" use="required">
										<xs:annotation>
											<xs:documentation xml:lang="ro">Codul categoriei de boală</xs:documentation>
										</xs:annotation>
										<xs:simpleType>
											<xs:restriction base="xs:string">
												<xs:maxLength value="20" />
											</xs:restriction>
										</xs:simpleType>
									</xs:attribute>
									<xs:attribute name="description" use="required">
										<xs:annotation>
											<xs:documentation xml:lang="ro">Descrierea categoriei de boală</xs:documentation>
										</xs:annotation>
										<xs:simpleType>
											<xs:restriction base="xs:string">
												<xs:maxLength value="100" />
											</xs:restriction>
										</xs:simpleType>
									</xs:attribute>
									<xs:attribute name="isChronicDisease" type="xs:boolean" use="optional">
										<xs:annotation>
											<xs:documentation xml:lang="ro">Indică dacă este boală cronică sau nu</xs:documentation>
										</xs:annotation>
									</xs:attribute>
									<xs:attribute name="isAuctioned" type="xs:boolean" use="optional">
										<xs:annotation>
											<xs:documentation xml:lang="ro">Indică dacă procurarea medicamentelor pentru această categorie se face prin licitaţie</xs:documentation>
										</xs:annotation>
									</xs:attribute>
									<xs:attribute name="validFrom" type="xs:date" use="required">
										<xs:annotation>
											<xs:documentation xml:lang="ro">Data de inceput a valabilităţii</xs:documentation>
										</xs:annotation>
									</xs:attribute>
									<xs:attribute name="validTo" type="xs:date" use="optional">
										<xs:annotation>
											<xs:documentation xml:lang="ro">Data de sfârşit a valabilităţii</xs:documentation>
										</xs:annotation>
									</xs:attribute>
								</xs:complexType>
							</xs:element>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
				<xs:element name="ICD10S" minOccurs="0">
					<xs:annotation>
						<xs:documentation xml:lang="ro">Catalogul de diagnostice medicale (999 de coduri)</xs:documentation>
					</xs:annotation>
					<xs:complexType>
						<xs:sequence>
							<xs:element name="ICD10" minOccurs="0" maxOccurs="unbounded">
								<xs:annotation>
									<xs:documentation xml:lang="ro">Definiţia unui diagnostic medical</xs:documentation>
								</xs:annotation>
								<xs:complexType>
									<xs:attribute name="code" use="required">
										<xs:annotation>
											<xs:documentation xml:lang="ro">Codul diagnosticului medical</xs:documentation>
										</xs:annotation>
										<xs:simpleType>
											<xs:restriction base="xs:string">
												<xs:maxLength value="20" />
											</xs:restriction>
										</xs:simpleType>
									</xs:attribute>
									<xs:attribute name="name" use="required">
										<xs:annotation>
											<xs:documentation xml:lang="ro">Denumirea diagnosticului medical</xs:documentation>
										</xs:annotation>
										<xs:simpleType>
											<xs:restriction base="xs:string">
												<xs:maxLength value="100" />
											</xs:restriction>
										</xs:simpleType>
									</xs:attribute>
									<xs:attribute name="diseaseCategory" use="optional">
										<xs:annotation>
											<xs:documentation xml:lang="ro">Categoria de boală (valoarea codului din nomenclatorul de categorii de boli)</xs:documentation>
										</xs:annotation>
										<xs:simpleType>
											<xs:restriction base="xs:string">
												<xs:maxLength value="20" />
											</xs:restriction>
										</xs:simpleType>
									</xs:attribute>
									<xs:attribute name="validFrom" type="xs:date" use="required">
										<xs:annotation>
											<xs:documentation xml:lang="ro">Data de inceput a valabilităţii</xs:documentation>
										</xs:annotation>
									</xs:attribute>
									<xs:attribute name="validTo" type="xs:date" use="optional">
										<xs:annotation>
											<xs:documentation xml:lang="ro">Data de sfârşit a valabilităţii</xs:documentation>
										</xs:annotation>
									</xs:attribute>
								</xs:complexType>
							</xs:element>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
				<xs:element name="MedSrvPacks" minOccurs="0">
					<xs:annotation>
						<xs:documentation xml:lang="ro">Catalogul pachetelor de servicii medicale din sistemul de asigurări</xs:documentation>
					</xs:annotation>
					<xs:complexType>
						<xs:sequence>
							<xs:element name="MedSrvPack" minOccurs="0" maxOccurs="unbounded">
								<xs:annotation>
									<xs:documentation xml:lang="ro">Definiţia pachetelor de servicii medicale din sistemul de asigurări</xs:documentation>
								</xs:annotation>
								<xs:complexType>
									<xs:attribute name="code" use="required">
										<xs:annotation>
											<xs:documentation xml:lang="ro">Codul pachetului de servicii medicale</xs:documentation>
										</xs:annotation>
										<xs:simpleType>
											<xs:restriction base="xs:string">
												<xs:maxLength value="20" />
											</xs:restriction>
										</xs:simpleType>
									</xs:attribute>
									<xs:attribute name="name" use="required">
										<xs:annotation>
											<xs:documentation xml:lang="ro">Denumirea pachetului de servicii medicale</xs:documentation>
										</xs:annotation>
										<xs:simpleType>
											<xs:restriction base="xs:string">
												<xs:maxLength value="100" />
											</xs:restriction>
										</xs:simpleType>
									</xs:attribute>
									<xs:attribute name="validFrom" type="xs:date" use="required">
										<xs:annotation>
											<xs:documentation xml:lang="ro">Data de inceput a valabilităţii</xs:documentation>
										</xs:annotation>
									</xs:attribute>
									<xs:attribute name="validTo" type="xs:date" use="optional">
										<xs:annotation>
											<xs:documentation xml:lang="ro">Data de sfârşit a valabilităţii</xs:documentation>
										</xs:annotation>
									</xs:attribute>
								</xs:complexType>
							</xs:element>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
				<xs:element name="LaboratoriesServices" minOccurs="0">
					<xs:annotation>
						<xs:documentation xml:lang="ro">Catalogul de servicii de laborator</xs:documentation>
					</xs:annotation>
					<xs:complexType>
						<xs:sequence>
							<xs:element name="LaboratoriesService" minOccurs="0" maxOccurs="unbounded">
								<xs:annotation>
									<xs:documentation xml:lang="ro">Definitia unui serviciu de laborator</xs:documentation>
								</xs:annotation>
								<xs:complexType>
									<xs:attribute name="code" use="required">
										<xs:annotation>
											<xs:documentation xml:lang="ro">Codul serviciului de laborator</xs:documentation>
										</xs:annotation>
										<xs:simpleType>
											<xs:restriction base="xs:string">
												<xs:maxLength value="20"/>
											</xs:restriction>
										</xs:simpleType>
									</xs:attribute>
									<xs:attribute name="name" use="required">
										<xs:annotation>
											<xs:documentation xml:lang="ro">Denumirea serviciului de laborator</xs:documentation>
										</xs:annotation>
										<xs:simpleType>
											<xs:restriction base="xs:string">
												<xs:maxLength value="100" />
											</xs:restriction>
										</xs:simpleType>
									</xs:attribute>
									<xs:attribute name="highLevel" type="xs:boolean" use="required">
										<xs:annotation>
											<xs:documentation xml:lang="ro">Indică dacă serviciul este inaltă performanţă</xs:documentation>
										</xs:annotation>
									</xs:attribute>
									<xs:attribute name="recByPC" type="xs:boolean" use="required">
										<xs:annotation>
											<xs:documentation xml:lang="ro">Indică dacă serviciul se face doar pe baza recomandării unui medic primar</xs:documentation>
										</xs:annotation>
									</xs:attribute>
									<xs:attribute name="formula" type="xs:boolean" use="required">
										<xs:annotation>
											<xs:documentation xml:lang="ro">Indică dacă se aplică forumula Cockroft-Gault</xs:documentation>
										</xs:annotation>
									</xs:attribute>
									<xs:attribute name="inClinic" type="xs:boolean" use="required">
										<xs:annotation>
											<xs:documentation xml:lang="ro">Flag care identifică serviciile paraclinice care se pot face si în cadrul ambulatoriului clinic</xs:documentation>
										</xs:annotation>
									</xs:attribute>
									<xs:attribute name="validFrom" type="xs:date" use="required">
										<xs:annotation>
											<xs:documentation xml:lang="ro">Data de inceput a valabilităţii</xs:documentation>
										</xs:annotation>
									</xs:attribute>
									<xs:attribute name="validTo" type="xs:date" use="optional">
										<xs:annotation>
											<xs:documentation xml:lang="ro">Data de sfârşit a valabilităţii</xs:documentation>
										</xs:annotation>
									</xs:attribute>
									<xs:attribute name="serviceType" use="optional">
										<xs:annotation>
											<xs:documentation xml:lang="ro">Flag care indica daca serviciu paraclinic este radiologie sau analiza (au fost gandite valorile 1 si 2 pentru ca pe viitor să se poata adauta si o alta valoare, daca este cazul)</xs:documentation>
										</xs:annotation>
										<xs:simpleType>
											<xs:restriction base="xs:string">
												<xs:enumeration value="1">
													<xs:annotation>
														<xs:documentation xml:lang="ro">ANALIZE</xs:documentation>
													</xs:annotation>
												</xs:enumeration>
												<xs:enumeration value="2">
													<xs:annotation>
														<xs:documentation xml:lang="ro">RADIOLOGIE</xs:documentation>
													</xs:annotation>
												</xs:enumeration>
												<xs:enumeration value="3">
													<xs:annotation>
														<xs:documentation xml:lang="ro">EXPLORARI FUNCTIONALE</xs:documentation>
													</xs:annotation>
												</xs:enumeration>
												<xs:enumeration value="7">
													<xs:annotation>
														<xs:documentation xml:lang="ro">ANATOMIE PATOLOGICA</xs:documentation>
													</xs:annotation>
												</xs:enumeration>
											</xs:restriction>
										</xs:simpleType>
									</xs:attribute>
									<xs:attribute name="reportOrder" type="xs:int" use="optional">
										<xs:annotation>
											<xs:documentation xml:lang="ro">Numărul de ordine al serviciului în nomenclatorul de servicii publicat de CNAS</xs:documentation>
										</xs:annotation>
									</xs:attribute>
								</xs:complexType>
							</xs:element>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
				<xs:element name="LabSrvMedPacks" minOccurs="0">
					<xs:annotation>
						<xs:documentation xml:lang="ro">Tabelul de asociere între serviciile de laborator şi pachetele de servicii</xs:documentation>
					</xs:annotation>
					<xs:complexType>
						<xs:sequence>
							<xs:element name="LabSrvMedPack" minOccurs="0" maxOccurs="unbounded">
								<xs:annotation>
									<xs:documentation xml:lang="ro">Înregistrare din tabelul de asociere între serviciile de laborator şi pachetele de servicii</xs:documentation>
								</xs:annotation>
								<xs:complexType>
									<xs:attribute name="service" type="xs:string" use="required">
										<xs:annotation>
											<xs:documentation xml:lang="ro">Codul serviciului de laborator (valaore din catalogul de servicii de laborator)</xs:documentation>
										</xs:annotation>
									</xs:attribute>
									<xs:attribute name="medSrvPack" type="xs:string" use="required">
										<xs:annotation>
											<xs:documentation xml:lang="ro">Codul pachetului de servicii (valaore din catalogul de pachete de servicii)</xs:documentation>
										</xs:annotation>
									</xs:attribute>
									<xs:attribute name="validFrom" type="xs:date" use="required">
										<xs:annotation>
											<xs:documentation xml:lang="ro">Data de inceput a valabilităţii</xs:documentation>
										</xs:annotation>
									</xs:attribute>
									<xs:attribute name="validTo" type="xs:date" use="optional">
										<xs:annotation>
											<xs:documentation xml:lang="ro">Data de sfârşit a valabilităţii</xs:documentation>
										</xs:annotation>
									</xs:attribute>
								</xs:complexType>
							</xs:element>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
				<xs:element name="PersonTypes" minOccurs="0">
					<xs:annotation>
						<xs:documentation xml:lang="ro">Catalogul de tipuri de persoană (cetăţeni români, posesori de card european, convenţii, accidentaţi, etc.)</xs:documentation>
					</xs:annotation>
					<xs:complexType>
						<xs:sequence>
							<xs:element name="PersonType" minOccurs="0" maxOccurs="unbounded">
								<xs:annotation>
									<xs:documentation xml:lang="ro">Definiţia unui tip de persoană</xs:documentation>
								</xs:annotation>
								<xs:complexType>
									<xs:attribute name="code" use="required">
										<xs:annotation>
											<xs:documentation xml:lang="ro">Codul tipului de persoană</xs:documentation>
										</xs:annotation>
										<xs:simpleType>
											<xs:restriction base="xs:string">
												<xs:maxLength value="20" />
											</xs:restriction>
										</xs:simpleType>
									</xs:attribute>
									<xs:attribute name="description" use="required">
										<xs:annotation>
											<xs:documentation xml:lang="ro">Descrierea tipului de persoană</xs:documentation>
										</xs:annotation>
										<xs:simpleType>
											<xs:restriction base="xs:string">
												<xs:maxLength value="200" />
											</xs:restriction>
										</xs:simpleType>
									</xs:attribute>
									<xs:attribute name="isForeign" type="xs:boolean" use="required">
										<xs:annotation>
											<xs:documentation xml:lang="ro">Indică dacă tipul se aplică pentru persoane de altă cetăţenie sau nu</xs:documentation>
										</xs:annotation>
									</xs:attribute>
								</xs:complexType>
							</xs:element>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
				<xs:element name="PersonFunctions" minOccurs="0">
					<xs:annotation>
						<xs:documentation xml:lang="ro">Catalogul functiilor pe care o persoana angajata le poate ocupa in cadrul furnizorului.</xs:documentation>
					</xs:annotation>
					<xs:complexType>
						<xs:sequence>
							<xs:element name="PersonFunction" minOccurs="0" maxOccurs="unbounded">
								<xs:annotation>
									<xs:documentation xml:lang="ro">Definitia unei functii pe care o persoana angajata le poate ocupa in cadrul furnizorului.</xs:documentation>
								</xs:annotation>
								<xs:complexType>
									<xs:attribute name="code" type="xs:string" use="required">
										<xs:annotation>
											<xs:documentation xml:lang="ro">Codul unei functii pe care o persoana angajata le poate ocupa in cadrul furnizorului.</xs:documentation>
										</xs:annotation>
									</xs:attribute>
									<xs:attribute name="description" type="xs:string" use="required">
										<xs:annotation>
											<xs:documentation xml:lang="ro">Descrierea unei functii pe care o persoana angajata le poate ocupa in cadrul furnizorului.</xs:documentation>
										</xs:annotation>
									</xs:attribute>
									<xs:attribute name="validFrom" type="xs:date" use="required">
										<xs:annotation>
											<xs:documentation xml:lang="ro">Data de inceput a valabilitatii</xs:documentation>
										</xs:annotation>
									</xs:attribute>
									<xs:attribute name="validTo" type="xs:date" use="optional">
										<xs:annotation>
											<xs:documentation xml:lang="ro">Data de sfârsit a valabilitatii</xs:documentation>
										</xs:annotation>
									</xs:attribute>
								</xs:complexType>
							</xs:element>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
				<xs:element name="EmplTypes" minOccurs="0">
					<xs:annotation>
						<xs:documentation xml:lang="ro">Catalogul de tipuri de angajare.</xs:documentation>
					</xs:annotation>
					<xs:complexType>
						<xs:sequence>
							<xs:element name="EmplType" minOccurs="0" maxOccurs="unbounded">
								<xs:annotation>
									<xs:documentation xml:lang="ro">Definitia unui tip de angajare.</xs:documentation>
								</xs:annotation>
								<xs:complexType>
									<xs:attribute name="code" type="xs:string" use="required">
										<xs:annotation>
											<xs:documentation xml:lang="ro">Codul unui tip de angajare.</xs:documentation>
										</xs:annotation>
									</xs:attribute>
									<xs:attribute name="name" type="xs:string" use="required">
										<xs:annotation>
											<xs:documentation xml:lang="ro">Numele unui tip de angajare.</xs:documentation>
										</xs:annotation>
									</xs:attribute>
								</xs:complexType>
							</xs:element>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
				<xs:element name="CtrDocumentTypes" minOccurs="0">
					<xs:annotation>
						<xs:documentation xml:lang="ro">Nomenclatorul tipurilor de documente.</xs:documentation>
					</xs:annotation>
					<xs:complexType>
						<xs:sequence>
							<xs:element name="CtrDocumentType" minOccurs="0" maxOccurs="unbounded">
								<xs:annotation>
									<xs:documentation xml:lang="ro">Definitia unui tip de document.</xs:documentation>
								</xs:annotation>
								<xs:complexType>
									<xs:attribute name="code" type="xs:string" use="required">
										<xs:annotation>
											<xs:documentation xml:lang="ro">Cod tip document.</xs:documentation>
										</xs:annotation>
									</xs:attribute>
									<xs:attribute name="name" type="xs:string" use="required">
										<xs:annotation>
											<xs:documentation xml:lang="ro">Denumire tip document.</xs:documentation>
										</xs:annotation>
									</xs:attribute>
									<xs:attribute name="validFrom" type="xs:date" use="required">
										<xs:annotation>
											<xs:documentation xml:lang="ro">Data de inceput a valabilitatii</xs:documentation>
										</xs:annotation>
									</xs:attribute>
									<xs:attribute name="validTo" type="xs:date" use="optional">
										<xs:annotation>
											<xs:documentation xml:lang="ro">Data de sfârsit a valabilitatii</xs:documentation>
										</xs:annotation>
									</xs:attribute>
								</xs:complexType>
							</xs:element>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
				<xs:element name="InvoiceItems" minOccurs="0">
					<xs:annotation>
						<xs:documentation xml:lang="ro">Catalogul de tipuri de articole care pot fi facturate</xs:documentation>
					</xs:annotation>
					<xs:complexType>
						<xs:sequence>
							<xs:element name="InvoiceItem" minOccurs="0" maxOccurs="unbounded">
							<xs:annotation>
								<xs:documentation xml:lang="ro">Definiţia unei tip de articol facturat</xs:documentation>
							</xs:annotation>
							<xs:complexType>
								<xs:attribute name="code" use="required">
									<xs:annotation>
										<xs:documentation xml:lang="ro">Codul tipului de articol</xs:documentation>
									</xs:annotation>
									<xs:simpleType>
										<xs:restriction base="xs:string">
											<xs:maxLength value="20" />
										</xs:restriction>
									</xs:simpleType>
								</xs:attribute>
								<xs:attribute name="description" use="required">
									<xs:annotation>
										<xs:documentation xml:lang="ro">Denumirea tipului de articol</xs:documentation>
									</xs:annotation>
									<xs:simpleType>
										<xs:restriction base="xs:string">
											<xs:maxLength value="100" />
										</xs:restriction>
									</xs:simpleType>
								</xs:attribute>
								<xs:attribute name="providerCategory" use="required">
									<xs:annotation>
										<xs:documentation xml:lang="ro">Categoria de furnizor pentru care este valabil tipul de articol</xs:documentation>
									</xs:annotation>
									<xs:simpleType>
										<xs:restriction base="xs:string">
											<xs:maxLength value="20" />
										</xs:restriction>
									</xs:simpleType>
								</xs:attribute>
								<xs:attribute name="contractType" use="required">
									<xs:annotation>
										<xs:documentation xml:lang="ro">Tipul de contract de pentru care este valabil tipul de articol</xs:documentation>
									</xs:annotation>
									<xs:simpleType>
										<xs:restriction base="xs:string">
											<xs:maxLength value="20" />
										</xs:restriction>
									</xs:simpleType>
								</xs:attribute>
								<xs:attribute name="validFrom" type="xs:date" use="required">
									<xs:annotation>
										<xs:documentation xml:lang="ro">Data de început a valabilităţii tipului de articol</xs:documentation>
									</xs:annotation>
								</xs:attribute>
								<xs:attribute name="validTo" type="xs:date" use="optional">
									<xs:annotation>
										<xs:documentation xml:lang="ro">Data de sfârşit a valabilităţii tipului de articol</xs:documentation>
									</xs:annotation>
								</xs:attribute>
							</xs:complexType>
							</xs:element>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
			</xs:sequence>
				<xs:attribute name="issueDate" type="xs:dateTime" use="required">
				<xs:annotation>
					<xs:documentation xml:lang="ro">Data şi ora la care a fost generat fişierul în SIUI (timestamp)</xs:documentation>
				</xs:annotation>
			</xs:attribute>
		</xs:complexType>
	</xs:element>
</xs:schema>