xsd/raportare/PersonalizedFileStoma.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema targetNamespace="http://www.cnas.ro/siui/2.0" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns="http://www.cnas.ro/siui/2.0" elementFormDefault="qualified" id="PersonalizedFileStoma">
	<xs:element name="provider">
		<xs:annotation>
			<xs:documentation xml:lang="ro">Structura datelor de personalizare pentru aplicaţiile de raportare pentru furnizorii de servicii stomatologice.</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:sequence>
				<xs:element name="addresses">
					<xs:annotation>
						<xs:documentation xml:lang="ro">Lista de adrese ale furnizorului</xs:documentation>
					</xs:annotation>
					<xs:complexType>
						<xs:sequence>
							<xs:element name="address" minOccurs="0" maxOccurs="unbounded">
								<xs:annotation>
									<xs:documentation xml:lang="ro">Adresa furnizorului</xs:documentation>
								</xs:annotation>
								<xs:complexType>
									<xs:attribute name="cityCode" use="required">
										<xs:annotation>
											<xs:documentation xml:lang="ro">Localitatea (valoarea codului din nomenclatorul de localităţi)</xs:documentation>
										</xs:annotation>
										<xs:simpleType>
											<xs:restriction base="xs:string">
												<xs:maxLength value="30"/>
											</xs:restriction>
										</xs:simpleType>
									</xs:attribute>
									<xs:attribute name="districtCode" use="required">
										<xs:annotation>
											<xs:documentation xml:lang="ro">Judeţul (valoarea codului din nomenclatorul de judeţe)</xs:documentation>
										</xs:annotation>
										<xs:simpleType>
											<xs:restriction base="xs:string">
												<xs:maxLength value="20"/>
											</xs:restriction>
										</xs:simpleType>
									</xs:attribute>
									<xs:attribute name="streetName" use="optional">
										<xs:annotation>
											<xs:documentation xml:lang="ro">Numele străzii</xs:documentation>
										</xs:annotation>
										<xs:simpleType>
											<xs:restriction base="xs:string">
												<xs:maxLength value="255"/>
											</xs:restriction>
										</xs:simpleType>
									</xs:attribute>
									<xs:attribute name="streetNo" use="optional">
										<xs:annotation>
											<xs:documentation xml:lang="ro">Numărul străzii</xs:documentation>
										</xs:annotation>
										<xs:simpleType>
											<xs:restriction base="xs:string">
												<xs:maxLength value="20"/>
											</xs:restriction>
										</xs:simpleType>
									</xs:attribute>
									<xs:attribute name="building" use="optional">
										<xs:annotation>
											<xs:documentation xml:lang="ro">Blocul / Clădirea</xs:documentation>
										</xs:annotation>
										<xs:simpleType>
											<xs:restriction base="xs:string">
												<xs:maxLength value="20"/>
											</xs:restriction>
										</xs:simpleType>
									</xs:attribute>
									<xs:attribute name="entrance" use="optional">
										<xs:annotation>
											<xs:documentation xml:lang="ro">Scara / Intrarea</xs:documentation>
										</xs:annotation>
										<xs:simpleType>
											<xs:restriction base="xs:string">
												<xs:maxLength value="20"/>
											</xs:restriction>
										</xs:simpleType>
									</xs:attribute>
									<xs:attribute name="floor" use="optional">
										<xs:annotation>
											<xs:documentation xml:lang="ro">Etajul</xs:documentation>
										</xs:annotation>
										<xs:simpleType>
											<xs:restriction base="xs:string">
												<xs:maxLength value="20"/>
											</xs:restriction>
										</xs:simpleType>
									</xs:attribute>
									<xs:attribute name="apartment" use="optional">
										<xs:annotation>
											<xs:documentation xml:lang="ro">Apartamentul / Camera</xs:documentation>
										</xs:annotation>
										<xs:simpleType>
											<xs:restriction base="xs:string">
												<xs:maxLength value="20"/>
											</xs:restriction>
										</xs:simpleType>
									</xs:attribute>
									<xs:attribute name="postalCode" use="optional">
										<xs:annotation>
											<xs:documentation xml:lang="ro">Codul poştal</xs:documentation>
										</xs:annotation>
										<xs:simpleType>
											<xs:restriction base="xs:string">
												<xs:maxLength value="40"/>
											</xs:restriction>
										</xs:simpleType>
									</xs:attribute>
								</xs:complexType>
							</xs:element>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
				<xs:element name="contracts">
					<xs:annotation>
						<xs:documentation xml:lang="ro">Adresa unităţii medicale care desfăşoară servicii clinice.</xs:documentation>
					</xs:annotation>
					<xs:complexType>
						<xs:sequence>
							<xs:element name="contract" minOccurs="0" maxOccurs="unbounded">
								<xs:annotation>
									<xs:documentation xml:lang="ro">Datele de identificare ale contractului</xs:documentation>
								</xs:annotation>
								<xs:complexType>
									<xs:attribute name="contractNo" use="required">
										<xs:annotation>
											<xs:documentation xml:lang="ro">Numărul contractului.</xs:documentation>
										</xs:annotation>
										<xs:simpleType>
											<xs:restriction base="xs:string">
												<xs:maxLength value="40"/>
											</xs:restriction>
										</xs:simpleType>
									</xs:attribute>
									<xs:attribute name="contractDate" type="xs:date" use="required">
										<xs:annotation>
											<xs:documentation xml:lang="ro">Data la care a fost încheiat contractul </xs:documentation>
										</xs:annotation>
									</xs:attribute>
									<xs:attribute name="validFrom" type="xs:date" use="required">
										<xs:annotation>
											<xs:documentation xml:lang="ro">Data de început a perioadei de valabilitate a contractului.</xs:documentation>
										</xs:annotation>
									</xs:attribute>
									<xs:attribute name="validTo" type="xs:date" use="optional">
										<xs:annotation>
											<xs:documentation xml:lang="ro">Data de sfârşit a perioadei de valabilitate a contractului.</xs:documentation>
										</xs:annotation>
									</xs:attribute>
									<xs:attribute name="orgUnitCode" use="required">
										<xs:annotation>
											<xs:documentation xml:lang="ro">codul casei de asigurări cu care s-a încheiat contractul.</xs:documentation>
										</xs:annotation>
										<xs:simpleType>
											<xs:restriction base="xs:string">
												<xs:maxLength value="20"/>
											</xs:restriction>
										</xs:simpleType>
									</xs:attribute>
									<xs:attribute name="companyCode" use="required">
										<xs:annotation>
											<xs:documentation xml:lang="ro">Codul furnizorului de servicii medicale.</xs:documentation>
										</xs:annotation>
										<xs:simpleType>
											<xs:restriction base="xs:string">
												<xs:maxLength value="20"/>
											</xs:restriction>
										</xs:simpleType>
									</xs:attribute>
									<xs:attribute name="categoryCode" type="xs:string" use="required">
										<xs:annotation>
											<xs:documentation xml:lang="ro">
												Codul aplicaţiei. Pentru cazul în care furnizorul de servicii desfăşoară mai multe servicii medicale,
												pentru a face distincţie între ele s-a introdus acest cod
											</xs:documentation>
										</xs:annotation>
									</xs:attribute>
									<xs:attribute name="contractType" type="xs:string" use="optional">
										<xs:annotation>
											<xs:documentation xml:lang="ro">Tipul de contract</xs:documentation>
										</xs:annotation>
									</xs:attribute>
									<xs:attribute name="numericReport" type="xs:boolean" use="optional">
										<xs:annotation>
											<xs:documentation xml:lang="ro">Permite raportari numerice </xs:documentation>
										</xs:annotation>
									</xs:attribute>
									<xs:attribute name="isStomPrivat" type="xs:string" use="optional">
										<xs:annotation>
											<xs:documentation xml:lang="ro">Specifica tipul de furnizor de servicii stomatologice </xs:documentation>
										</xs:annotation>
									</xs:attribute>
								</xs:complexType>
							</xs:element>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
				<xs:element name="employees">
					<xs:annotation>
						<xs:documentation xml:lang="ro">Lista de angajaţi (medici şi asistenţi)</xs:documentation>
					</xs:annotation>
					<xs:complexType>
						<xs:sequence>
							<xs:element name="employee" minOccurs="0" maxOccurs="unbounded">
								<xs:annotation>
									<xs:documentation xml:lang="ro">Lista tuturor angajaţilor ce îşi desfăşoară activitatea în unitatea respectivă</xs:documentation>
								</xs:annotation>
								<xs:complexType>
									<xs:sequence>
										<xs:element name="specialities" minOccurs="0">
											<xs:annotation>
												<xs:documentation xml:lang="ro">Lista specialităţilor pe care le are angajatul</xs:documentation>
											</xs:annotation>
											<xs:complexType>
												<xs:sequence>
													<xs:element name="speciality" minOccurs="0" maxOccurs="unbounded">
														<xs:annotation>
															<xs:documentation xml:lang="ro">Specilitatea angajatului, dacă acesta este medic</xs:documentation>
														</xs:annotation>
														<xs:complexType>
															<xs:attribute name="code" use="required">
																<xs:annotation>
																	<xs:documentation xml:lang="ro">Codul din nomenclatorul de specialităţi medicale</xs:documentation>
																</xs:annotation>
																<xs:simpleType>
																	<xs:restriction base="xs:string">
																		<xs:maxLength value="20"/>
																	</xs:restriction>
																</xs:simpleType>
															</xs:attribute>
														</xs:complexType>
													</xs:element>
												</xs:sequence>
											</xs:complexType>
										</xs:element>
									</xs:sequence>
									<xs:attribute name="pid" type="pidType" use="optional">
										<xs:annotation>
											<xs:documentation xml:lang="ro">Codul numeric personal al angajatului.</xs:documentation>
										</xs:annotation>
									</xs:attribute>
									<xs:attribute name="cid" type="xs:string" use="optional"/>
									<xs:attribute name="firstName" use="required">
										<xs:annotation>
											<xs:documentation xml:lang="ro">Numele angajatului.</xs:documentation>
										</xs:annotation>
										<xs:simpleType>
											<xs:restriction base="xs:string">
												<xs:maxLength value="40"/>
											</xs:restriction>
										</xs:simpleType>
									</xs:attribute>
									<xs:attribute name="lastName" use="required">
										<xs:annotation>
											<xs:documentation xml:lang="ro">Prenumele angajatului.</xs:documentation>
										</xs:annotation>
										<xs:simpleType>
											<xs:restriction base="xs:string">
												<xs:maxLength value="40"/>
											</xs:restriction>
										</xs:simpleType>
									</xs:attribute>
									<xs:attribute name="validFrom" type="xs:date" use="required">
										<xs:annotation>
											<xs:documentation xml:lang="ro">Data de la care a fost angajat</xs:documentation>
										</xs:annotation>
									</xs:attribute>
									<xs:attribute name="validTo" type="xs:date" use="optional">
										<xs:annotation>
											<xs:documentation xml:lang="ro">Data până la care a fost angajat (dacă există)</xs:documentation>
										</xs:annotation>
									</xs:attribute>
									<xs:attribute name="dentist" type="xs:boolean" use="optional">
										<xs:annotation>
											<xs:documentation xml:lang="ro">Flag care identifica daca medicul stomatolog are competenta de dentist</xs:documentation>
										</xs:annotation>
									</xs:attribute>
									<xs:attribute name="radiology" type="xs:boolean" use="optional">
										<xs:annotation>
											<xs:documentation xml:lang="ro">Flag care indica daca medicul stomatolog are competenta de radiologist</xs:documentation>
										</xs:annotation>
									</xs:attribute>
									<xs:attribute name="ortodoncy" type="xs:boolean" use="optional">
										<xs:annotation>
											<xs:documentation xml:lang="ro">Flag care indica daca medicul stomatolog are competenta de ortodontist</xs:documentation>
										</xs:annotation>
									</xs:attribute>
									<xs:attribute name="stencilNo" use="optional">
										<xs:annotation>
											<xs:documentation xml:lang="ro">Numărul parafei dacă angajatul este medic.</xs:documentation>
										</xs:annotation>
										<xs:simpleType>
											<xs:restriction base="xs:string">
												<xs:maxLength value="6"/>
											</xs:restriction>
										</xs:simpleType>
									</xs:attribute>
								</xs:complexType>
							</xs:element>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
				<xs:element name="conventions" minOccurs="0">
					<xs:annotation>
						<xs:documentation xml:lang="ro">Lista de convenţii de eliberare de certificate medicale</xs:documentation>
					</xs:annotation>
					<xs:complexType>
						<xs:sequence>
							<xs:element name="convention" minOccurs="0" maxOccurs="unbounded">
								<xs:annotation>
									<xs:documentation xml:lang="ro">Datele convenţiei</xs:documentation>
								</xs:annotation>
								<xs:complexType>
									<xs:sequence>
										<xs:element name="physicians">
											<xs:annotation>
												<xs:documentation xml:lang="ro">Lista medicilor de pe convenţie</xs:documentation>
											</xs:annotation>
											<xs:complexType>
												<xs:sequence>
													<xs:element name="physician" minOccurs="0" maxOccurs="unbounded">
														<xs:annotation>
															<xs:documentation xml:lang="ro">Datele medicului</xs:documentation>
														</xs:annotation>
														<xs:complexType>
															<xs:attribute name="stencilNo" type="xs:string" use="required">
																<xs:annotation>
																	<xs:documentation xml:lang="ro">Codul de parafă al medicului</xs:documentation>
																</xs:annotation>
															</xs:attribute>
														</xs:complexType>
													</xs:element>
												</xs:sequence>
											</xs:complexType>
										</xs:element>
									</xs:sequence>
									<xs:attribute name="conventionNo" type="xs:string" use="required">
										<xs:annotation>
											<xs:documentation xml:lang="ro">Numărul convenţiei</xs:documentation>
										</xs:annotation>
									</xs:attribute>
									<xs:attribute name="conventionDate" type="xs:date" use="required">
										<xs:annotation>
											<xs:documentation xml:lang="ro">Data de încheiere a convenţiei</xs:documentation>
										</xs:annotation>
									</xs:attribute>
									<xs:attribute name="validFrom" type="xs:date" use="required">
										<xs:annotation>
											<xs:documentation xml:lang="ro">Data de inceput a valabilităţii convenţiei</xs:documentation>
										</xs:annotation>
									</xs:attribute>
									<xs:attribute name="validTo" type="xs:date" use="optional">
										<xs:annotation>
											<xs:documentation xml:lang="ro">Data de sfârşit a valabilităţii convenţiei</xs:documentation>
										</xs:annotation>
									</xs:attribute>
									<xs:attribute name="orgUnitCode" type="xs:string" use="required">
										<xs:annotation>
											<xs:documentation xml:lang="ro">Casa de asigurări cu care s-a încheiat convenţia (valoarea codului din nomenclatorul de case de asigurări)</xs:documentation>
										</xs:annotation>
									</xs:attribute>
								</xs:complexType>
							</xs:element>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
				<xs:element name="labServices" minOccurs="0">
					<xs:annotation>
						<xs:documentation xml:lang="ro">Lista serviciilor paraclinice contractate cu casa de asigurări</xs:documentation>
					</xs:annotation>
					<xs:complexType>
						<xs:sequence>
							<xs:element name="labService" minOccurs="0" maxOccurs="unbounded">
								<xs:annotation>
									<xs:documentation xml:lang="ro">Date despre serviciul paraclinic</xs:documentation>
								</xs:annotation>
								<xs:complexType>
									<xs:attribute name="code" use="required">
										<xs:annotation>
											<xs:documentation xml:lang="ro">Codul serviciului paraclinic contractat.</xs:documentation>
										</xs:annotation>
										<xs:simpleType>
											<xs:restriction base="xs:string">
												<xs:maxLength value="20"/>
											</xs:restriction>
										</xs:simpleType>
									</xs:attribute>
									<xs:attribute name="tariff" type="xs:decimal" use="required">
										<xs:annotation>
											<xs:documentation xml:lang="ro">Tariful contractat decontat de casa de asigurări.</xs:documentation>
										</xs:annotation>
									</xs:attribute>
									<xs:attribute name="quantity" type="xs:decimal" use="required"/>
									<xs:attribute name="validFrom" type="xs:date" use="required">
										<xs:annotation>
											<xs:documentation xml:lang="ro">Data de început a perioadei de valabilitate a serviciilor contractate.</xs:documentation>
										</xs:annotation>
									</xs:attribute>
									<xs:attribute name="validTo" type="xs:date" use="optional">
										<xs:annotation>
											<xs:documentation xml:lang="ro">Data de sfârşit a perioadei de valabilitate a serviciilor contractate.</xs:documentation>
										</xs:annotation>
									</xs:attribute>
								</xs:complexType>
							</xs:element>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
			</xs:sequence>
			<xs:attribute name="code" use="required">
				<xs:annotation>
					<xs:documentation xml:lang="ro">Codul furnizorului de servicii</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="20"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
			<xs:attribute name="name" use="required">
				<xs:annotation>
					<xs:documentation xml:lang="ro">numele furnizorului de servicii</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="100"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
			<xs:attribute name="uic" use="required">
				<xs:annotation>
					<xs:documentation xml:lang="ro">Data la care s-a făcut înregistrarea juridică a furnizorului de servicii.</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="20"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
			<xs:attribute name="uicDate" type="xs:date" use="optional">
				<xs:annotation>
					<xs:documentation xml:lang="ro">Data la care s-a făcut înregistrarea juridică a furnizorului de servicii.</xs:documentation>
				</xs:annotation>
			</xs:attribute>
			<xs:attribute name="regNo" use="optional">
				<xs:annotation>
					<xs:documentation xml:lang="ro">Numărul de înregistrare la Registru Comerţului</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="20"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
			<xs:attribute name="regNoDate" type="xs:date" use="optional">
				<xs:annotation>
					<xs:documentation xml:lang="ro">Data de înregistrare la Registru Comerţului</xs:documentation>
				</xs:annotation>
			</xs:attribute>
			<xs:attribute name="attorney">
				<xs:annotation>
					<xs:documentation xml:lang="ro">Reprezentantul legal al furnizorului de servicii</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="100"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
			<xs:attribute name="issueDate" type="xs:dateTime" use="required">
				<xs:annotation>
					<xs:documentation xml:lang="ro">Data şi ora la care a fost generat fişierul în SIUI (timestamp)</xs:documentation>
				</xs:annotation>
			</xs:attribute>
		</xs:complexType>
	</xs:element>
	<xs:simpleType name="pidType">
		<xs:annotation>
			<xs:documentation xml:lang="ro">Definitia tipului de date folosit pentru CNP</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:maxLength value="13"/>
			<xs:minLength value="13"/>
			<xs:pattern value="[0-9]{13}"/>
		</xs:restriction>
	</xs:simpleType>
</xs:schema>
